.value
  position relative
  pl(r(98))
  pt(r(21))
  mb(r(62))
  +mob()
    pl(r(64))
    pt(0)
    mb(r(68))
  img
    position absolute
    left 0
    top 0
    +mob()
      width 50px
      height 50px
  h3
    fs(e(20))
    letter-spacing: 1px;
    mb(r(32))
    +mob()
      mb(r(12))
  &.value-small
    pt(0)
    mb(r(68))
    +mob()
      mb(r(65))
    h3
      fs(e(16))
      letter-spacing normal
      mb(r(18))
      +mob()
        mb(r(22))
