a(href='' title='').blog.blog-about
    .blog--image
        +img('img/illus/about/about2.jpg')
    .blog--description
        p Зустріч членів асоціації з приводу розвитку культури праці на Європейський ринок