header.header-committees
    .container
        .row
            .col-12
                ul.breadcrumbs
                    li
                        a(href='' title='') Головна
                    li
                        a(href='' title='') Комітети та робочі групи
        .row
            .col-sm-6.col-md-6.col-lg-5.col-xl-4
                h1 Комітети та робочі групи

            .col-sm-6.offset-xl-2.offset-md-1.col-lg-4.col-md-5
                p Одним з головних критеріїв успішності нашої роботи є її оцінка компаніями-учасниками. Дізнайтеся, що думають про участь у спільноті представники індустрії. спільноті представники індустрії.

            .col-12
                .tablist-choose Оберіть комітет, що вас цікавить:

                ul.ul-tablist
                    li
                        a(href='' title='').active Загальна інформація
                    li
                        a(href='' title='') Фінансово-правовий комітет
                    li
                        a(href='' title='') Комітет з питань освіти
                    li
                        a(href='' title='') PR комітет
