header.header-about-business

    .container
        .row
            .col-md-6
                ul.breadcrumbs
                    +li-a('Головна')
                    +li-a('Річні та квартальні звіти')
        .row
            .col-sm-6.col-lg-5.col-xl-4
                h1 Річні та квартальні звіти

            .col-sm-6.offset-md-1.col-md-5.col-lg-4.offset-xl-2
                p Ми впевнені, що найкраще про діяльність організації говорять не прес-релізи та гучні заяви, а її реальні досягнення. Познайомтесь з результатами нашої роботи у цифрах, фактах та реалізованих проектах.
