header.header-about-business.header-about-business-without-after

    .container
        .row
            .col-md-6
                ul.breadcrumbs
                    +li-a('Головна')
                    +li-a('Інструменти для захисту інтересів індустрії')
        .row
            .col-md-6
                h1 Інструменти для захисту інтересів індустрії

            .col-md-5
                p Асоціація – ефективний та надійний інструмент для просування та захисту інтересів галузі. Будучи найчисельнішою профільною спільнотою, ми, як ніхто інший, розуміємо індустрію інформаційних технологій в Україні, її особливості та потреби.
