header.header-advantages



    .container
        .row
            .col-md-6
                ul.breadcrumbs
                    li
                        a(href='' title='') Головна
                    li
                        a(href='' title='') Переваги участі в Асоціації
        .row
            .col-md-4
                h1 Переваги участі в Асоціації

            .offset-md-2.col-md-4
                p Ми – спільнота лідерів індустрії, які працюють задля розвитку галузі інформаційних технологій в Україні
