header.header-members
    .container
        .row
            .col-12
                ul.breadcrumbs
                    +li-a('Головна')
                    +li-a('Члени Асоціації')

        .row
            .col-sm-6.col-lg-5.col-xl-4
                h1 Члени Асоціації

            .col-sm-6.offset-md-1.col-md-5.col-lg-5.offset-xl-2
                p Асоціація – ефективний та надійний інструмент для просування та захисту інтересів галузі. Будучи найчисельнішою профільною спільнотою, ми, як ніхто інший, розуміємо індустрію інформаційних

            .col-6
            .col-12
                .tablist-filter
                    ul.ul-tablist.ul-tablist-filter.slider-tablist-filter
                        li
                            +a('Всі')
                            span 431
                        li
                            +a('Дизайн')
                            span 56
                        li
                            +a('SMM', 'active')
                            span 56
                        li
                            +a('Програмування')
                            span 56
                        li
                            +a('Дизайн')
                            span 56
                    .ul-tablist-filter--slider
