header.header-advantages

    .container
        .row
            .col-md-6
                ul.breadcrumbs
                    +li-a('Головна')
                    +li-a('Переваги участі в Асоціації')

        .row
            .col-sm-6.col-lg-5.col-xl-4
                h1.mb-51 Переваги участі в Асоціації

            .col-sm-6.offset-md-1.col-md-5.col-lg-4.offset-xl-2
                p Ми – спільнота лідерів індустрії, які працюють задля розвитку галузі інформаційних технологій в Україні

            .col-12
                hr

