header.header-about-business

    .container
        .row
            .col-md-6
                ul.breadcrumbs
                    +li-a('Головна')
                    +li-a('Партнери Асоціації')
        .row
            .col-sm-6.col-lg-5
                h1 Партнери Асоціації

            .col-sm-6.offset-md-1.col-md-5
                p Асоціація – ефективний та надійний інструмент для просування та захисту інтересів галузі. Будучи найчисельнішою профільною спільнотою, ми, як ніхто інший, розуміємо індустрію інформаційних технологій в Україні, її особливості та потреби.
