header.header-committees
    .container
        .row
            .col-12
                ul.breadcrumbs
                    +li-a('Головна')
                    +li-a('Комітети та робочі групи')

        .row
            .col-sm-6.col-lg-5.col-xl-4
                h1 Комітети та робочі групи

            .col-sm-6.offset-md-1.col-md-5.col-lg-4.offset-xl-2
                p Одним з головних критеріїв успішності нашої роботи є її оцінка компаніями-учасниками. Дізнайтеся, що думають про участь у спільноті представники індустрії. спільноті представники індустрії.

            .col-12
                .tablist-choose Оберіть комітет, що вас цікавить:

                ul.ul-tablist.slider-tablist
                    +li-a('Загальна інформація', 'active')
                    +li-a('Фінансово-правовий комітет')
                    +li-a('Комітет з питань освіти')
                    +li-a('PR комітет')
