header.header-about-business

    .container
        .row
            .col-md-6
                ul.breadcrumbs
                    +li-a('Головна')
                    +li-a('Бізнес про нас')
        .row
            .col-sm-6.col-lg-5.col-xl-4
                h1 Бізнес про нас

            .col-sm-6.offset-md-1.col-md-5.col-lg-4.offset-xl-2
                p Одним з головних критеріїв успішності нашої роботи є її оцінка компаніями-учасниками. Дізнайтеся, що думають про участь у спільноті представники індустрії. спільноті представники індустрії.
