header.header-events-year

    .container
        .row
            .col-md-6
                ul.breadcrumbs
                    +li-a('Головна')
                    +li-a('Головні події року')
            .col-12
                h1 Головні події року

            .col-12
                include ../sliders/_slider-events-year-header
