header.header-advantages

    .container
        .row
            .col-md-6
                ul.breadcrumbs
                    li
                        a(href='' title='') Головна
                    li
                        a(href='' title='') Переваги участі в Асоціації
        .row
            .col-sm-6.col-md-6.col-lg-5.col-xl-4
                h1 Переваги участі в Асоціації

            .col-sm-6.offset-xl-2.offset-md-1.col-lg-4.col-md-5
                p Ми – спільнота лідерів індустрії, які працюють задля розвитку галузі інформаційних технологій в Україні
            .col-12
                hr

