header.header-about-us

    .container
        .row.justify-content-between

            .col-sm-5.col-lg-4.col-xl-3.header-col.left
                ul.breadcrumbs
                    +li-a('Головна')
                    +li-a('Про напрям')

                .header-text
                    h1 Про напрям
                    p ІТ-індустрія - невід'ємна частина глобальної креативної економіки, основою якої є таланти та знання.

            .col-sm-7.header-col.right
                include ../sliders/_slider-header
