//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Про Асоціацію


block content


    +header-about-us('Про нас', 'Ми – найбільше об’єднання компаній-розробників програмного забезпечення в Україні. Спільною працею ми формуємо економіку майбутньої України')

    section
        .container
            .row
                .col-md-5
                    h2 Про Асоціацію

                .col-md-7.col-lg-6
                    p Асоціацію «ІТ України» було засновано у 2004 році провідними компаніями сфери інформаційних технологій - Miratech, Mirasoft, ProFIX, SoftLine, SoftServe та Ukrsoft. За роки своєї діяльності Асоціація стала найбільшою спільнотою компаній-розробників програмного забезпечення в Україні.
                    p На сьогодні до складу Асоціації входить 58 провідних ІТ-компаній, які сукупно формують 50% всієї виручки галузі в Україні.

                    +a('Приєднатись', 'btn btn-margin btn-small')

    include ../components/_sliders/slider-about/slider-about

    section
        .container
            .row

                .col-sm-5
                    h2.mb-48 Місія
                    p Місія Асоціації – забезпечити сприятливі умови для сталого розвитку сфери інформаційних технологій в Україні.
                    .spacer-70
                article.col-sm-7.col-lg-6
                    h2.mb-48 Що ми робимо?
                    ul
                        li Ми захищаємо інтереси індустрії інформаційних технологій в Україні
                        li Ми сприяємо розвитку технічної освіти та кадрового капіталу
                        li Ми промотуємо індустрію в Україні та за її межами, підтримуємо бізнес у встановленні нових ділових контактів
                    p Асоціація представляє інтереси компаній-учасників у міжнародних індустріальних об’єднаннях та організаціях:

                    p
                        +a('DIGITALEUROPE, ')
                        +a('WITSA, ')
                        +a('EMOTA')

    section.back-blue-light
        .container
            .row
                .col-12
                    h2 Наші цінності
                    hr
                    ul.ul-values
                        li
                            +value-item('img/illus/values/value1.svg', 'Розвиток та інноваційність.', 'Ми – проактивна спільнота інноваторів та ентузіастів, які прагнуть сталого розвитку як для своєї справи, так і для всієї країни.')
                        li
                            +value-item('img/illus/values/value2.svg', 'Взаємоповага та рівність.', 'Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу, внеску в діяльність Асоціації та будь-яких інших показників.')
                        li
                            +value-item('img/illus/values/value3.svg', 'Прозорість та відкритість.', 'Ми культивуємо лише чесні, відкриті та партнерські відносини між учасниками спільноти, іншими суб’єктами індустрії.')
                        li
                            +value-item('img/illus/values/value4.svg', 'Командна робота.', 'Ми впевнені, що досягти значних результатів значно простіше разом, аніж поодинці. Тому ми створюємо можливості для кооперації та об’єднання зусиль для спільної роботи над ключовими викликами для ІТ-індустрії в країні.')
                        li
                            +value-item('img/illus/values/value5.svg', 'Націленість на результат.', 'Кожен проект, який ініціює спільнота, націлений на досягнення чіткого та вимірюваного результату.')


    section.section-article
        .container
            .row
                .col-md-6.col-lg-5.col-xl-4
                    h2.mb-41 Керівництво
                    p Представники ІТ-бізнесу, які визначають вектори розвитку та акценти у роботі Асоціації у 2018 році

                    .spacer-61

            .row
                .col-sm-6.col-md-4.col-lg-3
                    +blog-item-chief('img/illus/chiefs/chief1.png', 'Ігор Бєда', 'Керуючий директор GlobalLogic Україна, Президент Асоціації')

                .col-sm-6.col-md-4.col-lg-3
                    +blog-item-chief('img/illus/chiefs/chief2.png', 'Дмитро Овчаренко', 'CEO комапанії Alcor, Віце-президент Асоціації з фінансово-правових питань')

                .col-sm-6.col-md-4.col-lg-3
                    +blog-item-chief('img/illus/chiefs/chief3.png', 'Максим Почебут', 'Керівник освітніх програм в EPAM Systems Ukraine, Віце-президент Асоціації з освітніх питань')

                .col-sm-6.col-md-4.col-lg-3
                    +blog-item-chief('img/illus/chiefs/chief4.png', 'Віктор Левандовський', 'Генеральний директор Internet Devels, Віце-президент Асоціаціїпо роботі з малим та середнім бізнесом')

                .col-12
                    hr
                    //.spacer-127
    section
        .container
            .row
                .col-sm-6.col-md-4
                    h2.mb-41 Виконавці
                    p Команда професіоналів та фанатів своєї справи, яка працює задля того, щоб надати максимум можливостей для розвитку учасників ринку інформаційних технологій в Україні

                .col-sm-6.col-md-4.offset-lg-2.col-lg-3
                    +blog-item-chief-small('img/illus/chiefs/chief5.png', 'Олександр Кубраков', 'Виконавчий директор')

                .col-sm-6.col-md-4.col-lg-3
                    +blog-item-chief-small('img/illus/chiefs/chief5.png', 'Галина Лакуста', 'Операційний директор')

                .col-sm-6.col-md-4.col-lg-3
                    +blog-item-chief-small('img/illus/chiefs/chief5.png', 'Тетяна Назарчук', 'Менеджер проектів')

                .col-sm-6.col-md-4.col-lg-3
                    +blog-item-chief-small('img/illus/chiefs/chief5.png', 'Вікторія Збирко', 'Координатор освітніх проектів')

                .col-sm-6.col-md-4.col-lg-3
                    +blog-item-chief-small('img/illus/chiefs/chief5.png', 'Ярослав Кутовий', 'Керівник напрямку PR')

                .col-sm-6.col-md-4.col-lg-3
                    +blog-item-chief-small('img/illus/chiefs/chief5.png', 'Андрій Брацюк', 'PR-координатор')


    include ../components/_modules/questions/section-questions




