//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Відгук про ІТ Ассоціацію


block content

    header.header-article

        +header-article('', 'Відгук про ІТ Ассоціацію', '')

        .container.header-article--container
            .row
                .offset-md-5.col-md-7
                    .header-article--author
                        ul.ul-status
                            li
                                b Дата публікації:
                                | 21.02.18


    section.section-article
        article.container
            .row
                +director-small('img/illus/director2.png', 'Мирон Назаров', 'PR менеджер Insart', 'Ініціативи, які ми проводимо в рамках Join IT, успішно реалізуються вже 5 років поспіль, а їх географія простягається по всій Україні. Наприклад, у 2017 році ми працювали зі школярами не тільки з великих міст, таких як Київ, Харків, Одеса або Львів, й з менших населених пунктів –Прилук, Конотопа та інших. Ініціативи, які ми проводимо в рамках Join IT, успішно реалізуються вже 5 років поспіль, а їх географія простягається по всій Україні.')

    section.section-article
        article.container
            .row.justify-content-center
                .col-12
                    h2.mb-71 Перегляньте відео відгук:

                .col-sm-10.col-md-8
                    a(data-fancybox='', href='https://www.youtube.com/watch?v=Z5vmp-Qw2-4').video-block
                        +img('img/illus/video/video.png')
                        .video-block--play
                            include ../components/_svgs/play.svg

    section.section-article
        .container
            .row
                .col-md-5
                    h2 Результат:
                .col-md-6
                    p Завдяки спільній роботі представників членів фінансово-правового комітету Асоціації «ІТ України» та експертів BRDO, Міністерством юстиції України було випущено роз’яснення щодо визначення «Місця проживання/місцезнаходження фізичної особи-підприємця». Відтепер, для реєстрації ФОП іноземцям не потрібна посвідка на проживання, а адреса місцезнаходження може бути підтверджена іншими документами – наприклад, договором оренди нерухомості, що знаходиться в Україні.
                    p.text-blue
                        b Порівняльна таблиця запропонованих нововведень та існуючих положень КК та КПК України доступна
                        | &nbsp;
                        +a('за посиланням')

    include ../components/_modules/share/section-share

    section
        .container
            .row
                .col-12
                    h2.text-center.mb-61 Перегляньте також
                .col-sm-6
                    +comment-item-regular('img/illus/comments/comments-regular/comment-regular3.jpg', '21.02.18', 'Дмитро Овчаренко', 'СЕО', 'ALCOR', 'Не дивлячись на конкуренцію між представниками ІТ-ринку, існують певні стратегічні питання, які не можуть бути вирішені самотужки, але від результату яких залежить успішність всієї галузі. Зокрема, це законодавче врегулювання роботи ІТ-сфери, освіта, промоція індустрії в Україні та за її межами.')
                .col-sm-6
                    +comment-item-regular('img/illus/comments/comments-regular/comment-regular4.jpg', '21.02.18', 'Микола Роєнко', 'засновник і президент', 'Miratech', "Потреба підприємств (або співробітників) спілкуватися з колегами, обмінюватися думками, ділитися досвідом, спільно вирішувати загальні проблеми і т.д. є об'єктивною основою того, що в світі існує безліч різних асоціацій - галузевих, професійних, територіальних, наукових, спортивних та ін. Багато з них об'єднують в своїх рядах величезну кількість членів.")