//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Про напрям


block content

    header.header-article.header-article-events

        +header-article('', 'Синергія 2018', 'Асоціації', 'Подія від')

        .container.header-article--container
            .row
                .offset-md-4.col-md-8.offset-lg-4.col-lg-8
                    .header-article--author.header-article--author-report
                        .header-article--author-date
                            .header-article--author-small 18 Червня, 2018
                            .header-article--author-button
                                +btn('Додати до календаря')
                        ul.ul-status
                            li
                                b Час:
                                | 9:00 - 14:00
                            li
                                b Адреса:
                                | вул. Дорогожицька 1, Unit City, Київ
                            li
                                b Умови:
                                | попередня реєстрація обов'язкова та доступна за даним
                                +a('посиланням')
                            li
                                b Цільова аудиторія:
                                | представники ІТ-індустрії, освітніх закладів та державних органів.


    section
        article.container
            .row
                .col-12
                    +img-mod('https://dummyimage.com/2139x1718/d8d8d8/d8d8d8', 'https://dummyimage.com/1139x718/d8d8d8/d8d8d8')

        include ../components/_sliders/slider-graph/slider-graph


    section.section-article
        .container
            .row
                +director('img/illus/director.png', 'Виконавчий директор', 'Дмитро Овчаренко', 'Віце-президент Асоціації з фінансово-правових питань, CEO компанії ALCOR', "Почав свою кар'єру з позиції керівника юридичної служби в одній з найбільших у Східній Європі публічних ІТ-компаній Luxoft. У 2014 році навчався в Женевському унівреситеті за програмою &quot;Інтернет-право&quot;, у 2015-2016 рр. здобув освіту в Каліфорнійському університеті за спеціальною програмою &quot;Technology &amp; Law. Кандидат юридичних наук.")

    section.section-article
        article.container
            .row
                .col-md-6
                    +img-mod('https://dummyimage.com/2139x1718/d8d8d8/d8d8d8', 'https://dummyimage.com/1139x718/d8d8d8/d8d8d8')
                .col-md-6
                    +img-mod('https://dummyimage.com/2139x1718/d8d8d8/d8d8d8', 'https://dummyimage.com/1139x718/d8d8d8/d8d8d8')


    section.section-article
        article.container
            .row
                .col-md-5
                    h2 Висновок:

                .col-md-7.col-lg-6
                    p Асоціацію «ІТ України» було засновано у 2004 році провідними компаніями сфери інформаційних технологій - Miratech, Mirasoft, ProFIX, SoftLine, SoftServe та Ukrsoft. За роки своєї діяльності Асоціація стала найбільшою спільнотою компаній-розробників програмного забезпечення в Україні.

                    p На сьогодні до складу Асоціації входить 58 провідних ІТ-компаній, які сукупно формують 50% всієї виручки галузі в Україні.



    include ../components/_modules/share/section-share-pdf

    section
        .container
            .row
                .col-12
                    h2.text-center.mb-66 Перегляньте також
                .col-sm-6.col-md-4.col-lg-3
                    +calendar-item-report-year('2017', 'Річний звіт')
                .col-sm-6.col-md-4.col-lg-3
                    +calendar-item-report-year('2016', 'Річний звіт')
                .col-sm-6.col-md-4.col-lg-3
                    +calendar-item-report-year('2015', 'Річний звіт')
                .col-sm-6.col-md-4.col-lg-3
                    +calendar-item-report-year('2014', 'Річний звіт')







