//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Внесення змін до кодексів стосовно процедури проведення обшуків


block content

    header.header-article.header-article-initiative

        +header-article('img/illus/headers/header-article.png', 'Внесення змін до кодексів стосовно процедури проведення обшуків', 'Комітету з питань освіти', 'Ініціатива')

        .container.header-article--container
            .row
                .offset-md-5.col-md-7
                    .header-article--author
                        ul.ul-status
                            li
                                b Дата оновлення:
                                | 21.02.18
                            li
                                b Статус:
                                span.ul-project--done
                                    +img('img/illus/done2.svg')
                                    span В процесі


    section.section-article
        article.container
            .row
                .col-md-5
                    h2 Опис проекту

                .col-md-7.col-lg-6
                    p Розробка програмного забезпечення для обладнання вимагає безпосередньої взаємодії компанії-розробника з таким обладнанням, яке в свою чергу, часто знаходиться на етапі прототипу. При цьому зазвичай такі прототипи класифікуються як радіоелектронні засоби та випромінювальні пристрої (РЕЗ та ВП).

    section
        .container
            .row
                .col-12
                    article.attention
                        .row
                            .col-md-5
                                h2 Проблематика
                            .col-md-7
                                p Через неврахування вимог та рекомендацій, які надавалися представниками ІТ-індустрії та інших галузей, поточна редакція Закону про захист бізнесу, відомого як «маски-шоустоп», містить чимало «білих плям» та не вирішує ряд моментів, які б дійсно захищали інтересипідприємців від протиправних дій представників силових структур.

                                p Наприклад, після змін до КК та КПК підстави, за якими силовиків можна було б притягнути до відповідальності за незаконне або «помилкове» вилучення техніки, все ще залишаються не прописаними. Також серед основних термінів кодексів відсутні визначення для електронної та цифрової техніки, терміналів систем зв’язку, банкоматів, серверів та інших технічних пристроїв для зберігання інформації. Всі ці недоліки створюють суттєве поле для зловживань, а деякі гравці ринку вже понесли через них фінансові та репутаційні збитки.
                                p.text-blue
                                    b Задля ефективної роботи новел та реального захисту бізнесу від протиправних дій правоохоронців експертами Асоціації було розроблено ряд пропозицій:
                                ul
                                    li Ввести кримінальну відповідальність слідчих та прокурорів за навмисні «помилки».

                                    li Передбачити можливість оскарження судової постанови про обшук в апеляційному порядку з притягненням до юридичної відповідальності судді районного суду, що видав дану постанову.

                                    li Включити до ст. 3 КПК визначення «сервер» та інших термінів з ІТ-сфери, для однозначного тлумачення усіма сторонами.

                                    li Використати практику Європейського суду з прав людини, зокрема рішення від 23.01.2014 по справі East/West Alliance проти України, та заборонити безпідставне вилучення серверів, як «знарядь та засобів праці».

    section.section-article
        article.container
            .row
                .col-md-5
                    h2 Поточне завдання:

                .col-md-7.col-lg-6
                    p Спільно з Верховним Судом України (Кримінальною колегією), Інститутом комп’ютерних систем в Одесі та експертами Асоціації був розроблений законопроект по внесенню змін в КК та КПК на основі коректного балансу між реалізацією силовими відомствами своєї роботи та захистом інтересів бізнесу.

                    p Наразі спільнотою Асоціації ведеться активний діалог з представниками законодавчої влади, зокрема з Комітетом Верховної Ради з питань законодавчого забезпечення правоохоронної діяльності. Крім цього, йде обговорення питання створення спеціальної робочої групи з експертів ІТ-спільноти для подальшої роботи над ініціативою.

    section
        .container
            .row.justify-content-between

                .col-md-5.col-lg-4.order-2.order-md-1
                    h2.mb-mt-43-38 Мета:
                    p Наближення українського законодавства в сфері захисту бізнесу до європейського та світового рівня, захист інтересів членів Асоціації та інших гравців ринку ід протиправного втручання в господарську діяльність та зловживань з боку правоохоронців, досягнення суттєвого покращення інвестиційного клімату в Україні.

                .offset-sm-2.col-sm-10.offset-md-0.col-md-7.header-col.right.order-1.order-md-2
                    include ../components/_sliders/slider-middle/slider-middle
    section
        .container
            .row.justify-content-between
                .offset-sm-2.col-sm-10.offset-md-5.col-md-7.header-col.right
                    include ../components/_sliders/slider-middle/slider-middle

    section.section-article
        article.container
            .row
                .col-md-5
                    h2 Результат:

                .col-md-7.col-lg-6
                    p Завдяки спільній роботі представників членів фінансово-правового комітету Асоціації «ІТ України» та експертів BRDO, Міністерством юстиції України було випущено роз’яснення щодо визначення «Місця проживання/місцезнаходження фізичної особи-підприємця». Відтепер, для реєстрації ФОП іноземцям не потрібна посвідка на проживання, а адреса місцезнаходження може бути підтверджена іншими документами – наприклад, договором оренди нерухомості, що знаходиться в Україні.
                    p.text-blue
                        b Порівняльна таблиця запропонованих нововведень та існуючих положень КК та КПК України доступна
                            | &nbsp;
                            +a('за посиланням')



    section.section-share
        .container
            .row
                .col-sm-3.col-lg-2
                    ul.ul-article-eye
                        li
                            include ../components/_svgs/eye.svg
                            | 101
                        li
                            include ../components/_svgs/share.svg
                            | 53
                .col-sm-7.col-md-5.col-lg-4
                    ul.ul-article-share
                        li
                            a(href='' title='')
                                include ../components/_svgs/facebook2.svg
                        li
                            a(href='' title='')
                                include ../components/_svgs/twitter.svg
                        li
                            a(href='' title='')
                                include ../components/_svgs/linkedin.svg
                        li
                            a(href='' title='')
                                include ../components/_svgs/google.svg

                .col-12
                    hr

    section
        .container
            .row
                .col-12
                    h2.text-center.mb-61 Перегляньте також
                .col-lg-6
                    +comment-item-initiative('img/illus/comments/comments-initiative/comment-initiative1.png', 'Join IT', 'Проект', 'PR комітет', 'Join IT – це група освітніх проектів з популяризації IT-галузі серед дітей та підлітків, що прагнуть відкрити в собі хист до творчості …')
                .col-lg-6
                    +comment-item-initiative('img/illus/comments/comments-initiative/comment-initiative2.png', 'IT-галузі серед дітей та підлітків', '', 'Фінансово-правовий комітет', 'Join IT – це група освітніх проектів з популяризації IT-галузі серед дітей та підлітків, що прагнуть відкрити в собі хист до творчості …')


    include ../components/_modules/advantage/section-advantages-footer2





