//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Про напрям


block content

    include ../components/_layout/headers/header-member


    section.section-article
        article.container
            .row
                .col-md-5
                    h2 Про компанію

                .col-md-7.col-lg-6
                    p Ciklum is a global software engineering and technology company. Ciklum delivers software engineering excellence to Fortune 500 and fast-growing organizations alike around the world. Since 2002, over 3,000+ developers located in the delivery centers across the globe provide company’s clients with a range of services including extended software development teams, outsourcing software development, Quality Assurance, R&D, IoT, Big Data, and engineering consulting.



    section.section-article
        article.container
            .row
                .col-md-5
                    h2 Технічна інформація про діяльність компанії
                .col-md-7.col-lg-6
                    p
                        b Company's offices in Ukraine:
                        | &nbsp;
                        |Kyiv, Dnipro, Kharkiv, Vinnytsia, Lviv, Odessa

                    p
                        b Company's offices in the world:
                        | &nbsp;
                        | Poland; Spain; Belarus; Pakistan; Denmark; Israel; Switzerland; UK, USA; UAE, Germany

                    p
                        b Total number of specialists in Ukraine:
                        | &nbsp;
                        | 2400+

                    p
                        b Total number of specialists in the world:
                        | &nbsp;
                        | 3200+

                    p
                        b Major clients:
                        | &nbsp;
                        | Just Eat, Jabra, EFG, Flixbus, Thomas Cook, Google, Sisense, Intel, Lenovo, Zurich Insurance Group, Betsson, CC-Interactive, 20/20 Vision

    section.section-article
        .container
            .row.justify-content-between

                .offset-sm-2.col-sm-10.offset-md-5.col-md-7.header-col.right
                    include ../components/_sliders/slider-middle/slider-middle


    section.section-article
        .container
            .row
                .col-12
                    h2.mb-66 Клієнти компанії
                    ul.ul-clients
                        li
                            a(href='' title='')
                                +img('img/illus/members/member1.jpg')
                        li
                            a(href='' title='')
                                +img('img/illus/members/member2.png')
                        li
                            a(href='' title='')
                                +img('img/illus/members/member3.jpg')
                        li
                            a(href='' title='')
                                +img('img/illus/members/member4.png')
                    .spacer-36
                    hr.mb-mt-82-30



    section
        article.container
            .row
                .col-12
                    h2.mb-66.text-center Статті компанії
                .col-12
                    .row.row-publications
                        .col-md-6.col-lg-4.col-xl-3
                            +news-author('img/illus/news/news1.jpg', 'Іван Микитюк', 'Ciklum', 'голова відділу PR',   'Відтепер ввозити прототипи для R&D цілей в Україну стане простіше','Завдяки спільній роботі галузевих експертів були прийняті новели, що значно спрощують процедуру імпорту в Україну прототипів обладнання для R&D цілей (дослідження та розробки).', '13.02.2018')
                        .col-md-6.col-lg-4.col-xl-3
                            +news-author('img/illus/news/news2.jpg','Іван Микитюк', 'Ciklum', 'голова відділу PR','ELEKS та Miratech - у списку фіналістів престижної премії European IT & Software Excellence Awards 2018','ІТ Europa, міжнародна агенція, яка займається ринковими дослідженнями, оприлюднила список фіналістів престижної загальноєвропейської премії European IT & Software Excellence Awards.', '20.03.18')
                        .col-md-6.col-lg-4.col-xl-3
                            +news-author('img/illus/news/news3.jpg','Іван Микитюк', 'Ciklum', 'голова відділу PR','18 українських компаній увійшли до ТОП-100 кращих провайдерів ІТ-послуг у світі','Міжнародна організація IAOP (International Association of Outsourcing Professionals) під час своєї щорічної події Outsourcing World Summit, традиційно підбила підсумки року та оприлюднила список кращих світових постачальників ІТ-послуг.', '20.02.18')
                        .col-md-6.col-lg-4.col-xl-3
                            +news-author('img/illus/news/news4.jpg','Іван Микитюк', 'Ciklum', 'голова відділу PR','5 українських ІТ-компаній потрапили до міжнародного рейтингу Inc. 5000','Вітчизняний ІТ-бізнес продовжує отримувати міжнародне визнання. Цього разу 5 українських компаній зі сфери інформаційних технологій увійшли до відомого рейтингу «Inc. 5000 Europe» – списку приватних компаній Європи, які розвиваються найбільш динамічно.','28.02.18')




    include ../components/_modules/advantage/section-advantages-footer.pug






