//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Комітети та робочі групи


block content


    header.header-committees

        +header-part('Комітети та робочі групи', 'Одним з головних критеріїв успішності нашої роботи є її оцінка компаніями-учасниками. Дізнайтеся, що думають про участь у спільноті представники індустрії. спільноті представники індустрії.')

        .container
            .row
                .col-12
                    .tablist-choose Оберіть комітет, що вас цікавить:

                    ul.ul-tablist.slider-tablist
                        +li-a('Загальна інформація', 'active')
                        +li-a('Фінансово-правовий комітет')
                        +li-a('Комітет з питань освіти')
                        +li-a('PR комітет')

    section
        .container
            .row

                .col-md-5
                    h2 Фінансово-правовий комітет

                .col-md-7
                    p Фінансово-правовий комітет Асоціації здійснює юридичну підтримку і захист спільних інтересів компаній-учасників. Діяльність комітету спрямована на колегіальне обговорення і виявлення проблемних моментів у чинному законодавстві в ІТ-сфері та розробку дієвих пропозицій щодо внесення до нього необхідних змін.

    section.section-article
        .container
            .row

                .col-sm-5.col-lg-4
                    h2.mb-48 Пріоритети роботи комітету на 2018 рік

                article.col-sm-7.offset-lg-1.col-lg-6
                    ul
                        li Збереження моделі роботи зі спеціалістами як з приватними підприємцями
                        li Спрощення процедур, пов’язаних з релокацією іноземних спеціаліств в Україну
                        li Робота над законодавством у площині отримання працівниками ІТ-компаній в Україні цінних паперів та опціонів
                        li Робота над законопроектом щодо захисту ІТ-компаній від протиправних обшуків та зловживань під час них

    section
        .container
            .row
                +director('img/illus/director.png', 'Виконавчий директор', 'Дмитро Овчаренко', 'Віце-президент Асоціації з фінансово-правових питань, CEO компанії ALCOR', "Почав свою кар'єру з позиції керівника юридичної служби в одній з найбільших у Східній Європі публічних ІТ-компаній Luxoft. У 2014 році навчався в Женевському унівреситеті за програмою &quot;Інтернет-право&quot;, у 2015-2016 рр. здобув освіту в Каліфорнійському університеті за спеціальною програмою &quot;Technology &amp; Law. Кандидат юридичних наук.")
                .col-12
                    hr.mb-mt-82-90
                    h2.mb-71 Ініціативи комітету
                .col-lg-6
                    +comment-item-initiative('img/illus/director.png', 'Join IT', 'Проект', 'PR комітету', 'Join IT – це група освітніх проектів з популяризації IT-галузі серед дітей та підлітків, що прагнуть відкрити в собі хист до творчості …')
                .col-lg-6
                    +comment-item-initiative-done('img/illus/comments/comments-initiative/comment-initiative1.png', 'IT-галузі серед дітей та підлітків', '', 'Фінансово-правовий комітет', 'Join IT – це група освітніх проектів з популяризації IT-галузі серед дітей та підлітків, що прагнуть відкрити в собі хист до творчості …')


    include ../components/_modules/committiees/_section-committiees-more





