//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Про напрям


block content

    header.header-newsin

        +header-newsin('18 українських компаній увійшли до ТОП-100 кращих провайдерів ІТ-послуг у світі')

        .container.header-article--container
            .row
                .offset-md-5.col-md-7.offset-lg-7.col-lg-5
                    .header-article--author
                        ul.ul-status
                            li
                                b Дата публікації:
                                | 21.02.18
                            li
                                    b Публікація:

                                    span.company Ciklum
                                    | , Іван Микитюк, голова відділу PR




    section
        article.article-news.container
            .row.justify-content-center
                .col-md-10.col-lg-8
                    h2 Заголовок 1
                    p Минулого тижня ділову спільноту України сколихнула новина щодо реєстрації проекту закону #8089, який було надано для ознайомлення Верховні Раді 3 березня. Ключовою новелою законопроекту стала повна відмова від третьої групи спрощеної системи оподаткування доходів фізичних осіб-підприємців. Окрім перерахованих у тексті законопроекту «активних користувачів» третьої групи, спрощеною системою оподаткування за даною групою користуються ще і представники креативних індустрій – одного з головних драйверів росту економік сучасних розвинутих країн. Креативні індустрії – це галузі економіки, які не вимагають наявності сировини для виробництва товару чи послуги, а базуються на знаннях, талантах, творчості та вмінні працювати з інформацією. Для креативних індустрій характерні висока додана вартість продукту, динамічне робоче середовище, створення та розвиток інновацій, та контрактна форма роботи, що вже стала звичним, невід’ємним стандартом для даного сегменту. До креативних індустрій відносяться такі сфери, як реклама, архітектура, дизайн та мода, виробництво візуального та аудіо-контенту, інформаційні технології (ІТ). Саме остання галузь сьогодні розвивається в Україні найбільш динамічно, і саме для неї наслідки, які можуть настати після впровадження законопроекту у життя, будуть вкрай негативними:
                    h3 1. Суттєве зниження темпів фінансового росту індустрії та скорочення обсягів валютної виручки.
                    p Без жодного стимулювання з боку держави, сьогодні, формуючи понад 3% ВВП та близько 7% від всього експорту України, ІТ-послуги посідають третю сходинку за обсягами валютної виручки, відстаючи за цим показником лише від аграрної промисловості та металургії. Тобто, експорт ІТ-послуг є одним з головних джерел надходження іноземної валюти до країни. Важливим буде відмітити і той факт, що саме сфера інформаційних технологій в Україні демонструє стале зростання – 20% за минулий рік ($3.6 млрд. виручки), а цього року учасники прогнозують ріст доходів галузі ще щонайменше на 20% ($4.5 млрд.). За збереження поточних податкових умов, індустрія може подвоїти обсяги експортного доходу в перспективі найближчих кількох років. За наявності негативних чинників, основним з яких є зміна фіскальної політики, індустрії загрожує суттєве сповільнення темпів росту, а державі – недоотримання мільярдів доларів США в економіку країни.
                    h3 2. Зменшення кількості робочих місць у галузі та відтік спеціалістів з країни.
                    p Без жодного стимулювання з боку держави, сьогодні, формуючи понад 3% ВВП та близько 7% від всього експорту України, ІТ-послуги посідають третю сходинку за обсягами валютної виручки, відстаючи за цим показником лише від аграрної промисловості та металургії. Тобто, експорт ІТ-послуг є одним з головних джерел надходження іноземної валюти до країни. Важливим буде відмітити і той факт, що саме сфера інформаційних технологій в Україні демонструє стале зростання – 20% за минулий рік ($3.6 млрд. виручки), а цього року учасники прогнозують ріст доходів галузі ще щонайменше на 20% ($4.5 млрд.). За збереження поточних податкових умов, індустрія може подвоїти обсяги експортного доходу в перспективі найближчих кількох років. За наявності негативних чинників, основним з яких є зміна фіскальної політики, індустрії загрожує суттєве сповільнення темпів росту, а державі – недоотримання мільярдів доларів США в економіку країни.
                        +a('http://itukraine.org.ua')
                        | Цьогоріч вітальним словом Форум відкривали
                        b Микола Роєнко
                        | , президент компанії Miratech, та
                        b Юрій Антонюк
                        | , керуючий директор ЕРАМ Україна, президент Асоціації «ІТ України».
                    +img('img/illus/news/newsin.png')
                    blockquote
                        p Зараз в Україні функціонує понад 100 науково-дослідницьких центрів великих міжнародних компаній. І саме досвід роботи у сфері дослідження та розробки є дуже сильною стороною України, яку однозначно потрібно використати. Крім цього, українські ІТ-компанії можуть заповнити ніші у таких затребуваних сьогодні сферах як blockchain, автоматизація процесів, розробка ігор та візуальних ефектів, створення систем електронного урядування для країн, що розвиваються
                        .blockquote-author Відзначив Чіраг Рават сильні сторони вітчизняної ІТ-індустрії.
                    h3 Довідка:
                    p
                        b IT Europa Media &amp; Intelligence Ltd
                        | – міжнародна агенція та медіа-платформа, головною сферою діяльності якої є стратегічні дослідження ринків, аналіз ІТ-ринку Європи. Офіс організації розміщується у м. Аксбрідж, Велика Британія.
                    p
                        b European IT &amp; Software Excellence Awards
                        | – щорічна загальноєвропейська премія, метою якої є визначення найкращих компаній у наступних категоріях: незалежні розробники програмного забезпечення, провайдери ІТ-рішень, системні інтегратори, вендори та дистриб’ютори. Започатковано у 2008 році.
                    +img('img/illus/graph/graph.png')
                    h3 Список:
                    ul
                        li
                            b Summer Code School.
                            | Літня школа з програмування для дітей та підлітків віком від 12 до 17 років, що проводиться за підтримки Міністерства освіти та науки і Комітету Верховної Ради України з питань інформатизації та зв’язку

                        li
                            b Профорієнтаційні зустрічі.
                            | Провідні ІТ-фахівці компаній-учасників Асоціації проводять відкриті лекції в загальноосвітніх закладах, під час яких розповідають учням про те, які кроки вони мають зробити, щоб почати кар’єру в індустрії

                        li
                            b Профорієнтаційний портал.
                            | Це онлайн-майданчик, який допоможе новачкам зорієнтуватися в світі ІТ-технологій та визначитися з напрямком свого майбутнього розвитку
                    h3 Нумерований список:
                    ol
                        li
                            b Summer Code School.
                            | Літня школа з програмування для дітей та підлітків віком від 12 до 17 років, що проводиться за підтримки Міністерства освіти та науки і Комітету Верховної Ради України з питань інформатизації та зв’язку

                        li
                            b Профорієнтаційні зустрічі.
                            | Провідні ІТ-фахівці компаній-учасників Асоціації проводять відкриті лекції в загальноосвітніх закладах, під час яких розповідають учням про те, які кроки вони мають зробити, щоб почати кар’єру в індустрії

                        li
                            b Профорієнтаційний портал.
                            | Це онлайн-майданчик, який допоможе новачкам зорієнтуватися в світі ІТ-технологій та визначитися з напрямком свого майбутнього розвитку

                    include ../components/_sliders/slider-middle/slider-middle.pug


    include ../components/_modules/share/section-share

    section
        article.container
            .row
                .col-12
                    h2.mb-66.text-center Перегляньте інші статті автора:
                .col-12
                    .row.row-publications
                        .col-md-6.col-lg-4.col-xl-3
                            +news-association('img/illus/news/news1.jpg', 'Ciklum',    'Відтепер ввозити прототипи для R&D цілей в Україну стане простіше','Завдяки спільній роботі галузевих експертів були прийняті новели, що значно спрощують процедуру імпорту в Україну прототипів обладнання для R&D цілей (дослідження та розробки).', '13.02.2018')
                        .col-md-6.col-lg-4.col-xl-3
                            +news-association('img/illus/news/news1.jpg', 'Ciklum',    'Відтепер ввозити прототипи для R&D цілей в Україну стане простіше','Завдяки спільній роботі галузевих експертів були прийняті новели, що значно спрощують процедуру імпорту в Україну прототипів обладнання для R&D цілей (дослідження та розробки).', '13.02.2018')
                        .col-md-6.col-lg-4.col-xl-3
                            +news-association('img/illus/news/news1.jpg', 'Ciklum',    'Відтепер ввозити прототипи для R&D цілей в Україну стане простіше','Завдяки спільній роботі галузевих експертів були прийняті новели, що значно спрощують процедуру імпорту в Україну прототипів обладнання для R&D цілей (дослідження та розробки).', '13.02.2018')
                        .col-md-6.col-lg-4.col-xl-3
                            +news-association('img/illus/news/news2.jpg','Ciklum', 'ELEKS та Miratech - у списку фіналістів престижної премії European IT & Software Excellence Awards 2018','ІТ Europa, міжнародна агенція, яка займається ринковими дослідженнями, оприлюднила список фіналістів престижної загальноєвропейської премії European IT & Software Excellence Awards.', '20.03.18')