//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Новини напряму


block content

    include ../components/_layout/headers/header-news-association


    section.section-news-big
        .container
            include ../components/_modules/news/news-big

            .row
                .col-12
                    hr





    section.section-top-zero
        .container
            .row
                .col-sm-6.col-lg-4.col-xl-3
                    +news-association('img/illus/news/news1.jpg', 'Ciklum',    'Відтепер ввозити прототипи для R&D цілей в Україну стане простіше','Завдяки спільній роботі галузевих експертів були прийняті новели, що значно спрощують процедуру імпорту в Україну прототипів обладнання для R&D цілей (дослідження та розробки).', '13.02.2018')
                .col-sm-6.col-lg-4.col-xl-3
                    +news-association('img/illus/news/news2.jpg','Ciklum', 'ELEKS та Miratech - у списку фіналістів престижної премії European IT & Software Excellence Awards 2018','ІТ Europa, міжнародна агенція, яка займається ринковими дослідженнями, оприлюднила список фіналістів престижної загальноєвропейської премії European IT & Software Excellence Awards.', '20.03.18')
                .col-sm-6.col-lg-4.col-xl-3
                    +news-association('img/illus/news/news3.jpg','Ciklum', '18 українських компаній увійшли до ТОП-100 кращих провайдерів ІТ-послуг у світі','Міжнародна організація IAOP (International Association of Outsourcing Professionals) під час своєї щорічної події Outsourcing World Summit, традиційно підбила підсумки року та оприлюднила список кращих світових постачальників ІТ-послуг.', '20.02.18')
                .col-sm-6.col-lg-4.col-xl-3
                    +news-association('img/illus/news/news4.jpg','Ciklum', '5 українських ІТ-компаній потрапили до міжнародного рейтингу Inc. 5000','Вітчизняний ІТ-бізнес продовжує отримувати міжнародне визнання. Цього разу 5 українських компаній зі сфери інформаційних технологій увійшли до відомого рейтингу «Inc. 5000 Europe» – списку приватних компаній Європи, які розвиваються найбільш динамічно.','28.02.18')
                .col-sm-6.col-lg-4.col-xl-3
                    +news-association('img/illus/news/news1.jpg','Ciklum', 'Відтепер ввозити прототипи для R&D цілей в Україну стане простіше','Завдяки спільній роботі галузевих експертів були прийняті новели, що значно спрощують процедуру імпорту в Україну прототипів обладнання для R&D цілей (дослідження та розробки).', '13.02.2018')
                .col-sm-6.col-lg-4.col-xl-3
                    +news-association('img/illus/news/news2.jpg','Ciklum', 'ELEKS та Miratech - у списку фіналістів престижної премії European IT & Software Excellence Awards 2018','ІТ Europa, міжнародна агенція, яка займається ринковими дослідженнями, оприлюднила список фіналістів престижної загальноєвропейської премії European IT & Software Excellence Awards.', '20.03.18')
                .col-sm-6.col-lg-4.col-xl-3
                    +news-association('img/illus/news/news3.jpg','Ciklum', '18 українських компаній увійшли до ТОП-100 кращих провайдерів ІТ-послуг у світі','Міжнародна організація IAOP (International Association of Outsourcing Professionals) під час своєї щорічної події Outsourcing World Summit, традиційно підбила підсумки року та оприлюднила список кращих світових постачальників ІТ-послуг.', '20.02.18')
                .col-sm-6.col-lg-4.col-xl-3
                    +news-association('img/illus/news/news4.jpg','Ciklum', '5 українських ІТ-компаній потрапили до міжнародного рейтингу Inc. 5000','Вітчизняний ІТ-бізнес продовжує отримувати міжнародне визнання. Цього разу 5 українських компаній зі сфери інформаційних технологій увійшли до відомого рейтингу «Inc. 5000 Europe» – списку приватних компаній Європи, які розвиваються найбільш динамічно.','28.02.18')


            include ../components/_widgets/pagination/pagination



