extend layouts/_layout-pages.pug

block title
    | IT Ukraine Association - Головна сторінка


block content

    section
        .container
            .row
                .col-12
                    h2 Сторінки
                .col-md-4.col-lg-3
                    a(href='index.html' title='' target='_blank').btn Головна сторінка
                .col-md-4.col-lg-3
                    a(href='about-business.html' title='' target='_blank').btn Бізнес про нас
                .col-md-4.col-lg-3
                    a(href='about-direction.html' title='' target='_blank').btn Про напрям
                .col-md-4.col-lg-3
                    a(href='about-us.html' title='' target='_blank').btn Про Асоціацію
            .spacer-28
            .row
                .col-md-4.col-lg-3
                    a(href='article-businessin.html' title='' target='_blank').btn Переваги участі в Асоціації
                .col-md-4.col-lg-3
                    a(href='article-initiativein.html' title='' target='_blank').btn Комітети та робочі групи
                .col-md-4.col-lg-3
                    a(href='article-projectsin.html' title='' target='_blank').btn Комітети та робочі групи 2
                .col-md-4.col-lg-3
                    a(href='article-reportsin.html' title='' target='_blank').btn Головні події року
            .spacer-28
            .row
                .col-md-4.col-lg-3
                    a(href='advantages.html' title='' target='_blank').btn Переваги участі в Асоціації
                .col-md-4.col-lg-3
                    a(href='committees.html' title='' target='_blank').btn Комітети та робочі групи
                .col-md-4.col-lg-3
                    a(href='committees2.html' title='' target='_blank').btn Комітети та робочі групи 2
                .col-md-4.col-lg-3
                    a(href='events-year.html' title='' target='_blank').btn Головні події року
            .spacer-28
            .row
                .col-md-4.col-lg-3
                    a(href='news-association.html' title='' target='_blank').btn Інструменти для захисту інтересів індустрії
                .col-md-4.col-lg-3
                    a(href='news-author.html' title='' target='_blank').btn Члени Асоціації
                .col-md-4.col-lg-3
                    a(href='news-branch.html' title='' target='_blank').btn Річні та квартальні звіти
                .col-md-4.col-lg-3
                    a(href='news-direction.html' title='' target='_blank').btn Партнери Асоціації
            .spacer-28
            .row
                .col-md-4.col-lg-3
                    a(href='instruments.html' title='' target='_blank').btn Інструменти для захисту інтересів індустрії
                .col-md-4.col-lg-3
                    a(href='members.html' title='' target='_blank').btn Члени Асоціації
                .col-md-4.col-lg-3
                    a(href='reports.html' title='' target='_blank').btn Річні та квартальні звіти
                .col-md-4.col-lg-3
                    a(href='partners.html' title='' target='_blank').btn Партнери Асоціації
            .spacer-28
            .row
                .col-md-4.col-lg-3
                    a(href='projects-initiatives.html' title='' target='_blank').btn Проекти та ініціативи
                .col-md-4.col-lg-3
                    a(href='projects-initiatives2.html' title='' target='_blank').btn Проекти та ініціативи 2
            //    .col-md-4.col-lg-3
            //        a(href='' title='' target='_blank').btn Голвна сторінка
            //    .col-md-4.col-lg-3
            //        a(href='' title='' target='_blank').btn Голвна сторінка
            .spacer-28