extend layouts/_layout-pages.pug

block title
    | IT Ukraine Association - Головна сторінка


block content

    //mixin ul-a(array, className)
    //    ul(class= className)
    //        each val in array
    //            li
    //                a(href='' title='')= val

        var partners =[{ "name":"partnerx", "image": "imagex" }, { "name": "partnery", "image": "imagey" }]

        ul#slides.swiper-wrapper
           each partner in partners
             li.swiper-slide
               img(src=partner.image, alt=partner.name)

    -var n = 1

    -array = [{name: 'Відгук', href: 'about-business.html'}, {name: 'Про напрям', href: 'about-direction.html'}, {name: 'Про нас', href: 'about-us.html'}, {name: 'Переваги', href: 'advantages.html'}, {name: 'Відгук', href: 'article-businessin.html'}, {name: 'Подія', href: 'article-eventsin.html'}, {name: 'Ініціатива Внутрішня', href: 'article-initiativein.html'}, {name: 'Ініціатива Внутрішня 2', href: 'article-initiativein2.html'}, {name: 'Член Асоціації', href: 'article-membersin.html'}, {name: 'Проект Внутрішня', href: 'article-projectsin.html'}, {name: 'Звіт Внутрішня', href: 'article-reportsin.html'}, {name: 'Комітети', href: 'committees.html'}, {name: 'Комітети 2', href: 'committees2.html'}, {name: 'Головні Події', href: 'events-year.html'}, {name: 'Головна', href: 'index.html'}, {name: 'Інструменти', href: 'instruments.html'}, {name: 'Члени Асоціації', href: 'members.html'}, {name: '', href: 'news-association.html'},{name: '', href: 'news-author.html'},{name: '', href: 'news-authorin.html'},{name: '', href: 'news-authorin2.html'}, {name: '', href: 'news-branch.html'},{name: '', href: 'news-branchin.html'},{name: '', href: 'news-branchin2.html'},{name: '', href: 'news-direction.html'},{name: '', href: 'partners.html'},{name: 'Проекти та ініціативи', href: 'projects-initiatives.html'},{name: 'Проекти та ініціативи 2', href: 'projects-initiatives2.html'},{name: 'Звіти', href: 'reports.html'},]

    section
        .container
            .row
                each val in array
                    .col-md-4.col-lg-3
                        a(href= val.href title='' target='_blank' style='margin-bottom:25px').btn
                            = n++
                            | .
                            | &nbsp;
                            = val.name
