//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Партнери Асоціації

block content


    +header-about-business('Партнери Асоціації', 'Асоціація – ефективний та надійний інструмент для просування та захисту інтересів галузі. Будучи найчисельнішою профільною спільнотою, ми, як ніхто інший, розуміємо індустрію інформаційних технологій в Україні, її особливості та потреби.')

    section.section-comments-big.section-comments
        .container
            .row.row-partners.no-gutters
                .col-sm-6.col-md-4.col-xl-3
                        +member-item-partner('img/illus/partners/partner1.png', 'УкрСиббанк BNP Paribas Group – це банк, що є активним членом IT-асоціації України. Банк пропонує ІТ-фахівцям найкращі продукти та послуги, а також професійну фінансову експертизу. УкрСиббанк також відкриває спеціалізовані відділи поруч із офісами ІТ-компаній.\n' +
                    '        | Разом з Startup.Network в 2017 році УкрСибБанк організували «Битву стартапів» для представників FinTech та IT-компаній з 10 українських міст.\n')
                .col-sm-6.col-md-4.col-xl-3
                        +member-item-partner('img/illus/partners/partner2.svg', 'Компанія Alcor надає своїм клієнтам альтернативні послуги з ВРО порівняно з традиційними аутсорсинговими моделями. Alcor має більш ніж десятирічний досвід на ринку та пропонує своїм клієнтам послуги майже 100 тисяч талановитих українських IT-спеціалістів. Компанія також надає послуги з відкриття R&D-центрів та підтримку проекту замовника у майбутньому – від рекомендацій з розташування офісу до рекрутингу, брендингу, юридичних та фінансових послуг.')
                .col-sm-6.col-md-4.col-xl-3
                        +member-item-partner('img/illus/partners/partner3.png', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI стор […]')
                .col-sm-6.col-md-4.col-xl-3
                        +member-item-partner('img/illus/partners/partner4.png', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI стор […]')
                .col-sm-6.col-md-4.col-xl-3
                        +member-item-partner('img/illus/partners/partner5.png', 'PwC надає широкий спектр професіональних послуг, пропонуючи своїм клієнтам страхові, консультативні та податкові рішення. Компанія допомагає клієнтам у різних галузях промисловості по всьому світу збільшити цінність свого бізнесу, зменшити та скерувати ризики, а також поліпшити їхню продуктивність. PwC має більш ніж 236 тисяч співробітників у 157 країнах світу і є найбільшою в світі мережею з надання професійних послуг.')

        .container
            .spacer-36
            include ../components/_widgets/pagination/pagination