//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Результати пошуку


block content


    header.header-search
        +header-search('Результати пошуку за запитом:', 'Останні новини ІТ Ассоціації України уфешщпоаушцщопкізщоиктущфшпокщ')

    section.section-search
        .container
            .row
                .col-12
                    +search('img/illus/slider.png','Обрано нового Президента та членів Ради. Це значуща подія для ІТ Ассоціації', 'Вчора, 13 грудня, відбулися Загальні збори учасників Асоціації «ІТ України». Приєднуйтесь до нас, щоб дізнатися…', '21.02.18', 'Головна / Переваги участі …')
                    +search('img/illus/slider.png','Обрано нового Президента та членів Ради. Це значуща подія для ІТ Ассоціації', 'Вчора, 13 грудня, відбулися Загальні збори учасників Асоціації «ІТ України». Приєднуйтесь до нас, щоб дізнатися…', '21.02.18', 'Головна / Переваги участі …')
                    +search('img/illus/slider.png','Обрано нового Президента та членів Ради. Це значуща подія для ІТ Ассоціації', 'Вчора, 13 грудня, відбулися Загальні збори учасників Асоціації «ІТ України». Приєднуйтесь до нас, щоб дізнатися…', '21.02.18', 'Головна / Переваги участі …')
                    +search('img/illus/slider.png','Обрано нового Президента та членів Ради. Це значуща подія для ІТ Ассоціації', 'Вчора, 13 грудня, відбулися Загальні збори учасників Асоціації «ІТ України». Приєднуйтесь до нас, щоб дізнатися…', '21.02.18', 'Головна / Переваги участі …')
                    +search('img/illus/slider.png','Обрано нового Президента та членів Ради. Це значуща подія для ІТ Ассоціації', 'Вчора, 13 грудня, відбулися Загальні збори учасників Асоціації «ІТ України». Приєднуйтесь до нас, щоб дізнатися…', '21.02.18', 'Головна / Переваги участі …')
                    +search('img/illus/slider.png','Обрано нового Президента та членів Ради. Це значуща подія для ІТ Ассоціації', 'Вчора, 13 грудня, відбулися Загальні збори учасників Асоціації «ІТ України». Приєднуйтесь до нас, щоб дізнатися…', '21.02.18', 'Головна / Переваги участі …')
                    +search('img/illus/slider.png','Обрано нового Президента та членів Ради. Це значуща подія для ІТ Ассоціації', 'Вчора, 13 грудня, відбулися Загальні збори учасників Асоціації «ІТ України». Приєднуйтесь до нас, щоб дізнатися…', '21.02.18', 'Головна / Переваги участі …')
                    +search('img/illus/slider.png','Обрано нового Президента та членів Ради. Це значуща подія для ІТ Ассоціації', 'Вчора, 13 грудня, відбулися Загальні збори учасників Асоціації «ІТ України». Приєднуйтесь до нас, щоб дізнатися…', '21.02.18', 'Головна / Переваги участі …')

        .spacer-90
        .container
            include ..//components/_widgets/pagination/pagination.pug










