footer
    .container
        .row.justify-content-center
            .col-lg-7.col-md-8.col-sm-8
                h5 Підпишіться на наші оновлення
                form.form-footer
                    .input-shadow
                        input(type='email' placeholder='Введіть ваш e-mail')
                    button.btn ПІДПИСАТИСЬ

            .offset-lg-1.col-xl-2.col-lg-3.col-md-4.col-sm-4
                h6 Контакти
                p Адреса:  01001, м. Київ, вул. Хрещатик, 10 (IHub)
                p Телефони:
                    a(href='' title='') +38 099 266 39 03,
                    a(href='' title='') +38 044 591 10 24
                p E-mail:
                    a(href='' title='') office@itukraine.org.ua
                ul.ul-social
                    li
                        a(href='' title='')
                            include ../svgs/facebook.svg
                            | Facebook
    .footer-bottom
        .container
            .row.justify-content-between
                .col-5.col-sm-3
                    .footer-copyright Copyright © 2018. Всі права захищені.
                .col-4.col-sm-2
                    a(href='//volta.one' title='Volta Agency' target='_blank').volta
                        span.volta--text created by
                        span.volta--visible
                            include ../svgs/volta1.svg

                        span.volta--hidden
                            include ../svgs/volta2.svg

