footer
    .container
        .row.justify-content-center
            .col-sm-8.col-lg-7
                h5 Підпишіться на наші оновлення
                form.form-footer
                    .input-group-shadow
                        input(type='email' placeholder='Введіть ваш e-mail')
                        .input-group-shadow--shade
                    button.btn ПІДПИСАТИСЬ

            address.col-sm-4.offset-lg-1.col-lg-3.col-xl-2
                h6 Контакти
                p Адреса:  01001, м. Київ, вул. Хрещатик, 10 (IHub)
                p Телефони:
                    a(href='tel:' title='') +38 099 266 39 03,
                    a(href='tel:' title='') +38 044 591 10 24
                p E-mail:
                    a(href='mailto:' title='') office@itukraine.org.ua
                ul.ul-social
                    li
                        a(href='' title='')
                            include ../svgs/facebook.svg
                            | Facebook
    .footer-bottom
        .container
            .row.justify-content-between

                .col-6.col-sm-3
                    .footer-copyright Copyright © 2018. Всі права захищені.

                .col-4.col-sm-2
                    include _volta

