.row
    .col-12
        ul.pagination
            li.arrow.left
                a(href='' title='')
                    include ../svgs/arrow-left.svg
            li
                a(href='' title='') 1
            li
                a(href='' title='') 2
            li
                a(href='' title='').active 3
            li
                a(href='' title='') 4
            li
                a(href='' title='') ...
            li.arrow.right
                a(href='' title='')
                    include ../svgs/arrow-right.svg
