.row.justify-content-center

    .slider-color--col.offset-md-3.col-md-9.offset-lg-4.col-lg-7.col-xl-7.offset-xxl-3.col-xxl-7.order-2.order-md-1
        a(href='' title='').slider-color--heading.link-color
            | NIX Solutions прийме участь у будівництві кампуса для харківських IT-студентів

    .slider-color--col.col-lg-6.col-md-7.order-1
        a(href='' title='').link-color.link-color-img
            img(src='img/illus/slider-color/slide-color1.jpg' title='' alt='').img-color

    .slider-color--col.col-xl-3.offset-lg-1.col-lg-4.col-md-5.order-2.order-md-1
        p
            | У Харкові розпочинається будівництво Інноваційного кампуса — спільного проекту НТУ «Харківський політехнічний інститут», проекту Фонду Василя Хмельницького K. Fund UNIT.Factory і найбільшої харківської IT-компанії NIX Solutions.
        ul.slider-color--date
            li 21.02.18
            li
                a(href='' title='') Новини Асоціації
        a(href='' title='').link-detail.link-color
            | Детальніше
            include ../../../svgs/angle-right.svg