.row.justify-content-center

    .slider-color--col.offset-md-3.col-md-9.offset-lg-4.col-lg-7.col-xl-7.offset-xxl-3.col-xxl-7.order-2.order-md-1
        a(href='' title='').slider-color--heading.link-color
            | Увійти в IT: провідні компанії сформували перелік вимог до молодих спеціалістів

    .slider-color--col.col-lg-6.col-md-7.order-1
        a(href='' title='').link-color.link-color-img
            img(src='img/illus/slider-color/slide-color2.jpg' title='' alt='').img-color

    .slider-color--col.col-xl-3.offset-lg-1.col-lg-4.col-md-5.order-2.order-md-1
        p
            | ВНЗ зможуть використовувати їх для оновлення навчальних програм, а студенти — для визначення “дорожньої карти” свого кар’єрного розвитку.
        ul.slider-color--date
            li 21.02.18
            li
                a(href='' title='') Новини Асоціації
        a(href='' title='').link-detail.link-color
            | Детальніше
            include ../../../svgs/angle-right.svg