.value
    img(src='img/illus/values/value1.svg' title='' alt='')
    h3 Розвиток та інноваційність.
    p Ми – проактивна спільнота інноваторів та ентузіастів, які прагнуть сталого розвитку як для своєї справи, так і для всієї країни.