.value.value-small
    +img('img/illus/values/values-small/value-small3.svg')

    h3
        | Прямий доступ до інформації
    p
        | Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу