.value.value-small
    +img('img/illus/values/values-small/value-small5.svg')

    h3
        | Істотні знижки на різні українські
        | та міжнародні заходи
    p
        | Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу