.value.value-small
    +img('img/illus/values/values-small/value-small8.svg')

    h3
        | Участь у розробці та вдосконаленні нормативних документів, що регулюють діяльність ІТ компаній.
    p
        | Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу