.value.value-small
    img(src='img/illus/values/value1.svg' title='' alt='')
    h3 Розміщення інформації про компанію на сайті Асоціації.
    p Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу