.value.value-small
    +img('img/illus/values/values-small/value-small7.svg')

    h3
        | Участь в організованих Асоціацією В2В зустрічах
        | і переговорах
    p
        | Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу