a(href='' title='').blog
    .blog--image
        +img('img/illus/news/news3.jpg')
    .blog--description
        h3
            | 18 українських компаній увійшли до ТОП-100 кращих провайдерів ІТ-послуг у світі
        p
            | Міжнародна організація IAOP (International Association of Outsourcing Professionals) під час своєї щорічної події Outsourcing World Summit, традиційно підбила підсумки року та оприлюднила список кращих світових постачальників ІТ-послуг.

    .blog--date 20.02.18

    +btn-more('Читати більше')
