a(href='' title='').blog
    .blog--image
        +img('img/illus/news/news4.jpg')
    .blog--description
        h3
            | 5 українських ІТ-компаній потрапили до міжнародного рейтингу Inc. 5000
        p
            | Вітчизняний ІТ-бізнес продовжує отримувати міжнародне визнання. Цього разу 5 українських компаній зі сфери інформаційних технологій увійшли до відомого рейтингу «Inc. 5000 Europe» – списку приватних компаній Європи, які розвиваються найбільш динамічно.

    .blog--date 28.02.18

    +btn-more('Читати більше')
