a(href='' title='').blog
    .blog--image
        +img('img/illus/news/news1.jpg')
    .blog--description
        h3
            | Відтепер ввозити прототипи для R&D цілей в Україну стане простіше
        p
            | Завдяки спільній роботі галузевих експертів були прийняті новели, що значно спрощують процедуру імпорту в Україну прототипів обладнання для R&D цілей (дослідження та розробки).

    .blog--date 13.02.2018

    +btn-more('Читати більше')
