a(href='' title='').blog
    .blog--image
        +img('img/illus/news/news2.jpg')
    .blog--description
        h3
            | ELEKS та Miratech - у списку фіналістів престижної премії European IT & Software Excellence Awards 2018
        p
            | ІТ Europa, міжнародна агенція, яка займається ринковими дослідженнями, оприлюднила список фіналістів престижної загальноєвропейської премії European IT & Software Excellence Awards.

    .blog--date 20.03.18

    +btn-more('Читати більше')
