.row.justify-content-center

    .slider-color--col.offset-xxl-3.col-xl-6.col-xxl-7.offset-lg-4.col-lg-7.offset-md-3.col-md-9
        a(href='' title='').slider-color--heading.link-color Інфографіка. Українська IT-індустрія

    .slider-color--col.col-lg-6.col-7
        a(href='' title='').link-color.link-color-img
            img(src='img/illus/slider2.png' title='' alt='').img-color

    .slider-color--col.col-xl-3.offset-lg-1.col-lg-4.col-5
        p Цього року вітчизняна ІТ-галузь здобула численні перемоги на міжнародній арені, а її внесок в економічний розвиток України важко недооцінювати…
        ul.slider-color--date
            li 21.02.18
            li
                a(href='' title='').link-color Новини Асоціації
        a(href='' title='').link-detail.link-color
            | Детальніше
            include ../../svgs/angle-right.svg