section
    .container
        .row
            .col-12
                h2 Партнери
    .container.container-slider
        .row
            .col-12
                .slider-block
                    .slider.slider-partners.slider-with-line.slider-with-line-sync
                        +member-item-partner('img/illus/partners/partner1.png', 'УкрСиббанк BNP Paribas Group – це банк, що є активним членом IT-асоціації України. Банк пропонує ІТ-фахівцям найкращі продукти та послуги, а також професійну фінансову експертизу. УкрСиббанк також відкриває спеціалізовані відділи поруч із офісами ІТ-компаній.\n' +
                        '        | Разом з Startup.Network в 2017 році УкрСибБанк організували «Битву стартапів» для представників FinTech та IT-компаній з 10 українських міст.\n')
                        +member-item-partner('img/illus/partners/partner2.svg', 'Компанія Alcor надає своїм клієнтам альтернативні послуги з ВРО порівняно з традиційними аутсорсинговими моделями. Alcor має більш ніж десятирічний досвід на ринку та пропонує своїм клієнтам послуги майже 100 тисяч талановитих українських IT-спеціалістів. Компанія також надає послуги з відкриття R&D-центрів та підтримку проекту замовника у майбутньому – від рекомендацій з розташування офісу до рекрутингу, брендингу, юридичних та фінансових послуг.')
                        +member-item-partner('img/illus/partners/partner3.png', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI стор […]')
                        +member-item-partner('img/illus/partners/partner4.png', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI стор […]')
                        +member-item-partner('img/illus/partners/partner5.png', 'PwC надає широкий спектр професіональних послуг, пропонуючи своїм клієнтам страхові, консультативні та податкові рішення. Компанія допомагає клієнтам у різних галузях промисловості по всьому світу збільшити цінність свого бізнесу, зменшити та скерувати ризики, а також поліпшити їхню продуктивність. PwC має більш ніж 236 тисяч співробітників у 157 країнах світу і є найбільшою в світі мережею з надання професійних послуг.')

                    .slider-progressbar.slider-progressbar-partners
                        .slider-progressbar--track

                +btn-slider('Всі партнери')