extend ../../layouts/_layout-header.pug

block navigation
    include ../navigations/_navigation

block content

    .container
        .row
            .col-6
                ul.breadcrumbs
                    li
                        a(href='' title='') Головна
                    li
                        a(href='' title='') Про асоціацію

                h1 Про нас
                p Ми – найбільше об’єднання компаній-розробників програмного забезпечення в Україні. Спільною працею ми формуємо економіку майбутньої України
            .col-6
                .slider
                    div
                        .slide
                            img(src='' title='' alt='')
