header.header-about-business



    .container
        .row
            .col-md-6
                ul.breadcrumbs
                    li
                        a(href='' title='') Головна
                    li
                        a(href='' title='') Бізнес про нас
        .row
            .col-md-4
                h1 Бізнес про нас

            .offset-md-2.col-md-4
                p Одним з головних критеріїв успішності нашої роботи є її оцінка компаніями-учасниками. Дізнайтеся, що думають про участь у спільноті представники індустрії. спільноті представники індустрії.
