header.header-index

    include ../navigations/_navigation-index

    .container.container-big
        .slider.slider-color
            div
                include ../slider-color/_slider-item-index
            div
                include ../slider-color/_slider-item-index2
            div
                include ../slider-color/_slider-item-index
            div
                include ../slider-color/_slider-item-index2
