header
    .container
        .slider
            div
                a(href='' title='').container
                    .row.justify-content-center
                        .offset-4.col-6
                            h2 Інфографіка. Українська IT-індустрія
                        .col-6
                            div
                                img(src='' title='' alt='')
                        .offset-1.col-3
                            p Цього року вітчизняна ІТ-галузь здобула численні перемоги на міжнародній арені, а її внесок в економічний розвиток України важко недооцінювати…
                            ul
                                li 21.02.18
                                li
                                    a(href='' title='') Новини Асоціації
                            a(href='' title='').link-detail
                                | Детальніше
                                include ../../svgs/angle-right.svg
