nav
    .container
        .row
            .col-6.col-md-2
                a(href='./' title='').link-logo
                    include ../../svgs/logo.svg

            .col-md-10
                .input-group
                    span
                        include ../../svgs/search.svg
                    input(type='text' placeholder='що ви шукаєте ?')
                ul
                    li
                        a(href='' title='') укр
                    li
                        a(href='' title='') eng
                a(href='' title='')
                    include ../../svgs/login.svg
                    | Вхід

            .col-6.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span

            .col-md-12
                ul.menu
                    li
                        a(href='' title='').active Про асоціацію
                    li
                        a(href='' title='') Адвокація та лобіювання
                    li
                        a(href='' title='') Події та нетворкінг
                    li
                        a(href='' title='') Освіта
                    li
                        a(href='' title='') Приєднуйтесь до спільноти
                    li
                        a(href='' title='') Учасники
                    li
                        a(href='' title='') Міжнародна промоція
                    li
                        a(href='' title='') Медіа та публікації