.blog
  display block
  position relative
  mb(r(66))

  &--image
    height 173px
    display flex
    align-items center
    justify-content center
    margin-bottom (r(37))
    bg($wt)
    overflow hidden
    +tab()
      height 191px
    +port()
      height: 218px;
    img
      height 100%
      width auto
      trans()
      flex-shrink 0
  &--date
    position absolute
    bottom: 15px;
    right: 13px;
    font-size: e(14)
    font-weight: bold;
    color: $blue-light
    font-family $a-font, sans-serif
    +mob()
      right 50px
      bottom 18px
  &--description
    mb(r(35))
    +mob()
      mb(r(20))
    h6
      font-size: e(14)
      line-height: 1.57
      mb(r(15))
    h3
      max-height 104px
    p
      max-height 90px
      overflow hidden

  .btn-more
    position relative
    .btn--text
      +port()
        padding-left 0
      +mob()
        padding-left 0
        padding-bottom r(19)
      svg
        +mob()
          opacity 0 !important

  +mmin(768px)
    &:hover
      .blog--image
        img
          opacity .4
      .btn-more
        max-width 100%
        .btn--text
          co($wt)
          background $blue
          pl(r(30))
          svg
            opacity 1


