.blog
  display block
  position relative
  mb(r(66))

  &--image
    height 173px
    display flex
    align-items center
    justify-content center
    margin-bottom (r(37))
    bg($wt)
    overflow hidden
    +tab()
      height 191px
    +port()
      height: 218px;
    img
      height 100%
      width auto
      trans()
      flex-shrink 0
  &--date
    position absolute
    bottom: 15px;
    right: 13px;
    font-size: e(14)
    font-weight: bold;
    color: $blue-light
    font-family $a-font, sans-serif
    +mob()
      right 50px
      bottom 18px
  &--description
    mb(r(35))
    +mob()
      mb(r(20))
    h6
      font-size: e(14)
      line-height: 1.57
      mb(r(15))
    h3
      max-height 104px
    p
      max-height 90px
      overflow hidden
  &:hover
    .blog--image
      img
        opacity .4
        +mob()
          opacity 1
    .btn-more
      background $blue
      co($wt)
      max-width 100%
      pl(r(30))
      svg
        opacity 1
      +mob()
        bg($tr)
        co($blue)
        pl(0)