a(href='' title='').row.news-big
    .col-md-5
        .news-big--image
            +img('img/illus/news/news1.jpg')
    .col-md-7.offset-xl-1.col-lg-7.col-xl-5
        h6
                span.company Ciklum
                | , голова відділу PR
        h3 5 українських ІТ-компаній потрапили до міжнародного рейтингу Inc. 5000
        p Вітчизняний ІТ-бізнес продовжує отримувати міжнародне визнання. Цього разу 5 українських компаній зі сфери інформаційних технологій увійшли до відомого рейтингу «Inc. 5000 Europe» – списку приватних […] компаній Європи, які розвиваються найбільш динамічно.
        .blog--date 21.02.18
        .btn.btn-arrow Читати більше
            include ../../_svgs/arrow-right.svg