.news-big
  mb(r(38))
  +xs()
    mb(0)
  &--image
    width 100%
    height 301px
    overflow hidden
    dfc()
    img
      height 100%
      +land()
        height auto
        width 100%
    +land()
      mb(r(37))
    +xs()
      margin-right -15px
      margin-left -15px
      width calc(100% + 30px)
      height 210px
      mb(r(18))
  h3
    line-height: 1.31;
    fs(e(26))
    mb(r(22))
    +port()
      fs(e(20))
    +mob()
      fs(e(24))
  h6
    mb(r(25))
    +xs()
      mb(r(20))
  p
    max-height: 88px;
    overflow: hidden;
    +tab()
      max-height: 69px
    +xs()
      mb(r(50))
  .btn
    position absolute
    left 15px
    bottom 0
    max-width 263px
    .btn--text
      pl(r(30))
      pb(r(15))
      pt(r(14))
      fs(e(16))
      letter-spacing: 0.5px
    +mob()
      position relative
      left 0

    +xs()
      max-width 100%
      fs(e(18))
      pl(r(38))
      pt(r(21))
      pb(r(23))


  &--author
    display flex
    align-items center
    mb(r(26))
    &-image
      width: 40px;
      height: 40px;
      border-radius 50%
      overflow hidden
      mr(r(21))
      img
        height 100%
    h6
      mb(0)
      b
        display block

  .blog--date
    +xs()
      position static
      co($wt)
      mb(r(50))
