a(href='' title='').row.news-big
    .col-md-5
        .news-big--image
            +img('img/illus/news/news1.jpg')
    .col-md-7.offset-xl-1.col-lg-7.col-xl-5
        .news-big--author
            .news-big--author-image
                +img('img/illus/comments/comments-regular/comment-regular1.png')

            h6
                b Іван Микитюк
                span.company Ciklum
                | , голова відділу PR

        h3 5 українських ІТ-компаній потрапили до міжнародного рейтингу Inc. 5000
        p Вітчизняний ІТ-бізнес продовжує отримувати міжнародне визнання. Цього разу 5 українських компаній зі сфери інформаційних технологій увійшли до відомого рейтингу «Inc. 5000 Europe» – списку приватних
        .blog--date 21.02.18
        .btn.btn-arrow Читати більше
            include ../../_svgs/arrow-right.svg