@import '../../utilities/utilities'

.slider-calendar
  padding-top r(20)
  mb(r(71))
  +mob()
    margin: 0 -15px r(50);
    pt(0)
  +land()
    margin: 0 -30px r(50);
    padding-bottom: r(43)
    .slick-track
      left: 15px;
  .slick-list
    &:after, &:before
      background: rgba(255, 255, 255, 1);
    &:before
      background: linear-gradient(to right, rgba(230, 235, 239, 1) 0%, rgba(230, 235, 239, 0) 100%);
    &:after
      background: linear-gradient(to right, rgba(230, 235, 239, 0) 0%, rgba(230, 235, 239, 1) 100%);
  &.slider-calendar-year
    +tab()
      margin-left -15px
      margin-right -15px
    .slick-list
      &:after, &:before
        background: rgba(255, 255, 255, 1);
      &:before
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      &:after
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

.slider-middle
  height 427px
  +mob()
    height: 257px;
  .arrow
    bg($wt)
    svg g
      fill $blue

    &.left
      left -82px
      +mob()
        right 79px
        left auto
      +land()
        left -64px
    &.right
      left 0
      +mob()
        right 15px
        left auto
        background $tr
      +land()
        left 0
    &:hover
      background $blue-light6

  .slide
    height 427px
    display flex
    overflow hidden
    justify-content center
    align-items center
    img
      height 100%
      flex-shrink 0
      +land()
        height auto
      +mob()
        min-height: 100%;
        min-width: 100%;
    +mob()
      height 210px
    +land()
      height 257px

.slider-header
  height 390px
  .arrow
    background $tr
    border-color $blue-light11
    svg g
      fill $wt
    &.right
      bg($blue-light12)
      +mob()
        bg($tr)
      +land()
        background $blue-light12
      &:hover
        background $blue-light6
  .slide
    height 390px
    +mob()
      height 342px
    +land()
      height 390px

.slider-about
  &.slider-with-line.slider-with-line-sync
    .blog.blog-about
      margin 0 r(15)
    .slick-track
      pt(0)
      pb(0)
      +port()
        left: 23px;
      +mob()
        left 0

.slider-events-year-header
  .arrow
    bg($blue-light12)
    border-color $blue-light11
    +xs()
      bottom: auto;
      top: 220px;
    svg g
      fill $blue-light11
    &.right
      right calc(50% + 15px)
      left auto
      +xs()
        right 0
    &.left
      right calc(50% + 15px + 82px)
      left auto
      +land()
        right calc(50% + 15px + 64px)
      +xs()
        right 64px

//.slider-about-sync
//  +mob()
//    bottom: 37px;
//  .slider-progress:after
//    width 100px
//    +mob()
//      width 50px
