.slider-calendar
  padding-top $r20
  mb($r71)
  +mob()
    margin: 0 -15px;
    pt(0)
  +land()
    margin: 0 -30px $r50;
    padding-bottom: $r43
    .slick-track
      left: 15px;
  .slick-list
    &:after, &:before
      background: rgba(255, 255, 255, 1);
    &:before
      background: linear-gradient(to right, rgba(230, 235, 239, 1) 0%, rgba(230, 235, 239, 0) 100%);
    &:after
      background: linear-gradient(to right, rgba(230, 235, 239, 0) 0%, rgba(230, 235, 239, 1) 100%);


.slider-partners.slider-with-line.slider-with-line-sync .slick-track
    +mob()
      left -15px



.slider-header
  height 390px
  +mob()
    height 258px
  .arrow
    border-color $blue-light11
    svg g
      fill $white
    &.left
      left -83px
      +mob()
        right 79px
        left auto
    &.right
      left -1px
      background $blue-light12
      +mob()
        right 15px
        left auto
        background $trans
    &:hover
      background $blue-light6

  .slide
    height 390px
    display flex
    overflow hidden
    justify-content center
    align-items center
    +mob()
      height 210px
    +land()
      img
        width 100%


.slider-about
  &.slider-with-line.slider-with-line-sync
    .blog.blog-about
      margin 0 $r15
    .slick-track
      left 0
      padding-top 0
      pb(0)

.slider-about-sync
  +mob()
    bottom: 37px;
  .slider-progress:after
    width 100px
    +mob()
      width 50px
