.slider-with-line
  position relative

  padding-bottom $r57
  pt($r0)
  mb($r0)

  &:after
    pseudo(block, absolute)
    width 150vw
    background $blue
    height 1px
    bottom 61px
    left -50vw
  .slick-track
    left -146px
  .slick-list
    &:after, &:before
      pseudo(block, absolute)
      top 0
      bottom 20px
      width 10.5vw
      z-index 300
      +xxl()
        width 278px
    &:before
      left 0
    &:after
      right 0
  .arrow.left
    left calc(1426px - 50%)
  .arrow.right
    left calc(1426px - 50% + 82px)

.slider-with-line.slider-with-line-sync
  padding-bottom $r97
  .slick-list
    &:after, &:before
      background: rgba(255, 255, 255, 1);
    &:before
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    &:after
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  .slick-track
    padding-top $r25
    padding-bottom: $r30

.slider-sync
  position: absolute;
  bottom: 51px;
  left: 92px;
  width 47%
  .slick-track
    position relative
    left: 26.5%;


.slider-progress
  height: 7px;
  position relative
  &:after
    pseudo(block, absolute)
    left 0
    top 0
    bottom 0
    width 180px
    background $blue
