.link-color-img
  display flex
  align-items center
  justify-content center
  overflow hidden
  height 48vh
  margin-top $r8
  min-height 365px
  +port()
    flex-direction column
  +mob()
    height 210px
    mt(0)
    mb($r68)
    width calc(100% + 30px)
    left -15px
    right -15px
    position relative
    min-height auto
  .img-color
    display inline-block
    height 100%
    width auto
    +mob()
      height auto
      width calc(100% + 30px)

.slider-color--col
  +mob()
    padding 0 30px
  &:before
    pseudo(block, absolute)
    top 0
    width 100%
    right 0
    bottom 0
    background $blue-light4
    transition .6s all ease

.slider-color
  pb($r62)
  +mob()
    left -15px
    right -15px
    width calc(100% + 30px)
    pb($r72)
  &--heading
    font-family $a-font, sans-serif
    font-size $e44
    font-weight 700
    line-height 1.14
    letter-spacing 1px
    color $white
    display inline-block
    margin-bottom $r52
    +xxl()
      fs($e56)
      mb($r92)
    +port()
      fs($e66)
    +mob()
      font-size: $e24
      line-height: 1.33;
      mb($r17)
    &:hover
      color $white

  &--date
    df(row)
    mt($r30)
    mb($r57)
    li
      color $white
      fs($e14)
      letter-spacing: 1px;
      mr($r40)
      fw(700)
      &:last-child
        mr(0)
      a
        co($white)
        text-decoration underline

  p
    color $white
    +port()
      font-size ($e16)
    +mob()
      mb($r34)
  .link-detail
    float left

  .arrow
    border-color $white30
    +mob()
      bottom auto
      top 210px
    svg
      g
        fill $white

  .arrow.left
    left: calc(1057px - 50%);
    +tab()
      left: calc(790px - 50%);
    +port()
      left: calc(570px - 50%);
    +mob()
      left auto
      right: calc(15px + 64px);


  .arrow.right
    left: calc(1057px - 50% + 82px);
    +tab()
      left: calc(790px - 50% + 82px);
    +port()
      left: calc(570px - 50% + 82px);
    +mob()
      right: 15px
      left auto

  .slick-slide.slick-current.slick-active
    .slider-color--col
      &:before
        width 0%
