.blog.blog-advantage
    .blog--image
        +img('img/illus/advantages/advantage1.png')
    .blog--description
        h3
            | Обмін досвідом та експертна підтримка
        p
            | Тримайте зв'язок з лідерами індустрії та отримуйте експерту підтримку від ділової спільноти з найбільш нагальних бізнес-питань