.blog.blog-advantage
    .blog--image
        +img('img/illus/advantages/advantage4.png')
    .blog--description
        h3
            | Адвокація та захист ІТ-бізнесу
        p
            | Отримайте правову підтримку з боку інших учасників спільноти та розроблюйте спільну стратегію захисту інтересів вашої компанії