.blog.blog-advantage
    .blog--image
        +img('img/illus/advantages/advantage2.png')
    .blog--description
        h3
            | Відкритий діалог з органами державної влади
        p
            | Приймайте участь у постійному діалозі з представниками державної влади та впливайте на вектори розвитку індустрії всередині країни