.blog.blog-advantage
    .blog--image
        +img('img/illus/advantages/advantage3.png')
    .blog--description
        h3
            | Нетворкінг та встановлення нових контактів
        p
            | Будучи частиною найбільшою спільноти компаній-розробників в Україні, встановлюйте корисні ділові контакти та отримуйте допомогу у пошуку нових клієнтів для вашого бізнесу