mixin blog-item-chief-small(img, name, text)
    .blog.blog-chief.blog-chief-small
        .blog--image
            img(src=img title='' alt='')
        .blog--description
            h3= name
            p= text