.blog
  &.blog-about
    max-width 360px
    mb(0)
    +tab()
      max-width 290px
    +port()
      max-width 330px
    +mob()
      max-width 263px
    .blog--image
      height 280px
      mb(r(41))
    .blog--description
      mb(r(33))