@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/CircularStd/CircularStd-Bold.eot');
	src: url('../fonts/CircularStd/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CircularStd/CircularStd-Bold.woff2') format('woff2'),
	url('../fonts/CircularStd/CircularStd-Bold.woff') format('woff'),
	url('../fonts/CircularStd/CircularStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Apercu Pro';
	src: url('../fonts/ApercuPro/ApercuPro-Mono.eot');
	src: url('../fonts/ApercuPro/ApercuPro-Mono.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ApercuPro/ApercuPro-Mono.woff2') format('woff2'),
	url('../fonts/ApercuPro/ApercuPro-Mono.woff') format('woff'),
	url('../fonts/ApercuPro/ApercuPro-Mono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe/Circe-Bold.eot');
	src: url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe/Circe-Bold.woff2') format('woff2'),
	url('../fonts/Circe/Circe-Bold.woff') format('woff'),
	url('../fonts/Circe/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Apercu Pro';
	src: url('../fonts/ApercuPro/ApercuPro-Demibold.eot');
	src: url('../fonts/ApercuPro/ApercuPro-Demibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ApercuPro/ApercuPro-Demibold.woff2') format('woff2'),
	url('../fonts/ApercuPro/ApercuPro-Demibold.woff') format('woff'),
	url('../fonts/ApercuPro/ApercuPro-Demibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Apercu Pro';
	src: url('../fonts/ApercuPro/ApercuPro-Medium.eot');
	src: url('../fonts/ApercuPro/ApercuPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ApercuPro/ApercuPro-Medium.woff2') format('woff2'),
	url('../fonts/ApercuPro/ApercuPro-Medium.woff') format('woff'),
	url('../fonts/ApercuPro/ApercuPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std Book';
	src: url('../fonts/CircularStd/CircularStd-Book.eot');
	src: url('../fonts/CircularStd/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/CircularStd/CircularStd-Book.woff2') format('woff2'),
	url('../fonts/CircularStd/CircularStd-Book.woff') format('woff'),
	url('../fonts/CircularStd/CircularStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercu Pro';
	src: url('../fonts/ApercuPro/ApercuPro-Bold.eot');
	src: url('../fonts/ApercuPro/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ApercuPro/ApercuPro-Bold.woff2') format('woff2'),
	url('../fonts/ApercuPro/ApercuPro-Bold.woff') format('woff'),
	url('../fonts/ApercuPro/ApercuPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe/Circe-ExtraLight.eot');
	src: url('../fonts/Circe/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe/Circe-ExtraLight.woff2') format('woff2'),
	url('../fonts/Circe/Circe-ExtraLight.woff') format('woff'),
	url('../fonts/Circe/Circe-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe/Circe-Thin.eot');
	src: url('../fonts/Circe/Circe-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe/Circe-Thin.woff2') format('woff2'),
	url('../fonts/Circe/Circe-Thin.woff') format('woff'),
	url('../fonts/Circe/Circe-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe/Circe-Light.eot');
	src: url('../fonts/Circe/Circe-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe/Circe-Light.woff2') format('woff2'),
	url('../fonts/Circe/Circe-Light.woff') format('woff'),
	url('../fonts/Circe/Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe/Circe-Regular.eot');
	src: url('../fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Circe/Circe-Regular.woff2') format('woff2'),
	url('../fonts/Circe/Circe-Regular.woff') format('woff'),
	url('../fonts/Circe/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercu Pro';
	src: url('../fonts/ApercuPro/ApercuPro-Regular.eot');
	src: url('../fonts/ApercuPro/ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ApercuPro/ApercuPro-Regular.woff2') format('woff2'),
	url('../fonts/ApercuPro/ApercuPro-Regular.woff') format('woff'),
	url('../fonts/ApercuPro/ApercuPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Apercu Pro';
	src: url('../fonts/ApercuPro/ApercuPro-Light.eot');
	src: url('../fonts/ApercuPro/ApercuPro-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ApercuPro/ApercuPro-Light.woff2') format('woff2'),
	url('../fonts/ApercuPro/ApercuPro-Light.woff') format('woff'),
	url('../fonts/ApercuPro/ApercuPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
html {
	font-size: 16px;
}
html, body {
	overflow-x: hidden;
}
body {
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	color: #000;
	font-family: 'Circe', sans-serif;
	background: #fff;
}
@media (min-width: 1200px) {
	.container {
		max-width: 1170px !important;
	}
	.container.container-slider {
		max-width: calc(1170px + 273px + 273px + 30px) !important;
	}
}
@media (min-width: 1600px) {
	.container.container-big {
		max-width: 1500px !important;
	}
}
html.open {
	overflow: hidden !important;
	height: 100vh;
}
body.open {
	overflow: hidden !important;
}
body.open .nav-icon:before {
	background-color: rgba(255,255,255,.3);
}
body.open .nav-icon span {
	background-color: #fff;
}
body.open .nav-icon span:nth-child(1) {
	top: 20px;
	width: 0;
	left: 50%;
}
body.open .nav-icon span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
body.open .nav-icon span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
body.open .nav-icon span:nth-child(4) {
	top: 20px;
	width: 0;
	left: 50%;
}
body.open #nav-logo {
	display: none;
}
body.open #nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-animation: ds-none .2s both;
	        animation: ds-none .2s both;
}
body.open .nav-top {
	background: #8297af;
	border-bottom-color: rgba(255,255,255,.3);
}
body.open .nav-bottom {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
	overflow-x: hidden;
}
body.open nav {
	height: 100%;
	overflow: scroll !important;
	background-color: #8297af !important;
}
@media (max-width: 767px) {
	.col-detail {
		text-align: center;
	}
}
::-moz-selection {
	background: #a0b3c9;
	color: #fff;
}
::selection {
	background: #a0b3c9;
	color: #fff;
}
h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite {
	font-family: 'Circe', sans-serif;
	color: #000;
}
h1 {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.53;
	margin-bottom: 1.938rem;
	font-family: 'Apercu Pro', sans-serif;
	letter-spacing: 1px;
	color: #053a78;
}
@media (max-width: 767px) {
	h1 {
		font-size: 1.5em;
		line-height: 2.04;
		margin-bottom: 1.5rem;
	}
}
h2 {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.53;
	margin-bottom: 1.938rem;
	font-family: 'Apercu Pro', sans-serif;
	letter-spacing: 1px;
	color: #053a78;
}
@media (max-width: 767px) {
	h2 {
		font-size: 1.5em;
		line-height: 2.04;
		margin-bottom: 1.5rem;
	}
}
h3 {
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.44;
	font-family: 'Apercu Pro', sans-serif;
	margin-bottom: .938rem;
	color: #264a75;
}
h4 {
	font-size: 1.375em;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 2.375rem;
}
h5 {
	font-size: 1.625em;
	font-weight: 400;
	line-height: 1.88;
	margin-top: 3.188rem;
	margin-bottom: 1.313rem;
	color: #fff;
}
h6 {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.25;
	margin-bottom: 2.5rem;
	color: #a0b3c9;
}
h6 .company {
	text-decoration: underline;
}
p {
	font-size: .875em;
	font-weight: 400;
	line-height: 1.58;
	color: #768190;
	margin-bottom: 1.375rem;
}
.paragraph-lead {
	font-size: 1.25em;
}
.paragraph-small {
	font-size: .875em;
}
hr {
	border: 0;
	height: 1px;
	background: #000;
	margin: .938rem 0;
}
.heading-h1-h2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 1.938rem;
}
@media (max-width: 767px) {
	.heading-h1-h2 {
		margin-bottom: 1.5rem;
	}
}
.heading-h1-h2 h2 {
	margin-right: .813rem;
	margin-bottom: 0;
}
.heading-h1-h2 h1 {
	margin-bottom: 0;
}
section {
	padding-top: 4.875rem;
	padding-bottom: 6.813rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
	section {
		padding-top: 3.75rem;
		padding-bottom: 5.625rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	section {
		padding-top: 3.75rem;
		padding-bottom: 5.625rem;
	}
}
@media (max-width: 767px) {
	section {
		padding-top: 2.188rem;
	}
}
nav {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 8999;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (min-width: 768px) and (max-width: 991px) {
	nav .container {
		max-width: 100%;
	}
}
@media (max-width: 767px) {
	nav {
		height: 59px;
	}
}
nav.nav-index.unscrolled {
	background: transparent;
}
nav.nav-index.unscrolled .link-logo svg g, nav.nav-index.unscrolled .link-logo svg path, nav.nav-index.unscrolled .link-logo svg polygon {
	fill: #fff;
}
nav.nav-index.unscrolled .nav-top {
	border-bottom-color: rgba(255,255,255,.3);
}
nav.nav-index.unscrolled .nav-icon:before {
	background: rgba(255,255,255,.3);
}
nav.nav-index.unscrolled .nav-icon span {
	background-color: #fff;
}
@media (min-width: 768px) {
	nav.nav-index.unscrolled .menu li a {
		color: rgba(255,255,255,.6);
	}
	nav.nav-index.unscrolled .menu li a:hover {
		color: #617790;
	}
	nav.nav-index.unscrolled .ul-lang li a {
		color: rgba(255,255,255,.3);
	}
	nav.nav-index.unscrolled .ul-lang li a.active, nav.nav-index.unscrolled .ul-lang li a:hover {
		color: #fff;
	}
	nav.nav-index.unscrolled .form-search .input-group input {
		background: rgba(255,255,255,.15);
		color: #fff;
	}
	nav.nav-index.unscrolled .form-search .input-group input:-moz-placeholder {
		color: #fff;
	}
	nav.nav-index.unscrolled .form-search .input-group input::-moz-placeholder {
		color: #fff;
	}
	nav.nav-index.unscrolled .form-search .input-group input:-ms-input-placeholder {
		color: #fff;
	}
	nav.nav-index.unscrolled .form-search .input-group input::-webkit-input-placeholder {
		color: #fff;
	}
	nav.nav-index.unscrolled .form-search .input-group span svg g {
		fill: #fff;
	}
	nav.nav-index.unscrolled .ul-login:before {
		background: rgba(255,255,255,.3);
	}
	nav.nav-index.unscrolled .ul-login li a {
		color: #fff;
	}
	nav.nav-index.unscrolled .ul-login li a svg g {
		fill: #fff;
	}
	nav.nav-index.unscrolled .ul-login li a:hover {
		color: rgba(255,255,255,.3);
	}
	nav.nav-index.unscrolled .ul-login li a:hover svg g {
		fill: rgba(255,255,255,.3);
	}
	nav.nav-index.unscrolled .menu li.dropdown ul {
		background: #8297af;
	}
}
.nav-top {
	padding: 1.375rem 0 .75rem;
	border-bottom: 1px solid rgba(95,128,165,.15);
}
@media (max-width: 767px) {
	.nav-top {
		padding: .875rem 0 .5rem;
		height: 59px;
	}
}
.nav-bottom {
	padding-top: .938rem;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (max-width: 767px) {
	.nav-bottom {
		background-color: #8297af;
		padding-top: 1.25rem;
		-webkit-transform: translate3d(0, -110vh, 0);
		        transform: translate3d(0, -110vh, 0);
	}
}
.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
@media (max-width: 767px) {
	.menu {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding-left: 1.188rem;
		padding-top: 2.438rem;
	}
}
.menu li {
	position: relative;
}
@media (max-width: 767px) {
	.menu li {
		width: 100%;
	}
}
.menu li a {
	display: block;
	font-size: .813em;
	padding-bottom: 1rem;
	color: #5f80a5;
}
@media (min-width: 768px) and (max-width: 991px) {
	.menu li a {
		font-size: .688em;
	}
}
@media (max-width: 767px) {
	.menu li a {
		font-size: 1.063em;
	}
}
.menu li a:hover {
	color: #bec9d6;
}
@media (max-width: 767px) {
	.menu li.dropdown {
		position: static;
	}
}
@media (max-width: 767px) {
	.menu li.dropdown .dropdown-link {
		position: relative;
	}
	.menu li.dropdown .dropdown-link:before, .menu li.dropdown .dropdown-link:after {
		content: '';
		display: block;
		position: absolute;
		height: 2px;
		width: 7px;
		background: #bec9d6;
		right: 12px;
		top: 13px;
	}
	.menu li.dropdown .dropdown-link:before {
		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
		top: 9px;
	}
	.menu li.dropdown .dropdown-link:after {
		-webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		        transform: rotate(-45deg);
	}
}
.menu li.dropdown ul {
	position: absolute;
	margin: 0;
	padding: 1.438rem .875rem 1.188rem;
	background: #f3f5f8;
	width: 180px;
	left: -14px;
	top: 35px;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}
@media (max-width: 767px) {
	.menu li.dropdown ul {
		width: 100vw;
		left: 0;
		right: 0;
		bottom: 0;
		-webkit-transform: translate3d(100vw, 0, 0);
		        transform: translate3d(100vw, 0, 0);
		padding-left: 2.125rem;
		padding-right: 2.125rem;
	}
}
.menu li.dropdown ul li {
	margin-bottom: .938rem;
}
.menu li.dropdown ul li a {
	padding-bottom: 0;
}
.menu li.dropdown ul li.dropdown-back {
	display: none;
}
@media (max-width: 767px) {
	.menu li.dropdown ul li.dropdown-back {
		display: block;
	}
	.menu li.dropdown ul li.dropdown-back a {
		position: relative;
		color: #617790;
	}
	.menu li.dropdown ul li.dropdown-back a:before, .menu li.dropdown ul li.dropdown-back a:after {
		content: '';
		display: block;
		position: absolute;
		height: 2px;
		width: 7px;
		background: #617790;
		left: -19px;
		top: 13px;
	}
	.menu li.dropdown ul li.dropdown-back a:before {
		-webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		        transform: rotate(-45deg);
		top: 9px;
	}
	.menu li.dropdown ul li.dropdown-back a:after {
		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
}
.menu li.dropdown ul.active {
	z-index: 7999;
	visibility: visible;
	opacity: 1;
}
@media (max-width: 767px) {
	.menu li.dropdown ul.active {
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
	}
}
.nav-mobile {
	display: none;
}
@media (max-width: 767px) {
	.nav-mobile {
		display: block;
	}
}
.nav-icon {
	width: 26px;
	height: 23px;
	position: relative;
	margin: .188rem .688rem;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	float: right;
}
.nav-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #264a75;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav-icon span:nth-child(1) {
	top: 0;
}
.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
	top: 10px;
}
.nav-icon span:nth-child(4) {
	top: 20px;
}
.nav-icon:before {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 58px;
	background: rgba(95,128,165,.15);
	left: -27px;
	top: -17px;
}
#nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-right: 1.25rem;
	padding-left: 2.938rem;
}
@media (min-width: 768px) and (max-width: 991px) {
	#nav-list {
		padding-right: .938rem;
		padding-left: 1.563rem;
	}
}
@media (max-width: 767px) {
	#nav-list {
		display: none;
		padding: 0 .938rem;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
#nav-logo {
	-webkit-animation: ds-none .2s both;
	        animation: ds-none .2s both;
}
@-webkit-keyframes ds-none {
	0% {
		opacity: 0;
	}
}
@keyframes ds-none {
	0% {
		opacity: 0;
	}
}
.header-index {
	background: #a0b3c9;
	padding-top: 7.563rem;
	margin-bottom: 5.625rem;
	height: 100vh;
	min-height: 768px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header-index {
		margin-bottom: 3.75rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.header-index {
		margin-bottom: 3.75rem;
	}
}
@media (max-width: 767px) {
	.header-index {
		padding-top: 3.688rem;
		min-height: 694px;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		margin-bottom: 4.063rem;
	}
}
footer {
	background-color: #303339;
	margin-top: 6.938rem;
	padding-top: 2.938rem;
}
footer h6 {
	font-size: 1.75em;
	font-weight: 700;
	line-height: 1.75;
	color: #777a81;
	font-family: 'Apercu Pro', sans-serif;
	margin-bottom: .875rem;
}
footer p {
	line-height: 1.43;
	margin-bottom: .625rem;
}
footer p a {
	display: block;
	color: #fff;
}
footer p a:hover {
	color: #186ff0;
}
.footer-bottom {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 46px;
}
.footer-bottom:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	background-color: rgba(255,255,255,.2);
	top: 0;
}
.footer-copyright {
	font-size: .75em;
	line-height: 1.83;
	letter-spacing: normal;
	color: #52555a;
}
a {
	text-decoration: none;
	font-family: 'Circe', sans-serif;
	color: #00f;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
a svg g {
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	outline: none;
}
.link-logo {
	display: block;
	max-width: 136px;
}
.link-logo svg {
	width: 100%;
}
.link-logo:hover {
	opacity: .6;
}
.link-detail {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-family: 'Apercu Pro', sans-serif;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	letter-spacing: .5px;
	font-size: 1em;
	color: #186ff0;
	font-weight: 700;
	float: right;
	padding: .938rem 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.link-detail {
		font-size: .875em;
	}
}
@media (max-width: 767px) {
	.link-detail {
		line-height: 3.06;
		float: none;
		padding-top: 0;
		padding-bottom: 3.125rem;
	}
}
.link-detail svg {
	margin-left: 18px;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.link-detail svg g {
	fill: #186ff0;
}
.link-detail:hover {
	color: #186ff0;
}
.link-detail:hover svg {
	-webkit-transform: translate3d(15px, 0, 0);
	        transform: translate3d(15px, 0, 0);
}
button {
	border: none;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
button:focus {
	outline: none;
}
.btn {
	display: block;
	max-width: 320px;
	width: 100%;
	text-align: center;
	background: #186ff0;
	color: #fff;
	letter-spacing: 1px;
	font-family: 'Apercu Pro', sans-serif;
	font-weight: 700;
	padding: 1.188rem 0 1.313rem;
	position: relative;
	z-index: 40;
}
@media (max-width: 767px) {
	.btn {
		font-size: 1.25em;
		padding: 1.063rem 0 1.188rem;
	}
}
.btn:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -17px;
	left: 6px;
	right: 6px;
	height: 34px;
	opacity: .7;
	-webkit-filter: blur(12px);
	        filter: blur(12px);
	background-color: #1472ff;
	z-index: -1;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.btn:hover {
	color: #abcdff;
	background-color: #0057db;
}
.btn:hover:after {
	background-color: #186ff0;
}
.btn-center {
	margin-left: auto;
	margin-right: auto;
}
.btn-more {
	display: inline-block;
	width: 100%;
	max-width: 115px;
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	letter-spacing: .5px;
	font-family: 'Apercu Pro', sans-serif;
	color: #186ff0;
	font-size: 1em;
	font-weight: 700;
	padding: .813rem 0 .938rem;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.btn-more svg {
	position: absolute;
	top: 15px;
	right: 30px;
	opacity: 0;
	height: 12px;
	width: 20px;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.btn-more:hover {
	background: #186ff0;
	color: #fff;
	max-width: 100%;
	padding-left: 1.875rem;
}
.btn-more:hover svg {
	opacity: 1;
}
.btn-arrow {
	padding: 1.375rem 2.375rem 1.5rem;
	text-align: left;
	position: relative;
	max-width: 360px;
}
.btn-arrow svg {
	position: absolute;
	right: 38px;
	top: 22px;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.btn-arrow svg g {
	-webkit-transition: .1s all ease;
	     -o-transition: .1s all ease;
	        transition: .1s all ease;
}
.btn-arrow:hover svg {
	-webkit-transform: translate3d(10px, 0, 0);
	        transform: translate3d(10px, 0, 0);
}
.btn-arrow:hover svg g {
	fill: #abcdff;
}
.btn-arrow.btn-arrow-slider {
	position: absolute;
	bottom: 0;
	left: calc(1426px - 34.5%);
}
ul li {
	list-style: none;
}
ul li ul {
	margin-top: .938rem;
	margin-left: 1.25rem;
}
ul, ol {
	padding: 0;
	margin: 0;
}
ul li, ol li {
	font-family: 'Circe', sans-serif;
}
ol {
	margin-left: 1.25rem;
}
ol li ol {
	margin-top: .938rem;
}
.ul-lang {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
@media (max-width: 767px) {
	.ul-lang {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
}
.ul-lang li {
	margin: 0 .688rem;
}
.ul-lang li a {
	font-size: 1.125em;
	font-weight: bold;
	color: #bec9d6;
}
.ul-lang li a:hover, .ul-lang li a.active {
	color: #053a78;
}
.ul-login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding: .063rem 0;
}
.ul-login:before {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 70px;
	background: rgba(95,128,165,.15);
	left: -29px;
	top: -22px;
}
@media (max-width: 767px) {
	.ul-login:before {
		display: none;
	}
}
.ul-login li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #264a75;
	font-weight: 700;
}
.ul-login li a svg {
	margin-right: .813rem;
}
.ul-login li a svg g {
	fill: #264a75;
}
.ul-login li a:hover {
	color: #bec9d6;
}
.ul-login li a:hover svg g {
	fill: #bec9d6;
}
.ul-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-top: .188rem;
	margin-bottom: 2.5rem;
}
.ul-social li {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: .625rem;
}
.ul-social li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	font-size: .875em;
}
.ul-social li a svg {
	margin-right: .75rem;
}
.ul-social li a svg g {
	fill: #fff;
}
.ul-social li a:hover {
	color: #186ff0;
}
.ul-social li a:hover svg g {
	fill: #186ff0;
}
.slick-loading .slick-list {
	background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;
}
@font-face {
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/slick/slick.eot');
	src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');
}
.slider .arrow {
	position: absolute;
	bottom: 0;
	z-index: 100;
	height: 62px;
	width: 83px;
	border: 1px solid #186ff0;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (max-width: 767px) {
	.slider .arrow {
		height: 48px;
		width: 65px;
	}
}
.slider .arrow svg {
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.slider .arrow svg g {
	fill: #186ff0;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.slider .arrow:hover {
	background: #8297af;
}
.slider .arrow:hover svg g {
	fill: #fff;
}
.slider .arrow.left {
	left: calc(1186px - 50%);
}
.slider .arrow.left:hover svg {
	-webkit-transform: translate3d(-10px, 0, 0);
	        transform: translate3d(-10px, 0, 0);
}
.slider .arrow.right {
	left: calc(1186px - 50% + 82px);
}
.slider .arrow.right:hover svg {
	-webkit-transform: translate3d(10px, 0, 0);
	        transform: translate3d(10px, 0, 0);
}
.tabs-publication {
	position: relative;
	padding-bottom: 2.313rem;
	margin-bottom: 2.688rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.tabs-publication {
		margin-left: -1.876rem;
		margin-right: -.938rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.tabs-publication {
		padding-bottom: 1.063rem;
	}
}
.tabs-publication:after {
	content: '';
	display: block;
	position: absolute;
	width: 1170px;
	left: -210px;
	bottom: 0;
	height: 1px;
	background: #e3e7ec;
}
.tabs-publication--ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 1.188rem;
	padding-bottom: 1.188rem;
}
.tabs-publication--ul li {
	margin-right: 1.75rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.tabs-publication--ul li {
		margin-right: .938rem;
	}
}
.tabs-publication--ul li a {
	display: block;
	font-family: 'Apercu Pro', sans-serif;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: .5px;
	color: #c7d3df;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.tabs-publication--ul li a {
		font-size: .875em;
	}
}
.tabs-publication--ul li a.active {
	color: #186ff0;
}
.tabs-publication--ul li a.active:hover {
	color: #186ff0;
}
.tabs-publication--ul li a:hover {
	color: #264a75;
}
.tabs-publication--line {
	width: 183px;
	height: 3px;
	background-color: #e3e7ec;
	position: absolute;
	bottom: 42px;
	left: 22px;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.tabs-publication--line {
		left: -10px;
	}
}
.form-search .input-group {
	margin-bottom: 0;
}
@media (max-width: 767px) {
	.form-search .input-group span {
		left: auto;
		right: 0;
	}
}
.form-search .input-group input {
	background: rgba(95,128,165,.08);
	width: calc(100% + 15px);
	border: none;
	border-radius: 3px;
	font-size: .875em;
	padding: .25rem .938rem .25rem 2.813rem;
}
.form-search .input-group input:-moz-placeholder {
	color: rgba(38,74,117,.5);
}
.form-search .input-group input::-moz-placeholder {
	color: rgba(38,74,117,.5);
}
.form-search .input-group input:-ms-input-placeholder {
	color: rgba(38,74,117,.5);
}
.form-search .input-group input::-webkit-input-placeholder {
	color: rgba(38,74,117,.5);
}
@media (max-width: 767px) {
	.form-search .input-group input {
		width: 100%;
		padding: .563rem 1.25rem .688rem;
	}
}
.form-search .input-group span svg g {
	fill: #264a75;
}
.form-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.form-footer .btn {
	max-width: 196px;
	font-size: .875rem;
	letter-spacing: 2.3px;
	padding-top: 1.188rem;
	padding-bottom: 1.063rem;
}
.form-footer input {
	margin-bottom: 0;
	border: none;
	background: #484a4e;
	height: 100%;
	padding-left: 1.938rem;
	font-size: 1em;
	color: #fff;
}
.form-footer input:-moz-placeholder {
	color: #fff;
}
.form-footer input::-moz-placeholder {
	color: #fff;
}
.form-footer input:-ms-input-placeholder {
	color: #fff;
}
.form-footer input::-webkit-input-placeholder {
	color: #fff;
}
.form-footer input:focus {
	background-color: #36393f;
}
.form-footer .input-shadow {
	position: relative;
	z-index: 40;
	width: 100%;
}
.form-footer .input-shadow:after {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	left: 6px;
	right: 6px;
	bottom: -17px;
	height: 34px;
	-webkit-filter: blur(12px);
	        filter: blur(12px);
	background-color: #26292e;
}
input {
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 1.25rem;
	border: 1px solid #ccc;
	border-radius: 0;
	padding: .688rem .938rem .75rem;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #fff !important;
	-webkit-text-fill-color: #999 !important;
}
input:focus {
	outline: none;
	border-color: #00f;
}
input:-moz-placeholder {
	color: #999;
}
input::-moz-placeholder {
	color: #999;
}
input:-ms-input-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
input[type=reset] {
	border: 0;
	cursor: pointer;
}
label {
	padding-left: 1rem;
	font-weight: 700;
	font-size: 1em;
	margin-bottom: .813rem;
}
textarea {
	-webkit-appearance: none;
	resize: none;
	margin-bottom: 1.25rem;
	border: 1px solid #ccc;
	border-radius: 0;
	width: 100%;
	height: 100px;
	padding: .688rem .938rem .75rem;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
textarea:focus {
	outline: none;
	border-color: #00f;
}
textarea:-moz-placeholder {
	color: #999;
}
textarea::-moz-placeholder {
	color: #999;
}
textarea:-ms-input-placeholder {
	color: #999;
}
textarea::-webkit-input-placeholder {
	color: #999;
}
.input-group {
	position: relative;
	margin-bottom: 1.25rem;
}
.input-group input {
	margin-bottom: 0;
	padding-left: 45px;
}
.input-group textarea {
	padding-left: 45px;
	margin-bottom: 0;
}
.input-group textarea + span {
	height: 45px;
}
.input-group textarea:focus + span {
	color: #00f;
}
.input-group select {
	padding-left: 45px;
	margin-bottom: 0;
}
.input-group span {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 45px;
	height: 100%;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
select {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	padding: .75rem .938rem .813rem;
	border-radius: 0;
	display: block;
	margin-bottom: 1.25rem;
	-webkit-appearance: none;
	   -moz-appearance: none;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
select:focus {
	outline: none;
	border: 1px solid #00f;
}
.select-group {
	position: relative;
	margin-bottom: 1.25rem;
}
.select-group:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	top: calc(50% - 2px);
	right: 15px;
}
.select-group-noarrow:after {
	display: none;
}
.volta {
	float: right;
	display: block;
	position: relative;
}
.volta--text {
	font-size: .75em;
	color: #52555a;
	position: relative;
	top: -3px;
	margin-right: .313rem;
}
.volta--visible svg {
	width: 62px;
}
.volta--visible svg g {
	fill: #52555a;
}
.volta--hidden {
	position: absolute;
	right: 0;
	top: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.volta--hidden svg {
	width: 62px;
}
.volta--hidden svg g {
	fill: #7521e1;
}
.volta:hover .volta--hidden {
	height: 100%;
}
.blog {
	display: block;
	position: relative;
	margin-bottom: 4.25rem;
}
.blog--image {
	height: 173px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 2.438rem;
	background: #fff;
	overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.blog--image {
		height: 191px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.blog--image {
		height: 218px;
	}
}
.blog--image img {
	height: 100%;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.blog--date {
	position: absolute;
	bottom: 15px;
	right: 13px;
	font-size: .875em;
	font-weight: bold;
	color: #c7d3df;
	font-family: 'Apercu Pro', sans-serif;
}
.blog--description {
	margin-bottom: 2.188rem;
}
.blog:hover .blog--image img {
	opacity: .4;
}
.blog.blog-advantage {
	margin-bottom: 4rem;
}
.blog.blog-advantage .blog--image {
	height: 225px;
	margin-bottom: 2.438rem;
}
@media (max-width: 767px) {
	.blog.blog-advantage .blog--image {
		min-height: 181px;
		margin-bottom: 2.313rem;
	}
	.blog.blog-advantage .blog--image img {
		width: 100%;
	}
}
.blog.blog-advantage .blog--description {
	margin-bottom: 0;
}
.blog.blog-advantage .blog--description h3 {
	line-height: 1.3;
	color: #144682;
	font-size: 1.25em;
	margin-bottom: 1.688rem;
}
@media (max-width: 767px) {
	.blog.blog-advantage .blog--description h3 {
		margin-bottom: 1.5rem;
	}
}
.join {
	padding-top: 1.875rem;
}
.join--block {
	position: relative;
	margin-bottom: 1.25rem;
}
@media (min-width: 768px) and (max-width: 991px) {
	.join--block {
		height: 479px;
		overflow: hidden;
	}
}
@media (max-width: 767px) {
	.join--block {
		height: 410px;
		overflow: hidden;
	}
}
.join--block-image {
	width: 100%;
}
.join--block p {
	color: #144682;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2.313rem 1.25rem;
	margin-bottom: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.join--block p {
		padding: 2rem .938rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.join--block p {
		padding: 1.563rem .938rem;
	}
}
@media (max-width: 767px) {
	.join--block p {
		padding: 2.188rem 1.25rem;
	}
}
.comment {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0 10px 30px 0 rgba(94,107,126,.3);
	        box-shadow: 0 10px 30px 0 rgba(94,107,126,.3);
	min-height: 285px;
	margin-top: 2.188rem;
	margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
	.comment {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.comment--left {
	max-width: 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
	.comment--left {
		width: 100%;
		max-width: 100%;
	}
}
.comment--left-date {
	position: absolute;
	font-size: .875em;
	font-weight: bold;
	color: #c7d3df;
	right: 0;
	bottom: 15px;
	font-family: 'Apercu Pro', sans-serif;
}
@media (min-width: 768px) and (max-width: 991px) {
	.comment--left-date {
		right: 25px;
	}
}
.comment--right {
	padding: 2.625rem .938rem 2.75rem 0;
	margin-left: 2.75rem;
	position: relative;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.comment--right {
		margin-left: 2.125rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.comment--right {
		width: 100%;
		padding-left: 1.563rem;
		padding-right: 1.563rem;
		margin-left: 0;
	}
}
.comment--right h3 {
	font-size: 1.75em;
	margin-bottom: 0;
}
.comment--right .btn-more {
	position: absolute;
	bottom: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
	.comment--right .btn-more {
		left: 0;
		padding-left: 1.563rem;
		min-width: 50%;
	}
}
.back-blue-light {
	background: #f7f8f9;
}
.back-blue-light2 {
	background: #e6ebef;
}
.calendar {
	display: block;
	position: relative;
	margin: .938rem .938rem 0;
	width: 263px;
}
.calendar--mark {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.calendar--mark-text {
	position: relative;
	font-family: 'Apercu Pro', sans-serif;
	font-weight: 700;
	padding-bottom: 1.75rem;
	color: #a0b3c9;
}
.calendar--mark-text:after {
	content: '';
	display: block;
	position: absolute;
	width: 50px;
	height: 7px;
	background: #186ff0;
	bottom: 0;
	left: 0;
}
.calendar--mark-event {
	line-height: 1.86;
	font-size: .875em;
}
.calendar--mark-event:after {
	width: 15px;
	height: 7px;
	bottom: 1px;
}
.calendar--mark-month {
	font-size: 1.375em;
	line-height: 1.18;
	margin-right: 1.875rem;
	max-height: 53px;
}
.calendar--block {
	-webkit-box-shadow: 0 10px 23px 0 rgba(94,107,126,.3);
	        box-shadow: 0 10px 23px 0 rgba(94,107,126,.3);
	border: 6px solid #fff;
	padding: 2rem 1.313rem 2rem 1.438rem;
	height: 230px;
	position: relative;
	z-index: 40;
	margin-bottom: 1.625rem;
	background: #fff;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.calendar--block:after {
	content: '';
	display: block;
	position: absolute;
	top: 9px;
	bottom: 9px;
	left: 9px;
	right: 9px;
	background: #186ff0;
	opacity: 0;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	z-index: -1;
}
.calendar--block h3 {
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.calendar--block-date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 1.938rem;
}
.calendar--block-date--date {
	font-size: 2.125em;
	font-weight: bold;
	color: #186ff0;
	font-family: 'Apercu Pro', sans-serif;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.calendar--block-date--text {
	font-size: 14px;
	line-height: 1.43;
	color: #a0b3c9;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.calendar--block-button {
	position: absolute;
	left: 24px;
	bottom: 35px;
	font-family: 'Apercu Pro', sans-serif;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: .5px;
	display: block;
	right: 20%;
	opacity: 0;
	color: #fff;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.calendar--block-button svg {
	position: absolute;
	right: 0;
	top: 1px;
	height: 12px;
	width: 20px;
}
.calendar--block-button svg g {
	fill: #fff;
}
.calendar--block:hover {
	-webkit-box-shadow: 0 3px 8px 0 rgba(94,107,126,.3);
	        box-shadow: 0 3px 8px 0 rgba(94,107,126,.3);
}
.calendar--block:hover:after {
	opacity: 1;
}
.calendar--block:hover .calendar--block-button {
	opacity: 1;
}
.calendar--block:hover .calendar--block-date--date {
	color: #fff;
}
.calendar--block:hover .calendar--block-date--text {
	opacity: 0;
}
.calendar--block:hover .calendar--block-button {
	right: 23px;
}
.calendar--block:hover h3 {
	opacity: 0;
}
.calendar.calendar-event .calendar--block {
	border-color: #186ff0;
}
.member {
	display: block;
	border-top: solid 1px #e2e8ee;
	border-bottom: solid 1px #e2e8ee;
	border-left: solid 1px #e2e8ee;
	margin-bottom: -1px;
	-webkit-box-shadow: 1px 0 0 0 #e2e8ee;
	        box-shadow: 1px 0 0 0 #e2e8ee;
	padding: 1.938rem 2.188rem;
	position: relative;
	height: 294px;
	width: 293px !important;
	-webkit-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
.member--image {
	height: 90px;
	margin-bottom: 1.563rem;
}
.member--image img {
	max-height: 100%;
	max-width: 100%;
}
.member p {
	font-size: .75em;
}
.member--tags {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-left: .313rem;
	padding-top: 1px;
}
.member--tags li {
	border: 1px solid #e2e8ee;
	font-size: .75em;
	line-height: 1.33;
	text-align: center;
	color: #e2e8ee;
	padding: .188rem .813rem .25rem;
	margin-top: -1px;
	margin-left: -1px;
}
.member .btn-more {
	position: absolute;
	bottom: -1px;
	left: -1px;
	padding-left: 2.375rem;
}
.member:hover {
	-webkit-box-shadow: 0 10px 30px 0 rgba(94,107,126,.3);
	        box-shadow: 0 10px 30px 0 rgba(94,107,126,.3);
	background: #fff;
	border-color: transparent;
}
.member.member-regular {
	padding: 1.5rem 2.063rem;
	height: 194px;
}
.member.member-regular .member--image {
	height: 54px;
	margin-bottom: 1.313rem;
}
.member.member-regular .btn-more {
	bottom: 2px;
	left: 6px;
	font-size: .875em;
	color: #fff;
}
.member.member-regular:hover .btn-more {
	background: transparent;
	color: #186ff0;
	max-width: calc(100% - 19px);
	padding-left: 1.875rem;
}
.member.member-regular:hover .btn-more svg {
	opacity: 1;
}
.member.member-regular:hover .btn-more svg g {
	fill: #186ff0;
}
@media (max-width: 767px) {
	.menu li a {
		color: rgba(255,255,255,.6);
	}
	.menu li a:hover {
		color: #617790;
	}
	.ul-lang li a {
		color: rgba(255,255,255,.3);
	}
	.ul-lang li a.active, .ul-lang li a:hover {
		color: #fff;
	}
	.form-search .input-group input {
		background: rgba(255,255,255,.15);
		color: #fff;
	}
	.form-search .input-group input:-moz-placeholder {
		color: #fff;
	}
	.form-search .input-group input::-moz-placeholder {
		color: #fff;
	}
	.form-search .input-group input:-ms-input-placeholder {
		color: #fff;
	}
	.form-search .input-group input::-webkit-input-placeholder {
		color: #fff;
	}
	.form-search .input-group span svg g {
		fill: #fff;
	}
	.ul-login:before {
		background: rgba(255,255,255,.3);
	}
	.ul-login li a {
		color: #fff;
	}
	.ul-login li a svg g {
		fill: #fff;
	}
	.ul-login li a:hover {
		color: rgba(255,255,255,.3);
	}
	.ul-login li a:hover svg g {
		fill: rgba(255,255,255,.3);
	}
	.menu li.dropdown ul {
		background: #8297af;
	}
}
.link-color-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	height: 48vh;
	margin-top: .5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
	.link-color-img {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		    flex-direction: column;
	}
}
@media (max-width: 767px) {
	.link-color-img {
		height: 210px;
		margin-top: 0;
		margin-bottom: 4.25rem;
		width: calc(100% + 30px);
		left: -15px;
		right: -15px;
		position: relative;
	}
}
.link-color-img .img-color {
	display: inline-block;
	height: 100%;
	width: auto;
}
@media (max-width: 767px) {
	.link-color-img .img-color {
		height: auto;
		width: calc(100% + 30px);
	}
}
@media (max-width: 767px) {
	.slider-color--col {
		padding: 0 30px;
	}
}
.slider-color--col:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	right: 0;
	bottom: 0;
	background: #a0b3c9;
	-webkit-transition: .6s all ease;
	     -o-transition: .6s all ease;
	        transition: .6s all ease;
}
.slider-color {
	padding-bottom: 3.875rem;
}
@media (max-width: 767px) {
	.slider-color {
		left: -15px;
		right: -15px;
		width: calc(100% + 30px);
	}
}
.slider-color--heading {
	font-family: 'Apercu Pro', sans-serif;
	font-size: 2.75em;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 1px;
	color: #fff;
	display: inline-block;
	margin-bottom: 3.25rem;
}
@media (min-width: 1600px) {
	.slider-color--heading {
		font-size: 3.5em;
		margin-bottom: 5.75rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.slider-color--heading {
		font-size: 4.125em;
	}
}
@media (max-width: 767px) {
	.slider-color--heading {
		font-size: 1.5em;
		line-height: 1.33;
		margin-bottom: 1.063rem;
	}
}
.slider-color--heading:hover {
	color: #fff;
}
.slider-color--date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 1.875rem;
	margin-bottom: 3.563rem;
}
.slider-color--date li {
	color: #fff;
	font-size: .875em;
	letter-spacing: 1px;
	margin-right: 2.5rem;
	font-weight: 700;
}
.slider-color--date li:last-child {
	margin-right: 0;
}
.slider-color--date li a {
	color: #fff;
	text-decoration: underline;
}
.slider-color p {
	color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
	.slider-color p {
		font-size: 1em;
	}
}
@media (max-width: 767px) {
	.slider-color p {
		margin-bottom: 2.125rem;
	}
}
.slider-color .link-detail {
	float: left;
}
.slider-color .arrow {
	border-color: rgba(255,255,255,.3);
}
@media (max-width: 767px) {
	.slider-color .arrow {
		bottom: auto;
		top: 210px;
	}
}
.slider-color .arrow svg g {
	fill: #fff;
}
.slider-color .arrow.left {
	left: calc(1057px - 50%);
}
@media (min-width: 992px) and (max-width: 1199px) {
	.slider-color .arrow.left {
		left: calc(790px - 50%);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.slider-color .arrow.left {
		left: calc(570px - 50%);
	}
}
@media (max-width: 767px) {
	.slider-color .arrow.left {
		left: auto;
		right: calc(15px + 64px);
	}
}
.slider-color .arrow.right {
	left: calc(1057px - 50% + 82px);
}
@media (min-width: 992px) and (max-width: 1199px) {
	.slider-color .arrow.right {
		left: calc(790px - 50% + 82px);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.slider-color .arrow.right {
		left: calc(570px - 50% + 82px);
	}
}
@media (max-width: 767px) {
	.slider-color .arrow.right {
		right: 15px;
		left: auto;
	}
}
.slider-color .slick-slide.slick-current.slick-active .slider-color--col:before {
	width: 0;
}
.slider-with-line {
	position: relative;
	padding-bottom: 3.563rem;
	padding-top: 0;
	margin-bottom: 0;
}
.slider-with-line:after {
	content: '';
	display: block;
	position: absolute;
	width: 150vw;
	background: #186ff0;
	height: 1px;
	bottom: 61px;
	left: -50vw;
}
.slider-with-line .slick-track {
	left: -146px;
}
.slider-with-line .slick-list:after, .slider-with-line .slick-list:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 20px;
	width: 10.5vw;
	z-index: 300;
}
@media (min-width: 1600px) {
	.slider-with-line .slick-list:after, .slider-with-line .slick-list:before {
		width: 278px;
	}
}
.slider-with-line .slick-list:before {
	left: 0;
}
.slider-with-line .slick-list:after {
	right: 0;
}
.slider-with-line .arrow.left {
	left: calc(1426px - 50%);
}
@media (min-width: 992px) and (max-width: 1199px) {
	.slider-with-line .arrow.left {
		left: calc(946px - 50%);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.slider-with-line .arrow.left {
		left: calc(706px - 50%);
	}
}
.slider-with-line .arrow.right {
	left: calc(1426px - 50% + 82px);
}
@media (min-width: 992px) and (max-width: 1199px) {
	.slider-with-line .arrow.right {
		left: calc(946px - 50% + 82px);
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.slider-with-line .arrow.right {
		left: calc(706px - 50% + 82px);
	}
}
.slider-with-line.slider-with-line-sync {
	padding-bottom: 6.063rem;
}
.slider-with-line.slider-with-line-sync .slick-list:after, .slider-with-line.slider-with-line-sync .slick-list:before {
	background: #fff;
}
.slider-with-line.slider-with-line-sync .slick-list:before {
	background: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, #fff 0%, rgba(255,255,255,0) 100%);
	background:      -o-linear-gradient(left, #fff 0%, rgba(255,255,255,0) 100%);
	background:         linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%);
}
.slider-with-line.slider-with-line-sync .slick-list:after {
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), to(#fff));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 100%);
	background:      -o-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 100%);
	background:         linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
}
.slider-with-line.slider-with-line-sync .slick-track {
	padding-top: 1.563rem;
	padding-bottom: 1.875rem;
}
.slider-sync {
	position: absolute;
	bottom: 51px;
	left: 92px;
	width: 47%;
}
.slider-sync .slick-track {
	position: relative;
	left: 26.5%;
}
.slider-progress {
	height: 7px;
	position: relative;
}
.slider-progress:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 180px;
	background: #186ff0;
}
.slider-calendar {
	padding-top: 1.25rem;
	margin-bottom: 4.438rem;
}
.slider-calendar .slick-list:after, .slider-calendar .slick-list:before {
	background: #fff;
}
.slider-calendar .slick-list:before {
	background: -webkit-gradient(linear, left top, right top, from(#e6ebef), to(rgba(230,235,239,0)));
	background: -webkit-linear-gradient(left, #e6ebef 0%, rgba(230,235,239,0) 100%);
	background:      -o-linear-gradient(left, #e6ebef 0%, rgba(230,235,239,0) 100%);
	background:         linear-gradient(to right, #e6ebef 0%, rgba(230,235,239,0) 100%);
}
.slider-calendar .slick-list:after {
	background: -webkit-gradient(linear, left top, right top, from(rgba(230,235,239,0)), to(#e6ebef));
	background: -webkit-linear-gradient(left, rgba(230,235,239,0) 0%, #e6ebef 100%);
	background:      -o-linear-gradient(left, rgba(230,235,239,0) 0%, #e6ebef 100%);
	background:         linear-gradient(to right, rgba(230,235,239,0) 0%, #e6ebef 100%);
}
@media (min-width: 992px) and (max-width: 1199px) {
	.row-publications .col-xl-3:last-child {
		display: none;
	}
}