.blog


  &.blog-chief
    mb(r(41))
    .blog--image
      height 181px
      mb(r(40))
      +mob()
        mb(r(25))
    h3
      fs(e(20))
      mb(r(32))
      +mob()
        mb(r(13))
    &.blog-chief-small
      mb(r(83))
      +mob()
        mb(r(41))
      h3
        mb(r(12))
    &:hover
      .blog--image
        img
          opacity 1





