

body.brow-firefox
  .member
    &:hover
      box-shadow: 0 10px 15px 0 rgba(94, 107, 126, 0.3);

body.brow-safari
  .member
    &:hover
      box-shadow: 0 10px 15px 0 rgba(94, 107, 126, 0.3);

  .btn:after
    bottom 12px
    left 26px
    right 26px
    box-shadow: 0px 0px 24px 16px rgba(20,114,255,1);