.form-search
  .input-group
    margin-bottom 0
    +mob()
      span
        left auto
        right 0
    input
      background rgba(95,128,165,0.08)
      width: calc(100% + 15px);
      border none
      border-radius: 3px;
      fs($e14)
      padding $r4 $r15 $r4 $r45
      +placeholder()
        color rgba(38,74,117,.5)
      +mob()
        width 100%
        padding $r9 $r20 $r11

    span
      svg g
        fill $blue-dark3

.form-footer
  display flex
  .btn
    max-width 196px
    font-size: $r14
    letter-spacing: 2.3px;
    pt($r19)
    pb($r17)
  input
    mb($r0)
    border: none
    background $black-back2
    height 100%
    pl($r31)
    fs($e16)
    color $white
    +placeholder()
      color $white
    &:focus
      bg(#36393F)

  .input-shadow
    position relative
    z-index 40
    width 100%
    &:after
      pseudo(block, absolute)
      z-index -1
      left 6px
      right 6px
      bottom -17px
      height: 34px;
      filter: blur(12px);
      background-color: #26292e;


