@import '../../utilities/utilities'

.form-search
  .input-group
    mb(0)
    +mob()
      span
        left auto
        right 0
    input
      background rgba(95,128,165,0.08)
      width: calc(100% + 15px);
      border none
      border-radius: 3px;
      fs(e(14))
      padding r(4) r(15) r(4) r(45)
      +placeholder()
        color rgba(38,74,117,.5)
      +mob()
        width 100%
        padding r(9) r(20) r(11)

    span
      svg g
        fill $blue-dark3

.form-footer
  display flex
  +mob()
    flex-wrap: wrap
    mb(r(60))
  .btn
    max-width 196px
    fs(e(14))
    letter-spacing: 2.3px;
    pt(r(19))
    pb(r(17))
    +mob()
      max-width 100%
  input
    mb(0)
    border: none
    bg($black-back2)
    height 100%
    pl(r(31))
    fs(e(16))
    co($wt)
    position relative
    z-index 2
    +placeholder()
      co($wt)
    +mob()
      fs(e(14))
      pt(r(14))
      pb(r(16))
    &:focus
      bg(#36393F)
      & + .input-group-shadow--shade
        &:after
          transform translate3d(0, -6px, 0)
          box-shadow: 0px 0px 34px 11px rgba(42,37,61,1);


  .input-group-shadow
    width 100%
    +mob()
      mb(r(20))
    &--shade
      position relative
      z-index 1
      &:after
        pseudo(block, absolute)
        z-index -1
        left 16px
        right 16px
        bottom 0
        box-shadow: 0px 0px 34px 11px rgba(38,41,46,1);
        trans()
        +mob()
          left 25px
          right 25px






.form-questions
  display flex
  justify-content space-between
  flex-wrap wrap
  input
    border none
    bg($blue-light-back5)
    fs(e(14))
    padding r(11) r(24) r(13) r(24)
    mb(r(30))
    flex 1 1 calc(50% - 15px)
    max-width calc(50% - 15px)
    +mob()
      flex 1 1 100%
      max-width 100%
      mb(r(20))
  textarea
    border none
    bg($blue-light-back5)
    fs(e(14))
    padding r(11) r(24) r(13) r(24)
    mb(r(30))
    height 120px
    +mob()
      mb(r(20))
  .btn
    fs(e(20))
    letter-spacing: 1px;
    max-width 360px
    mcen()
    display flex
    justify-content center
    align-items center
    pt(r(13))
    pb(r(17))
    svg
      ml(r(15))
    +mob()
      max-width 414px


