.form-search
  .input-group
    margin-bottom 0
    +mob()
      span
        left auto
        right 0
    input
      background rgba(95,128,165,0.08)
      width: calc(100% + 15px);
      border none
      border-radius: 3px;
      fs($e14)
      padding $r4 $r15 $r4 $r45
      +placeholder()
        color rgba(38,74,117,.5)
      +mob()
        width 100%
        padding $r9 $r20 $r11

    span
      svg g
        fill $blue-dark3

.form-footer
  display flex
  +mob()
    flex-wrap: wrap
    mb($r60)
  .btn
    max-width 196px
    font-size: $r14
    letter-spacing: 2.3px;
    pt($r19)
    pb($r17)
    +mob()
      max-width 100%
  input
    mb($r0)
    border: none
    background $black-back2
    height 100%
    pl($r31)
    fs($e16)
    color $white
    position relative
    z-index 2
    +placeholder()
      color $white
    +mob()
      fs($e14)
      pt($r14)
      pb($r16)
    &:focus
      bg(#36393F)
      & + .input-group-shadow--shade
        &:after
          transform translate3d(0, -6px, 0)
          box-shadow: 0px 0px 34px 11px rgba(42,37,61,1);


  .input-group-shadow
    width 100%
    +mob()
      mb($r20)
    &--shade
      position relative
      z-index 1
      &:after
        pseudo(block, absolute)
        z-index -1
        left 16px
        right 16px
        bottom 0
        box-shadow: 0px 0px 34px 11px rgba(38,41,46,1);
        trans()
        +mob()
          left 25px
          right 25px






.form-questions
  display flex
  justify-content space-between
  flex-wrap wrap
  input
    border none
    background $blue-light-back5
    fs($e14)
    padding $r11 $r24 $r13 $r24
    mb($r30)
    flex 1 1 calc(50% - 15px)
    max-width calc(50% - 15px)
    +mob()
      flex 1 1 100%
      max-width 100%
      mb($r20)
  textarea
    border none
    background $blue-light-back5
    fs($e14)
    padding $r11 $r24 $r13 $r24
    mb($r30)
    height 120px
    +mob()
      mb($r20)
  .btn
    font-size: $e20
    letter-spacing: 1px;
    max-width 360px
    mcen()
    display flex
    justify-content center
    align-items center
    pt($r13)
    pb($r17)
    svg
      ml($r15)
    +mob()
      max-width 414px


