.slider-middle
  height 427px
  +xs()
    height: 248px;
  +land()
    height: 248px;
  .arrow
    bg($wt)
    svg g
      fill $blue

    &.left
      left -82px
      +mob()
        right 79px
        left auto
      +land()
        left -64px
    &.right
      left 0
      +mob()
        right 15px
        left auto
        background $tr
      +land()
        left 0
    &:hover
      //background $blue-light6
      background $blue

  .slide
    height 427px
    display flex
    overflow hidden
    justify-content center
    align-items center
    +xs()
      height: 200px;
    +land()
      height: 248px;
    img
      height 100%
      flex-shrink 0
      margin 0
      width auto
      +land()
        height auto
        width 100%
      //+mob()
      //  height: 100%;
      //  width auto

    //+land()
    //  height 257px