.slider-middle
  height 427px
  +mob()
    height: 257px;
  .arrow
    bg($wt)
    svg g
      fill $blue

    &.left
      left -82px
      +mob()
        right 79px
        left auto
      +land()
        left -64px
    &.right
      left 0
      +mob()
        right 15px
        left auto
        background $tr
      +land()
        left 0
    &:hover
      background $blue-light6

  .slide
    height 427px
    display flex
    overflow hidden
    justify-content center
    align-items center
    img
      height 100%
      flex-shrink 0
      +land()
        height auto
      +mob()
        min-height: 100%;
        min-width: 100%;
    +mob()
      height 210px
    +land()
      height 257px