a(href='' title='').calendar.calendar-report.calendar-report-quart
    .calendar--block
        .calendar--block-date
            .calendar--block-date--date 2018

        h3 1-ий квартал
        .calendar--block-date--text
            | Квартальний звіт
        .btn-more Детальніше
            include ../../svgs/arrow-right.svg
