a(href='' title='').calendar.calendar-report.calendar-report-year
    .calendar--block
        .calendar--block-date
            .calendar--block-date--date 2018

        .calendar--block-date--text
            | Річний звіт
        .btn-more Детальніше
            include ../../svgs/arrow-right.svg
