a(href='' title='').calendar.calendar-event
    .calendar--block
        .calendar--block-date
            .calendar--block-date--date 23.02
            .calendar--block-date--text
                | Початок о 16:00
        h3 Програма розвитку з англійської мови для маркетологів
        .calendar--block-button
            | Перейти до події
            include ../../../svgs/arrow-right.svg
    .calendar--mark
        .calendar--mark-event.calendar--mark-text Подія Асоціації
