a(href='' title='').calendar
    .calendar--block
        .calendar--block-date
            .calendar--block-date--date 21.04
            .calendar--block-date--text
                | Початок о 9:00
        h3 AI&BigData Conference 2018
        .calendar--block-button
            | Перейти до події
            include ../../../svgs/arrow-right.svg
    .calendar--mark
        .calendar--mark-month.calendar--mark-text Квітень
