a(href='' title='').calendar.calendar-event
    .calendar--block
        .calendar--block-date
            .calendar--block-date--date 21.05
            .calendar--block-date--text
                | Початок о 9:30
        h3 INTAX FORUM UKRAINE - ІНВЕСТИЦІЇ. ФІНАНСИ. ПОДАТКИ. ПРАВО
        .calendar--block-button
            | Перейти до події
            include ../../../svgs/arrow-right.svg
    .calendar--mark
        .calendar--mark-event.calendar--mark-text Подія Асоціації
