a(href='' title='').calendar
    .calendar--block
        .calendar--block-date
            .calendar--block-date--date 18.05
            .calendar--block-date--text
                | Початок о 18:30
        h3 Хакатон Синхро-Простір
        .calendar--block-button
            | Перейти до події
            include ../../../svgs/arrow-right.svg
    .calendar--mark
        .calendar--mark-month.calendar--mark-text Травень
