a(href='' title='').calendar.calendar-event
    .calendar--block
        .calendar--block-date
            .calendar--block-date--date 21.06
            .calendar--block-date--text
                | Початок о 10:00
        h3 M-FORCE18 від Miratech
        .calendar--block-button
            | Перейти до події
            include ../../../svgs/arrow-right.svg
    .calendar--mark
        .calendar--mark-month.calendar--mark-text Червень
        .calendar--mark-event.calendar--mark-text Подія Асоціації
