a(href='' title='').calendar
    .calendar--block
        .calendar--block-date
            .calendar--block-date--date 25.04
            .calendar--block-date--text
                | Початок о 16:00
        h3 Конференція «Забезпечення безпеки кіберпростору в системі національної безпеки України»
        .calendar--block-button
            | Перейти до події
            include ../../../svgs/arrow-right.svg
