body .fc
  pt(r(35))

.fc-toolbar h2
  text-transform capitalize
  text-align center
  width 100%
  line-height: 1.86;
  letter-spacing: 1px;
  fs(e(28))

.fc-toolbar .fc-left
  width 100%

.fc-toolbar .fc-right
  width 100%
  float none
  position absolute

.fc .fc-toolbar > * > *
  margin 0

.fc-toolbar .fc-center
  display-inside none

.fc-toolbar.fc-header-toolbar
  bg(#d6dce4)
  pt(r(9))
  pb(r(9))
  position relative

.fc-today-button
  display none

.fc-button-group
  float none !important
  margin 0 auto !important
  max-width 380px
  width 100%
  pt(r(13))

.fc-prev-button
  float left !important

.fc-next-button
  float right !important


.fc-state-default
  background none
  border none
  box-shadow none
