.calendar-container#calendar-block
    .calendar-month
        .calendar-month--prev
        .calendar-month--next

    #calendar

    a(href='#calendar-block' title='').btn.btn-arrow.btn-center#to-next-month
        | Наступний місяць
        include ../../_svgs/arrow-right.svg