section.section-top-zero
    .container
        .row
            .col-12
                hr
                .spacer-28

            .col-md-3
                .tablist-choose.big Перегляньте також:

            .col-md-9
                ul.ul-tablist
                    +li-a('Фінансово-правовий комітет')
                    +li-a('Комітет з питань освіти')
                    +li-a('PR комітет')