section.section-comments
    .container
        .row
            .col-sm-8.col-md-9
                    h2.mb-66 Відгуки

            .col-sm-4.col-md-3.col-detail-display
                +link-detail('Усі відгуки')

        .row
            .col-sm-6
                include ../blocks/comments/comments-regular/_comment-item3
            .col-sm-6
                include ../blocks/comments/comments-regular/_comment-item4

        .row
            .col-12.col-detail-mobile
                +link-detail('Усі відгуки')