section.section-question
    .container
        .row.justify-content-center
            .col-sm-10.col-lg-8.col-xl-6
                h2 Залишились запитання ?
                form.form-questions
                    input(type='' placeholder='Ваше ім’я')
                    input(type='' placeholder='E-mail')
                    textarea(placeholder='Введіть повідомлення')
                    button(type='submit').btn
                        | Відправити
                        include ../svgs/arrow-plane.svg