.container
    .row
        .col-12
            .slider.slider-graph.slider-with-line.slider-with-line-sync
                +slider-graph-item('https://dummyimage.com/1139x718/d8d8d8/d8d8d8', 'https://dummyimage.com/2139x1718/d8d8d8/d8d8d8')
                +slider-graph-item('https://dummyimage.com/1139x718/d8d8d8/d8d8d8', 'https://dummyimage.com/2139x1718/d8d8d8/d8d8d8')
                +slider-graph-item('https://dummyimage.com/1139x718/d8d8d8/d8d8d8', 'https://dummyimage.com/2139x1718/d8d8d8/d8d8d8')
                +slider-graph-item('https://dummyimage.com/1139x718/d8d8d8/d8d8d8', 'https://dummyimage.com/2139x1718/d8d8d8/d8d8d8')



            .slider-progressbar.slider-progressbar-graph
                .slider-progressbar--track