.slider-graph
  margin: 0 -15px;
  &--item
    display flex
    justify-content center
    align-items center
    width 100%
    height 349px
    padding 0 r(15)
    //+mob()
    //  height 250px
    //  overflow hidden
    //  position relative
    //  width 263px
    img
      width 100%
      flex 0 0 auto
      //+mob()
      //  height 100%
      //  width auto
  &.slider-with-line.slider-with-line-sync
    .slick-track
      left 0
    .slick-list
      &:before, &:after
        display none


.slider-progressbar.slider-progressbar-graph
  .slider-progressbar--track
    right -65px