section
  pt(r(83))
  pb(r(109))
  +tab()
    pt(r(60))
    pb(r(90))
  +port()
    pt(r(60))
    pb(r(90))
  +mob()
    pt(r(82))
    pb(r(65))

article
  pb(r(32))
  +mob()
    pb(0)
  img
    width 100%
  ul
    mb(r(25))
    li
      position relative
      pl(r(33))
      mb(r(22))
      line-height 1.58
      fs(e(14))
      co($black-text)
      b
        co($blue-dark)
      &:before
        pseudo(block, absolute)
        width 14px
        height 3px
        bg($blue)
        top 10px
        left 0
  ol
    mb(r(25))
    li
      pl(r(33))
      mb(r(22))
      line-height 1.58
      fs(e(14))
      co($black-text)
      b
        co($blue-dark)
  a
    co($blue-dark)
    fw(700)
    &:hover
      co(#bec9d6)

//aside {}

//main {}

address
  mb(0)

.section-top-zero
  pt(0)