@import '../../utilities/utilities'

html
  fs($base-font-pixels)

html, body
  overflow-x hidden

body
  font(r(16), 400, normal)
  co($bk)
  bg($wt)
  font-family $m-font, sans-serif

.container.container-slider
  max-width 100%

+land()
  .container
    max-width 100%

+dis()
  .container
    max-width 1170px !important

  .container.container-slider
    max-width: 1493px !important;

+xxl()
  .container.container-big
    max-width 1500px !important



// SPACERS

.spacer-127
  height 127px
  width 100%

.spacer-61
  height 61px
  width 100%

.spacer-28
  height 28px
  width 100%



// MENU OPEN

html.open
  overflow hidden !important
  height 100vh

body.open
  overflow hidden !important
  .nav-icon
    &:before
      bg(rgba(255, 255, 255, .3))
    span
      bg($wt)
      &:nth-child(1)
        top 20px
        width 0
        left 50%
      &:nth-child(2)
        transform rotate(45deg)
      &:nth-child(3)
        transform rotate(-45deg)
      &:nth-child(4)
        top 20px
        width 0
        left 50%

  #nav-logo
    display none

  #nav-list
    display flex
    animation: ds-none .2s both;

  .nav-top
    bg($blue-light6)
    border-bottom-color: $wt30

  .nav-bottom
    transform none
    overflow-x: hidden;

  nav
    height 100%
    overflow scroll !important
    background-color $blue-light6 !important

.col-detail-display
  +mob()
    display none
  +land()
    display block
    .link-detail
      line-height 1.3
      padding: r(18) 0;
      float right

.col-detail-mobile
  display none
  text-align center
  +mob()
    display: block
  +land()
    display none
