@import '../../utilities/vars'
@import '../../utilities/mixins'

html
  font-size 16px

html, body
  overflow-x hidden

body
  font($r16, 400, normal)
  color $black
  font-family $m-font, sans-serif
  background $white

+mob()
  .container.container-slider
    margin-bottom 0

+land()
  .container.container-big
    max-width 100%

  .container
    max-width 100%

+port()
  .container.container-slider
    max-width: 100%;

+tab()
  .container.container-slider
    max-width: 100%;

+dis()
  .container
    max-width 1170px !important

  .container.container-slider
    max-width: calc(1170px + 263px + 30px + 30px) !important;
    //max-width 1280px !important
    //max-width 1366px !important

+xxl()
  .container.container-big
    max-width 1500px !important





.spacer-61
  height 61px
  width 100%

.spacer-28
  height 28px
  width 100%



html.open
  overflow hidden !important
  height 100vh

body.open
  overflow hidden !important
  .nav-icon
    &:before
      bg(rgba(255, 255, 255, .3))
    span
      bg($white)
      &:nth-child(1)
        top 20px
        width 0
        left 50%
      &:nth-child(2)
        transform rotate(45deg)
      &:nth-child(3)
        transform rotate(-45deg)
      &:nth-child(4)
        top 20px
        width 0
        left 50%

  #nav-logo
    display none

  #nav-list
    display flex
    animation: ds-none .2s both;

  .nav-top
    background $blue-light6
    border-bottom-color: rgba(255, 255, 255, .3);

  .nav-bottom
    transform none
    overflow-x: hidden;

  nav
    height 100%
    overflow scroll !important
    background-color $blue-light6 !important

.col-detail-display
  +mob()
    display none
  +land()
    display block
    .link-detail
      line-height 1.3
      padding: 1.125rem 0;
      float right

.col-detail-mobile
  display none
  text-align center
  mt($r50)
  +mob()
    display: block
  +land()
    display none
