@import '../../utilities/vars'
@import '../../utilities/mixins'

::selection
  background $blue-light4
  color $white

h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite
  font-family $m-font, sans-serif
  color $black

h1
  font($e32, 700, 1.53)
  mb($r31)
  font-family: $a-font, sans-serif;
  letter-spacing: 1px;
  color: $blue-dark

h2
  font($e32, 700, 1.53)
  mb($r31)
  font-family: $a-font, sans-serif;
  letter-spacing: 1px;
  color: $blue-dark

h3
  font($e18, 700, 1.44)
  font-family $a-font, sans-serif
  mb($r15)
  color $blue-dark3

h4
  font($e22, 700, 1.5)
  mb($r38)

h5
  font($e26, 400, 1.88)
  mt($r51)
  mb($r21)
  color: $white;

h6
  font($e16, 400, 1.25)
  mb($r40)
  color: $blue-light4
  .company
    text-decoration underline

p
  font($e14, 400, 1.58)
  co($black-text)
  mb($r22)

.paragraph-lead
  font-size $e20

.paragraph-small
  font-size $e14

hr
  border: 0;
  height: 1px;
  background: $black
  margin $r15 0

.heading-h1-h2
  display flex
  flex-wrap wrap
  h2
    margin-right $r13