@import '../../utilities/vars'
@import '../../utilities/mixins'

::selection
  background $blue-light4
  color $white

h5, h6, p, ul li, ol li, blockquote, cite
  font-family $m-font, sans-serif

h1, h2, h3, h4
  font-family $a-font, sans-serif

h1
  font($e44, 700, 1.11)
  mb($r43)
  letter-spacing: 1px;
  color: $white
  +mob()
    font-size: 2.5em
    mb($r24)



h2
  font($e32, 700, 1.53)
  mb($r31)
  letter-spacing: 1px;
  color: $blue-dark
  +mob()
    font-size: $e24
    line-height: 2.04;
    mb($r24)

h2.h2-public
  +mob()
    margin-bottom $r5



h3
  font($e18, 700, 1.45)
  mb($r15)
  color $blue-dark3

h4
  font($e24, 700, 1.75)
  mb($r17)
  letter-spacing: 0.8px;
  color $blue

h5
  font($e26, 400, 1.88)
  mt($r51)
  mb($r21)
  color: $white;
  +mob()
    mt(0)
    fs($e24)
    line-height 1.17
    mb($r33)
  +land()
    mt($r51)

h6
  font($e16, 400, 1.25)
  mb($r40)
  color: $blue-light4
  .company
    text-decoration underline
  +mob()
    mb($r24)

p
  font($e14, 400, 1.58)
  co($black-text)
  mb($r22)

hr
  border: 0;
  height: 1px;
  background: $blue-light3
  margin $r42 0
  width calc(100% + 30px)
  position relative
  left -15px

.heading-h1-h2
  display flex
  flex-wrap wrap
  mb($r31)
  +mob()
    mb($r24)
  h2
    margin-right $r13
    mb(0)
    +cmax(991px)
      line-height 1.3
  h1
    fs($e32)
    line-height 1.53
    color: $blue-dark
    mb(0)
    +mob()
      font-size: $e24
    +cmax(991px)
      line-height 1.3

.tablist-choose
  font-size: $e16
  font-weight: bold;
  line-height: 1.38;
  color: $blue-light13
  mb($r14)
  &.big
    mt($r14)
    line-height: 1.22;
    fs($e18)


//  MARGINS
.mb-51
  mb($r51)

.mb-66
  mb($r66)

.mb-43
  mb($r43)

.mb-37
  mb($r37)

.mb-mt-43-38
  margin-top: $r38
  margin-bottom: $r43

.mb-mt-81-30
  margin-top: $r30
  margin-bottom: $r81