@import '../../utilities/vars'
@import '../../utilities/mixins'

::selection
  background $blue-light4
  color $white

h1, h2, h3, h4, h5, h6, p, ul li, ol li, blockquote, cite
  font-family $m-font, sans-serif
  color $black

h1
  font($e44, 700, 1.11)
  mb($r43)
  font-family: $a-font, sans-serif;
  letter-spacing: 1px;
  color: $white
  +mob()
    font-size: 2.5em
    line-height: 2.04;
    mb($r24)

h2
  font($e32, 700, 1.53)
  mb($r31)
  font-family: $a-font, sans-serif;
  letter-spacing: 1px;
  color: $blue-dark
  +mob()
    font-size: $e24
    line-height: 2.04;
    mb($r24)

h2.h2-public
  +mob()
    margin-bottom $r5

h3
  font($e18, 700, 1.44)
  font-family $a-font, sans-serif
  mb($r15)
  color $blue-dark3

h4
  font($e22, 700, 1.5)
  mb($r38)

h5
  font($e26, 400, 1.88)
  mt($r51)
  mb($r21)
  color: $white;
  +mob()
    mt(0)
    fs($e24)
    line-height 1.17
    mb($r33)
  +land()
    mt($r51)

h6
  font($e16, 400, 1.25)
  mb($r40)
  color: $blue-light4
  .company
    text-decoration underline
  +mob()
    mb($r24)

p
  font($e14, 400, 1.58)
  co($black-text)
  mb($r22)

.paragraph-lead
  font-size $e20

.paragraph-small
  font-size $e14

hr
  border: 0;
  height: 1px;
  background: $blue-light3
  margin $r42 0
  width calc(100% + 30px)
  position relative
  left -15px

.heading-h1-h2
  display flex
  flex-wrap wrap
  mb($r31)
  +mob()
    mb($r24)
  h2
    margin-right $r13
    mb(0)
    +port()
      line-height 1.3
    +mob()
      line-height 1.3
  h1
    fs($e32)
    line-height 1.53
    color: $blue-dark
    mb(0)
    +mob()
      font-size: $e24
    +port()
      line-height 1.3
    +mob()
      line-height 1.3