.row-publications
  +tab()
    .col-xl-3
      &:last-child
        display none
  +mob()
    .blog
      width 263px
      mb(0)

  +land()
    margin: 0 -30px;
    .slick-track
      left: 15px;

.row-reports
  z-index 60
  &.slider-with-line.slider-with-line-sync
    +mob()
      .slick-track
        left 0

.slider-progressbar-reports1, .slider-progressbar-reports2
  display none
  +mob()
    display block

.row-partners
  margin-left -15px
  margin-right -15px
  +mob()
    margin 0 0 r(70)
  .member
    +tab()
      max-width 100%
    +port()
      height 330px
    +mob()
      max-width 100%

.row-events-year-slide
  padding-top r(10)
  pb(r(62))
  +land()
    pb(r(48))
  +xs()
    padding  0 15px
  h2
    mb(r(28))
    +mob()
      mb(r(18))
  p
    mb(r(86))
    +mob()
      mb(r(35))
  .btn-arrow
    padding r(14) r(29) r(15)
    letter-spacing: 0.5px;
    max-width 263px
    fs(e(16))
    svg
      max-width 20px
      top 13px
      right 30px
      +xs()
        right 38px
        max-width 25px
        top 20px
    +xs()
      max-width 100%
      fs(e(18))
      pl(r(38))
      pt(r(21))
      pb(r(23))
  &--image
    position absolute
    display flex
    align-items center
    justify-content center
    left 16px
    bottom 0
    height 300px
    overflow hidden
    max-width 456px
    +tab()
      max-width 447px
    +port()
      position static
      height 100%
    +land()
      position static
      height 201px
      max-width 100%
      mb(r(56))
    +xs()
      position static
      height 210px
      width calc(100% + 30px)
      margin-bottom: r(76)
      margin-left -15px
      margin-right -15px
    img
      flex: 0 0 auto
      min-height 100%
      +land()
        width 100%

.row-members
  mb(r(115))
  .member
    +port()
      height 194px

.row-calendar
  .calendar
    +mmin(768px)
      margin 0
    +mob()
      margin-top r(15)




