header.header-article.header-article-events

    .container
        .row
            .col-md-6
                +breadcrumbs('Ciklum')
        .row.header-article--row
            .col-12
                h2 Член Асоціації
                +img('img/illus/members/member14.png')