header.header-events-year

    .container
        .row
            .col-md-6
                +breadcrumbs('Головні події року')

            .col-12
                h1 Головні події року

            .col-12
                include ../../_sliders/slider-events/slider-events-year-header
