

select
  display block

  width 100%
  bg($tr)
  color $blue

  border none
  border-bottom 2px solid $blue
  border-radius 0

  fs(e(14))
  line-height: 1.57
  mb(r(30))
  padding r(9) r(19) r(11)

  -webkit-appearance none
  -moz-appearance none
  trans()
  &:focus
    outline none

.select-group
  position relative
  mb(r(30))
  select
    mb(0)
  &:after
    triangle($blue, down, 4px)
    top calc(50% - 2px)
    right 15px