section
    .container
        .row
            .col-12
                h2 Члени асоціації
    .container.container-slider
        .row
            .col-12
                .slider-block
                    .slider.slider-member.slider-with-line.slider-with-line-sync
                        +member-item('img/illus/members/member1.jpg')
                        +member-item('img/illus/members/member2.png')
                        +member-item('img/illus/members/member3.jpg')
                        +member-item('img/illus/members/member4.png')
                        +member-item('img/illus/members/member5.jpg')
                        +member-item('img/illus/members/member6.png')
                        +member-item('img/illus/members/member7.png')
                        +member-item('img/illus/members/member8.svg')
                        +member-item('img/illus/members/member9.png')
                        +member-item('img/illus/members/member10.png')
                        +member-item('img/illus/members/member11.svg')
                        +member-item('img/illus/members/member12.png')
                        +member-item('img/illus/members/member13.svg')


                    .slider-progressbar.slider-progressbar-member
                        .slider-progressbar--track


                +btn-slider('Всі члени Асоціації')