.blog
  display block
  position relative
  mb($r68)
  &--image
    height 173px
    display flex
    align-items center
    justify-content center
    margin-bottom ($r39)
    background $white
    overflow hidden
    +tab()
      height 191px
    +port()
      height: 218px;
    img
      height 100%
      trans()
  &--date
      position absolute
      bottom: 15px;
      right: 13px;
      font-size: $e14
      font-weight: bold;
      color: $blue-light
      font-family $a-font, sans-serif
  &--description
    mb($r35)
  &:hover
    .blog--image
      img
        opacity .4

.blog.blog-advantage
  mb($r64)
  .blog--image
    height 225px
    mb($r39)
    +mob()
      min-height 181px
      mb($r37)
      img
        width 100%
  .blog--description
    mb(0)
    h3
      line-height: 1.3;
      color $blue-dark2
      fs($e20)
      mb($r27)
      +mob()
        mb($r24)
