@import '../../utilities/utilities'

.blog
  display block
  position relative
  mb(r(69))

  &--image
    height 173px
    display flex
    align-items center
    justify-content center
    margin-bottom (r(37))
    bg($wt)
    overflow hidden
    +tab()
      height 191px
    +port()
      height: 218px;
    img
      height 100%
      trans()
      flex-shrink 0
      +mob()
        width 100%
        height auto
  &--date
      position absolute
      bottom: 15px;
      right: 13px;
      font-size: e(14)
      font-weight: bold;
      color: $blue-light
      font-family $a-font, sans-serif
  &--description
    mb(r(35))
  &:hover
    .blog--image
      img
        opacity .4
    .btn-more
      background $blue
      co($wt)
      max-width 100%
      pl(r(30))
      svg
        opacity 1

  &.blog-advantage
    mb(r(64))
    &:hover
      .blog--image
        img
          opacity 1
    .blog--image
      height 225px
      mb(r(39))
      +mob()
        min-height 181px
        mb(r(37))
        img
          width 100%
      +land()
        img
          width auto
    .blog--description
      mb(0)
      h3
        line-height: 1.3;
        co($blue-dark2)
        fs(e(20))
        mb(r(27))
        +mob()
          mb(r(24))

  &.blog-about
    max-width 360px
    mb(0)
    +tab()
      max-width 290px
    +port()
      max-width 330px
    +mob()
      max-width 263px
    .blog--image
      height 280px
      mb(r(41))
    .blog--description
      mb(r(33))


  &.blog-chief
    mb(r(41))
    .blog--image
      height 181px
      mb(r(40))
      +mob()
        mb(r(25))
    h3
      fs(e(20))
      mb(r(32))
      +mob()
        mb(r(13))
    &.blog-chief-small
      mb(r(83))
      +mob()
        mb(r(41))
      h3
        mb(r(12))
    &:hover
      .blog--image
        img
          opacity 1





