.calendar
  display block
  position relative
  margin $r15 $r15 0
  max-width 263px
  +mob()
    mt(0)
  &--mark
    display flex
    &-text
      position relative
      font-family $a-font, sans-serif
      font-weight: 700;
      padding-bottom $r28
      color $blue-light4
      &:after
        pseudo(block, absolute)
        width: 50px;
        height: 7px;
        background $blue
        bottom 0px
        left 0
    &-event
      line-height: 1.86;
      fs($e14)
      &:after
        width: 15px;
        height: 7px;
        bottom 1px
    &-month
      fs($e22)
      line-height: 1.18;
      margin-right $r30
      max-height: 53px;

  &--block
    box-shadow: 0 10px 23px 0 rgba(94, 107, 126, 0.3);
    border 6px solid $white
    padding: $r32 $r21 $r32 $r23
    height 230px
    position relative
    z-index 40
    margin-bottom $r26
    background $white
    trans()
    &:after
      pseudo(block, absolute)
      top 9px
      bottom 9px
      left 9px
      right 9px
      background $blue
      opacity 0
      trans()
      z-index -1
    h3
      trans()
    &-date
      display flex
      align-items center
      justify-content space-between
      margin-bottom $r31
      &--date
        font-size: $e34
        font-weight: bold;
        color: $blue
        font-family $a-font, sans-serif
        trans()
      &--text
        font-size: 14px;
        line-height: 1.43;
        color: $blue-light4
        trans()
    &-button
      position absolute
      left 24px
      bottom 35px
      font-family: $a-font, sans-serif
      font-size: $e16
      font-weight: 700
      letter-spacing: 0.5px;
      display block
      right 20%
      opacity 0
      color $white
      trans()
      svg
        position absolute
        right 0
        top 1px
        height: 12px;
        width: 20px
        g
          fill $white

    &:hover
      box-shadow: 0 3px 8px 0 rgba(94, 107, 126, 0.3);
      &:after
        opacity 1
      .calendar--block-button
        opacity 1
      .calendar--block-date--date
        color $white
      .calendar--block-date--text
        opacity 0
      .calendar--block-button
        right 23px
      h3
        opacity 0

  &.calendar-event
    .calendar--block
      border-color $blue

  &.calendar-report
    width: 100%
    margin 0
    max-width 100%
    +mob()
      width: 263px;
    .calendar--block
      height: 200px;
      border none
      padding: $r39 $r31 $r39 $r29
      box-shadow: 0 10px 30px 0 rgba(94, 107, 126, 0.3);
      margin-bottom $r50
      &:after
        display none
      &:hover
        .calendar--block-date--date
          color $blue
        h3
          opacity 1
        .btn-more
          opacity 1
          background $blue
          color $white
          max-width 100%
          pl($r30)
          svg
            opacity 1
    .calendar--block-date
      mb(0)
      line-height: .8;
    .calendar--block-date--date
      fs($e50)
      mb(0)
    h3
      color $blue
    .calendar--block-date--text
      position absolute

      bottom: 16px;
      left: 31px;

      font-size: $e16
      line-height: 1.25;
    .btn-more
      position absolute
      bottom 0
      left 0
      opacity 0
      pt($r17)
      pb($r19)
      svg
        top 20px
    &.calendar-report-year
      .calendar--block
        box-shadow: 0 10px 28px 0 rgba(94, 107, 126, 0.3);
        border 6px solid $blue
        border-top 0
        padding: $r34 $r27 $r39 $r26
        &:after
          display block
          top 0
          left 0
          right 0
          bottom 0
        &:hover
          .calendar--block-date--date
            color $white
      .calendar--block-date--text
        left 27px


