.join
  &--block
    position relative
    margin-bottom $r20
    &-image
      width 100%
    &-description
      font-size: $e14
      line-height: 1.57;
      color: $blue-dark2
      position absolute
      bottom 0
      left 0
      right 0
      padding $r37 $r20
      margin-bottom 0