.join
  pt($r30)
  +mob()
    pt($r60)
    pb($r60)
  &--block
    position relative
    margin-bottom $r20
    +port()
      height 431px
      overflow hidden
    +mob()
      height 410px
      overflow hidden
    &-image
      width 100%
    p
      color: $blue-dark2
      position absolute
      bottom 0
      left 0
      right 0
      padding $r37 $r20
      margin-bottom 0
      +tab()
        padding $r32 $r15
      +port()
        padding $r25 $r15
      +mob()
        padding $r35 $r20