.row-publications
  +tab()
    .col-xl-3
      &:last-child
        display none
  +mob()
    .blog
      width 263px
      mb($r50)

  +land()
    margin: 0 -30px;
    .slick-track
      left: 15px;

.row-reports
  z-index 60

.row-partners
  margin-left -15px
  margin-right -15px
  +mob()
    margin 0
  .member
    +tab()
      max-width 100%
    +port()
      height 330px
    +mob()
      max-width 100%


