@import '../../utilities/utilities'

.value
  position relative
  pl(r(98))
  pt(r(21))
  mb(r(62))
  +mob()
    pl(r(80))
  img
    position absolute
    left 0
    top 0
  h3
    fs(e(20))
    letter-spacing: 1px;
    mb(r(32))
  &.value-small
    pt(0)
    mb(r(68))
    h3
      fs(e(16))
      letter-spacing normal
      mb(r(18))
