.volta
  float right
  display block
  position relative
  &--text
    font-size $e12
    color $black-text2
    position relative
    top -3px
    margin-right $r5
  &--visible
    svg
      width 62px
      g
        fill $black-text2
  &--hidden
    position absolute
    right 0
    top 0
    height 0
    overflow hidden
    trans()
    svg
      width 62px
      g
        fill #7521E1
  &:hover
    .volta--hidden
      height 100%