.section-advantages
  bg($blue-light-back)
  pt(r(33))
  pb(r(16))
  position relative
  z-index 40
  &:after
    pseudo(block, absolute)
    top 100%
    left 0
    right 0
    height 342px
    background $blue-light-back
    z-index -1