section.section-advantages-footer
    .container
        .row
            .col-sm-6
                h2 Переваги Асоціації
            .col-sm-6.col-md-5.col-lg-4
                p Ми – спільнота лідерів індустрії, які працюють задля розвитку галузі інформаційних технологій в Україні
                +btn('Приєднатись')