section.section-advantages-footer.section-advantages-footer-initiative
    .container
        .row
            .offset-sm-4.col-sm-8.offset-md-5.col-md-7.offset-lg-6.col-lg-5
                h3 Кожного року Асоціація розширює кількість та покращує якість своїх освітніх проектів.
                p Якщо Ви бажаєте долучитися до заходів Join IT або бачите себе їх учасником – зв’яжіться з нашим координатором освітніх проектів Вікторією Збирко:
                ul.ul-advantage-contacts
                    li
                        a(href='' title='')
                            include ../../_svgs/mail.svg
                            span zbyrko.victoria@gmail.com
                    li
                        a(href='' title='')
                            include ../../_svgs/phone.svg
                            | +380 93 142 00 86