.section-advantages-footer
  background url('../img/illus/backs/back-member.png') center center no-repeat
  background-size cover
  mt(r(37))
  pt(r(80))
  pb(r(100))
  p
    mt(r(10))
    mb(r(44))
  .btn
    max-width: 292px;
    letter-spacing: 1px;
    fs(e(20))
    pt(r(19))
    pb(r(23))
  & + footer
    mt(0)

  &.section-advantages-footer-initiative
    background url('../img/illus/backs/back-member2.png') center center no-repeat
    background-size cover
    h3
      fs(e(20))
      mb(r(20))
    p
      co(#144682)