@import '../../utilities/vars'
@import '../../utilities/mixins'

.breadcrumbs
  df(row)
  mb($r46)
  mt($r13)
  line-height: 1.67;
  li
    margin-right $r4
    &:last-child
      a
        &:after
          display none

    a
      display inline-block
      color $blue-light10
      fs($e12)
      line-height: 1.67;
      position relative
      pr($r8)
      &:after
        content '/'
        display block
        position absolute
        right 0
        bottom 0
        color $blue-light10
      &:hover
        color $blue
        &:after
          color $blue-light10

//&:hover
//  color lightblue

//.active
//  cursor default
//  pointer-events: none
//  color blue