@import '../../utilities/vars'
@import '../../utilities/mixins'


.header-index
  background $blue-light4
  padding-top 7.563rem
  margin-bottom $r90
  height 100vh
  min-height 768px
  display flex
  align-items flex-end
  trans()
  +tab()
    mb($r60)
  +port()
    mb($r60)
  +mob()
    padding-top $r59
    min-height: 694px;
    align-items flex-start
    mb($r65)


