@import '../../utilities/vars'
@import '../../utilities/mixins'

header
  padding-top 7.563rem
  background $blue-light9
  height 511px
  overflow hidden
  +mob()
    pt($r59)
  +port()
    pt(8.75rem)
  &.header-index
    background $blue-light4
    margin-bottom $r90
    height 100vh
    min-height 768px
    display flex
    align-items flex-end
    trans()
    +tab()
      mb($r60)
    +port()
      mb($r60)
    +mob()
      padding-top $r59
      min-height: unset
      align-items flex-start
      mb($r65)
      height auto

  &.header-about-us
    margin-bottom $r90
    height auto
    +mob()
      padding-top $r59
      height auto
      mb($r65)
    .breadcrumbs
      position absolute
      left 15px
      top 0
      mb($r13)
      +mob()
        position static

  &.header-about-business
    height 438px
    position relative
    z-index 40
    overflow visible
    +mob()
      pb($r46)
      height auto
    &:after
      pseudo(block, absolute)
      top 100%
      left 0
      right 0
      height 73px
      background $blue-light9
      z-index -1
    p
      margin-top $r6

  &.header-committees
    mb($r40)
    height auto
    p
      margin-top $r6
    .ul-tablist
      mb(5rem)

  &.header-advantages
    height auto
    bg($blue-light-back)
    mb(0)
    h1
      color $blue-dark

.header-col
  &.left
    display flex
    align-items center
    +mob()
      display block
  &.right
    pl(0)
    +mob()
      pr(0)

.header-text
  +mob()
    pb($r50)



