@import '../../utilities/vars'
@import '../../utilities/mixins'

section
  pt($r78)
  pb($r109)
  +tab()
    pt($r60)
    pb($r90)
  +port()
    pt($r60)
    pb($r90)
  +mob()
    pt($r33)
    pb($r60)

article
  pb($r32)
  ul
    mb($r25)
    li
      position relative
      padding-left $r33
      margin-bottom $r22
      line-height 1.58
      fs($e14)
      color $black-text
      b
        color $blue-dark
      &:before
        pseudo(block, absolute)
        width 14px
        height 3px
        background $blue
        top 10px
        left 0
  a
    color $blue-dark
    font-weight 700
    &:hover
      color #bec9d6

//aside {}

//main {}

address
  mb(0)

.section-question
  pt(0)
  h2
    font-size: $e28
    letter-spacing: 0.9px;
    text-align: center;
    mb($r61)

.section-top-zero
  pt(0)

.section-comments
  position relative
  z-index 50
  &.section-comments-big
    pt(0)
    .comment
      mb($r100)

.section-advantages
  bg($blue-light-back)
  pt($r33)
  pb($r16)
  position relative
  z-index 40
  &:after
    pseudo(block, absolute)
    top 100%
    left 0
    right 0
    height 342px
    background $blue-light-back
    z-index -1




