@import '../../utilities/vars'
@import '../../utilities/mixins'

section
  pt($r78)
  pb($r109)
  +tab()
    pt($r60)
    pb($r90)
  +port()
    pt($r60)
    pb($r90)
  +mob()
    pt($r55)
    pb($r60)

article {}

aside {}

main {}

address {}

