footer
  bg($black-back)

  mt(6.938rem)
  pt(r(47))

  +mob()
    pt(r(70))

  h6
    fs(e(28))
    fw(700)
    co($gray-text)
    mb(r(14))
    line-height: 1.75
    font-family $a-font,sans-serif

  p
    line-height: 1.43;
    mb(r(10))

    +mob()
      mb(r(14))

    a
      display block
      co($wt)
      &:hover
        co($blue)

.footer-bottom
  position relative
  display flex
  align-items center
  height 46px

  +mob()
    height 65px

  &:after
    pseudo(block, absolute)
    left 0
    right 0
    height 1px
    bg($wt20)
    top 0

.footer-copyright
  fs(e(12))
  line-height: 1.83;
  letter-spacing: normal;
  co($black-text2)
  +mob()
    line-height 1.33