
//  SLIDER COLOR ITEM
include ../sections/sliders/slider-color-slides/__layout-slider-item-index

//  ADVANTAGE BLOCK
include ../blocks/blog/advantages/__layout-advantage.pug

//    NEWS
include ../blocks/blog/news/__layout-news.pug


include ../blocks/blog/chief/__blog-item-chief-layout
include ../blocks/blog/chief/__blog-item-chief-small-layout