
//  SLIDER COLOR ITEM
include ../sections/sliders/slider-color-slides/__layout-slider-item-index

//  ADVANTAGE BLOCK
include ../blocks/blog/__layout-advantage

//    NEWS
include ../blocks/blog/__layout-news

//    SLIDER EVENTS
include ../sections/sliders/slider-calendar-slides/__layout-calendar-item.pug

include ../blocks/comments/__layout-comment-item-regular
include ../blocks/comments/__layout-comment-item-initiative

include ../sections/sliders/slider-member-slides/__layout-member-item.pug
include ../sections/sliders/slider-partners/__layout-member-item-partner.pug

include ../blocks/blog/__layout-blog-item-about

include ../blocks/value/__layout-value-item


include ../blocks/blog/__layout-blog-item-chief

include ../sections/sliders/slider-events-year-header/__layout-slider-events-year-header-item.pug

include ../blocks/calendar/__layout-calendar-item-report.pug

include ../sections/headers/layouts-header/__layout-header