mixin btn(text)
    a(href='' title='').btn= text

mixin btn-small(text)
    a(href='' title='').btn.btn-small= text

mixin btn-arrow(text)
    a(href='' title='').btn.btn-arrow
        = text
        include ../svgs/arrow-right.svg

mixin btn-slider(text)
    a(href='' title='').btn.btn-arrow.btn-arrow-slider
        = text
        include ../svgs/arrow-right.svg

mixin btn-more(text)
    .btn-more
        = text
        include ../svgs/arrow-right.svg

mixin link-detail(text)
    a(href='' title='').link-detail
        = text
        include ../svgs/angle-right.svg

mixin li-a(text, className)
    li
        a(href='' title='' class= className)= text

mixin a(text, className)
    a(href='' title='' class= className)= text

mixin img(src, className)
    img(src= src, title='' alt='' class= className)