//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Головні події року

block content

    include ../../components/_layout/headers/header-events-year

    include ../../components/_sliders/slider-calendar/slider-calendar-year



