a(href='' title='').comment.comment-initiative

    .comment--left
        .comment--left-image
            +img('img/illus/director.png')

    .comment--right
        h3 Join IT
        h6 Проект
            span.company PR комітету
        p Join IT – це група освітніх проектів з популяризації IT-галузі серед дітей та підлітків, що прагнуть відкрити в собі хист до творчості …

        +btn-more('Читати більше')

        +img('img/illus/done.svg', 'comment--right-done')