include ../utilities/_mixins

doctype html

html

    include ../partials/_head

    body
        //include ../partials/_preloader

        include ../sections/navigations/_navigation-index

        main

            block content

            include ../partials/_footer

        script(type="text/javascript" src="js/vendor.js")
        //script(type="text/javascript" src="js/noui.js")
        script(type="text/javascript" src="js/scripts.js")