.blog.blog-chief
    .blog--image
        +img('img/illus/chiefs/chief1.png')
    .blog--description
        h3 Ігор Бєда
        p Генеральний директор Internet Devels, Віце-президент Асоціаціїпо роботі з малим та середнім бізнесом
