a(href='' title='').blog
    .blog--image
        +img('img/illus/blog.png')
    .blog--description
        h3 Обрано нового Президента та членів Ради представників Асоціації «ІТ України»
        p Вчора, 13 грудня, відбулися Загальні збори учасників Асоціації «ІТ України». Приєднуйтесь до нас, щоб дізнатися…

    .blog--date 21.02.18

    +btn-more('Читати більше')
