a(href='' title='').blog.blog-about
    .blog--image
        img(src='img/illus/advantage2.png' title='' alt='')
    .blog--description
        p Зустріч членів асоціації з приводу розвитку культури праці на Європейський ринок