a
  text-decoration none
  font-family $m-font, sans-serif
  co($blue)
  trans()
  svg g
    trans()
  &:hover
    text-decoration none
  &:focus
    text-decoration none
    outline none


.link-logo
  display block
  max-width 136px
  svg
    width 100%
  &:hover
    opacity .6

.link-detail
  display inline-flex
  font-family $a-font,sans-serif
  align-items center
  letter-spacing: 0.5px;
  fs(e(16))
  co($blue)
  fw(700)
  float right
  padding: r(15) 0
  +tab()
    fs(e(14))
  +mob()
    line-height: 2;
    float: none
    pt(0)
    pb(0)

  svg
    ml(r(18))
    trans()
    g
      fill $blue
      trans()
  &:hover
    co($blue4)
    svg
      transform translate3d(20px,0,0)
      g
        fill $blue4

.link-back
  display flex
  align-items center
  line-height: 1.67;
  color $blue
  fs(e(12))
  fw(700)
  mb(r(20))
  +mob()
    mb(r(43))
  svg
    mr(r(14))
  &:hover
    svg g
      fill #0056b3

.link-phone
  co(#053a78)

.link-site
  text-decoration underline


.col-detail-display
  +mob()
    display none
  +land()
    display block
    .link-detail
      line-height 1.3
      padding: r(7) 0;
      float right

.col-detail-mobile
  display none
  text-align center
  +mob()
    display: block
  +land()
    display none


