

.pagination
  df(row)
  justify-content center
  li
    margin 0 r(7)
    align-self center
    a
      display inline-block
      co($blue-light)
      fs(e(18))
      fw(700)
      font-family $a-font, sans-serif
      &:hover
        co($black-text3)

      &.active
        co($blue)
        fs(e(22))
        cursor default
        pointer-events: none;
        &:hover
          co($blue)
    &.arrow
      a
        df(row)
        justify-content center
        align-items center
        height 100%
        svg g
          fill $blue
        &:hover
          svg g
            fill $black-text3
      &.left
        mr(r(48))
        a
          &:hover
            transform translateX(-5px)
        +xs()
          mr(r(30))
      &.right
        ml(r(48))
        a
          &:hover
            transform translateX(5px)
        +xs()
          ml(r(30))