//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Бізнес про нас

block content


    include sections/headers/_header-about-business

    section.section-comments-big.section-comments
        .container
            .row
                .col-sm-6
                    include blocks/comment/_comment-item
                .col-sm-6
                    include blocks/comment/_comment-item
                .col-sm-6
                    include blocks/comment/_comment-item
                .col-sm-6
                    include blocks/comment/_comment-item
                .col-sm-6
                    include blocks/comment/_comment-item
                .col-sm-6
                    include blocks/comment/_comment-item
                .col-sm-6
                    include blocks/comment/_comment-item
                .col-sm-6
                    include blocks/comment/_comment-item
                .col-sm-6
                    include blocks/comment/_comment-item
                .col-sm-6
                    include blocks/comment/_comment-item


            include sections/_pagination