//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Про Асоціацію


block content


    include sections/headers/_header-about-us

    section
        .container
            .row
                .col-md-5
                    h2 Про Асоціацію

                .col-md-7.col-lg-6
                    p Асоціацію «ІТ України» було засновано у 2004 році провідними компаніями сфери інформаційних технологій - Miratech, Mirasoft, ProFIX, SoftLine, SoftServe та Ukrsoft. За роки своєї діяльності Асоціація стала найбільшою спільнотою компаній-розробників програмного забезпечення в Україні.
                    p На сьогодні до складу Асоціації входить 58 провідних ІТ-компаній, які сукупно формують 50% всієї виручки галузі в Україні.

                    +a('Приєднатись', 'btn btn-margin btn-small')

    include sections/sliders/_slider-about

    section
        .container
            .row

                .col-sm-5
                    h2.mb-43 Місія
                    p Місія Асоціації – забезпечити сприятливі умови для сталого розвитку сфери інформаційних технологій в Україні.

                article.col-sm-7.col-lg-6
                    h2.mb-43 Що ми робимо?
                    ul
                        li Ми захищаємо інтереси індустрії інформаційних технологій в Україні
                        li Ми сприяємо розвитку технічної освіти та кадрового капіталу
                        li Ми промотуємо індустрію в Україні та за її межами, підтримуємо бізнес у встановленні нових ділових контактів
                    p Асоціація представляє інтереси компаній-учасників у міжнародних індустріальних об’єднаннях та організаціях:

                    p
                        +a('DIGITALEUROPE, ')
                        +a('WITSA, ')
                        +a('EMOTA')

    section.back-blue-light
        .container
            .row
                .col-12
                    h2 Наші цінності
                    hr
                    ul.ul-values
                        li
                            include blocks/value/value-big/_value-item1
                        li
                            include blocks/value/value-big/_value-item4
                        li
                            include blocks/value/value-big/_value-item2
                        li
                            include blocks/value/value-big/_value-item5
                        li
                            include blocks/value/value-big/_value-item3


    section
        .container
            .row
                .col-sm-6.col-lg-5.col-xl-4
                    h2.mb-37 Керівництво
                    p Представники ІТ-бізнесу, які визначають вектори розвитку та акценти у роботі Асоціації у 2018 році

                    .spacer-61

            .row
                .col-sm-6.col-md-4.col-lg-3
                    include blocks/blog/_blog-item-chief
                .col-sm-6.col-md-4.col-lg-3
                    include blocks/blog/_blog-item-chief
                .col-sm-6.col-md-4.col-lg-3
                    include blocks/blog/_blog-item-chief
                .col-sm-6.col-md-4.col-lg-3
                    include blocks/blog/_blog-item-chief

                .col-12
                    hr
                    .spacer-127

            .row
                .col-sm-6.col-md-4
                    h2.mb-37 Виконавці
                    p Команда професіоналів та фанатів своєї справи, яка працює задля того, щоб надати максимум можливостей для розвитку учасників ринку інформаційних технологій в Україні

                .col-sm-6.col-md-4.offset-lg-2.col-lg-3
                    include blocks/blog/_blog-item-chief-small
                .col-sm-6.col-md-4.col-lg-3
                    include blocks/blog/_blog-item-chief-small
                .col-sm-6.col-md-4.col-lg-3
                    include blocks/blog/_blog-item-chief-small
                .col-sm-6.col-md-4.col-lg-3
                    include blocks/blog/_blog-item-chief-small
                .col-sm-6.col-md-4.col-lg-3
                    include blocks/blog/_blog-item-chief-small
                .col-sm-6.col-md-4.col-lg-3
                    include blocks/blog/_blog-item-chief-small


    include sections/_questions




