//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Бізнес про нас

block content


    include sections/headers/_header-about-business

    section.section-comments-big.section-comments
        .container
            .row
                .col-sm-6
                    include blocks/comments/comments-regular/_comment-item3
                .col-sm-6
                    include blocks/comments/comments-regular/_comment-item4
                .col-sm-6
                    include blocks/comments/comments-regular/_comment-item5
                .col-sm-6
                    include blocks/comments/comments-regular/_comment-item6
                .col-sm-6
                    include blocks/comments/comments-regular/_comment-item1
                .col-sm-6
                    include blocks/comments/comments-regular/_comment-item2
                .col-sm-6
                    include blocks/comments/comments-regular/_comment-item3
                .col-sm-6
                    include blocks/comments/comments-regular/_comment-item4
                .col-sm-6
                    include blocks/comments/comments-regular/_comment-item5
                .col-sm-6
                    include blocks/comments/comments-regular/_comment-item6



            include sections/_pagination