//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Про напрям


block content


    include sections/headers/_header-about-direction

    section
        .container
            .row
                .col-md-5
                    h2 Розвиток ІТ-освіти в Україні

                .col-md-7.col-lg-6
                    p Сьогодні в українській ІТ-індустрії працює понад 120 тисяч висококваліфікованих спеціалістів. За прогнозами експертів та гравців ринку у 2018 році цей показник зросте на 25%, а до 2025 року українська галузь інформаційних технологій налічуватиме 200 тисяч програмістів.

                    p Спільна робота над розвитком кадрового капіталу та модернізацією технічної освіти в країні є одним з ключових напрямків роботи Асоціації та запорукою для подальшого зростання галузі. Об'єднуючи представників бізнес-спільноти, профільних державних органів та освітніх закладів, ми виступаємо майданчиком для розробки освітніх проектів та ініціатив національного масштабу, створюємо можливості для реалізації молодих талантів, формуємо українську освіту майбутнього.

    include sections/sliders/_slider-about2




