//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Переваги участі в Асоціації


block content

    include sections/headers/_header-advantages

    section.section-advantages
        .container
            .row
                .col-12
                    ul.ul-values
                        li
                            +value-item-small('img/illus/values/values-small/value-small1.svg', 'Розміщення інформації про компанію на сайті Асоціації.', 'Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу')
                        li
                            +value-item-small('img/illus/values/values-small/value-small2.svg', 'Участь у дослідженнях, які проводить Асоціація', 'Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу')
                        li
                            +value-item-small('img/illus/values/values-small/value-small3.svg', 'Прямий доступ до інформації', 'Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу')
                        li
                            +value-item-small('img/illus/values/values-small/value-small4.svg', 'Ініціювання досліджень з актуальних для ІТ компаній питань.', 'Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу')
                        li
                            +value-item-small('img/illus/values/values-small/value-small5.svg', 'Істотні знижки на різні українські та міжнародні заходи', 'Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу')
                        li
                            +value-item-small('img/illus/values/values-small/value-small6.svg', 'Отримання кваліфікованої юридичної допомоги щодо захисту своїх прав та інтересів', 'Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу')
                        li
                            +value-item-small('img/illus/values/values-small/value-small7.svg', 'Участь в організованих Асоціацією В2В зустрічах і переговорах', 'Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу')
                        li
                            +value-item-small('img/illus/values/values-small/value-small8.svg', 'Участь у розробці та вдосконаленні нормативних документів, що регулюють діяльність ІТ компаній.', 'Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу')
                        li
                            +value-item-small('img/illus/values/values-small/value-small9.svg', 'Підключення до різних програм та проектів міжнародного співробітництва по лінії Асоціації.', 'Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу')

    include sections/_section-comments

    section
        .container
            .row
                .col-12
                    .attention
                        h2 Як приєднатися до спільноти?
                        ol.ol-attention
                            li
                                h4 Анкета
                                p Заповніть Анкету учасника. Після заповнення Анкети ми зв’жемося з вами для уточнення наданої інформації.
                            li
                                h4 Затвердження
                                p Отримайте згоду на вашу участь від інших членів спільноти. Якщо переважна більшість учасників не має заперечень щодо нового учасника, ми надаємо вам офіційне підтвердження та виставляємо рахунок.
                            li
                                h4 Оплата
                                p Сплатіть річний членський внесок. Даний внесок - це єдиний обов’язковийплатіж, який має здійснювати ваша компанія для перебування у складі спільноти. Членство в Асоціації «ІТ України» не передбачає вступних та інших внесків.
                        p.attention--mark З детальною процедурою вступу в Асоціацію можна ознайомитись у нашому Статуті.
                        +btn-arrow('Приєднатись')

    section
        .container
            .row
                .col-12
                    h2.mb-51 Суми внесків
                    table
                        thead
                            tr
                                th Категорія
                                th Кількість спеціалістів у компанії
                                th Розмір внеску
                        tbody
                            tr
                                th 1
                                td до 50
                                td 750 - 1800 USD
                            tr
                                th 2
                                td від 50 до 200
                                td 2000 – 3800 USD
                            tr
                                th 3
                                td від 200 до 800
                                td 3800 – 5500 USD
                            tr
                                th 4
                                td від 800 до 1500
                                td 5500 – 6800 USD
                            tr
                                th 5
                                td понад 1500
                                td 9000 USD


    include sections/sliders/_slider-members

