//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Комітети та робочі групи


block content


    include sections/headers/_header-committees

    section
        .container
            .row

                .col-md-5
                    h2 Загальна інформація

                .col-md-7
                    p Щодня наша команда кваліфікованих експертів старанно працює над створенням сприятливих умов для індустрії інформаційних технологій в Україні. У нашій спільноті ви можете як ініціювати роботу над проектами національного масштабу, так і знайти підтримку для вирішення бізнес-задач саме вашої компанії.

                    p Ми переконані, що саме колективна робота над спільними питаннями та відкрите партнерство учасників ринку є рушійною силою для якісних змін.

    section
        .container
            .row.justify-content-between

                .col-md-5.col-lg-4
                    h2.mb-mt-43-38 Зустрічі комітетів
                    p Щодня наша команда кваліфікованих експертів старанно працює над створенням сприятливих умов для індустрії інформаційних технологій в Україні. У нашій спільноті ви можете як ініціювати роботу над проектами національного масштабу, так і знайти підтримку для вирішення бізнес-задач саме вашої компанії.

                .offset-sm-2.col-sm-10.offset-md-0.col-md-7.header-col.right
                    include sections/sliders/_slider-middle

    section.section-top-zero
        .container
            .row
                .col-12
                    hr
                    .spacer-28

                .col-md-3
                    .tablist-choose.big Перегляньте також:

                .col-md-9
                    ul.ul-tablist
                        +li-a('Фінансово-правовий комітет')
                        +li-a('Комітет з питань освіти')
                        +li-a('PR комітет')


