//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Комітети та робочі групи


block content


    header.header-committees

        +header-part('Комітети та робочі групи', 'Одним з головних критеріїв успішності нашої роботи є її оцінка компаніями-учасниками. Дізнайтеся, що думають про участь у спільноті представники індустрії. спільноті представники індустрії.')

        .container
            .row
                .col-12
                    .tablist-choose Оберіть комітет, що вас цікавить:

                    ul.ul-tablist.slider-tablist
                        +li-a('Загальна інформація', 'active')
                        +li-a('Фінансово-правовий комітет')
                        +li-a('Комітет з питань освіти')
                        +li-a('PR комітет')

    section

        .container
            .row

                .col-md-5
                    h2 Загальна інформація

                .col-md-7
                    p Щодня наша команда кваліфікованих експертів старанно працює над створенням сприятливих умов для індустрії інформаційних технологій в Україні. У нашій спільноті ви можете як ініціювати роботу над проектами національного масштабу, так і знайти підтримку для вирішення бізнес-задач саме вашої компанії.

                    p Ми переконані, що саме колективна робота над спільними питаннями та відкрите партнерство учасників ринку є рушійною силою для якісних змін.

    section
        .container
            .row.justify-content-between

                .col-md-5.col-lg-4
                    h2.mb-mt-43-38 Зустрічі комітетів
                    p Щодня наша команда кваліфікованих експертів старанно працює над створенням сприятливих умов для індустрії інформаційних технологій в Україні. У нашій спільноті ви можете як ініціювати роботу над проектами національного масштабу, так і знайти підтримку для вирішення бізнес-задач саме вашої компанії.

                .offset-sm-2.col-sm-10.offset-md-0.col-md-7.header-col.right
                    include sections/sliders/_slider-middle

    include sections/_section-committiees-more


