//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Головні події року

block content

    include sections/headers/_header-events-year

    include sections/sliders/_slider-events-year



