//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница


block content

    include partials/headers/_header-index

    section
        .container
            .row.justify-content-center
                .col-md-9.order-md-1
                    .heading-h1-h2
                        h2 Переваги членства в
                        h1 IT Ukraine Association
                .col-md-3.order-2.order-md-1.col-detail-display
                    a(href='' title='').link-detail
                        | Перейти до всіх переваг
                        include svgs/angle-right.svg
                .col-xl-8.col-lg-9.col-12.order-md-1
                    .row
                        .col-sm-6
                            include partials/blog/_blog-item-advantage
                        .col-sm-6
                            include partials/blog/_blog-item-advantage
                        .col-sm-6
                            include partials/blog/_blog-item-advantage
                        .col-sm-6
                            include partials/blog/_blog-item-advantage

                .col-12.col-detail-mobile
                    a(href='' title='').link-detail
                        | Перейти до всіх переваг
                        include svgs/angle-right.svg

                aside.col-lg-3.offset-xl-1.col-sm-6.order-3.order-md-1
                    include partials/items/_join-item


    section.back-blue-light
        .container
            .row
                .col-xl-2.col-lg-3.col-md-9
                    h2.h2-public Публікації
                .col-xl-8.col-lg-7.col-md-12.order-lg-2.order-md-3
                    .tabs-publication
                        ul.tabs-publication--ul
                            li
                                a(href='' title='').active Закордонні змі про нас
                            li
                                a(href='' title='') Новини Асоціації
                            li
                                a(href='' title='') Новини Галузі
                            li
                                a(href='' title='') Авторські статті
                    span.tabs-publication--line
                .col-lg-2.col-md-3.order-lg-3.order-md-2.col-detail-display
                    a(href='' title='').link-detail
                        | Усі публікації
                        include svgs/angle-right.svg
            .row.row-publications
                .col-xl-3.col-lg-4.col-md-6
                    include partials/blog/_blog-item
                .col-xl-3.col-lg-4.col-md-6
                    include partials/blog/_blog-item
                .col-xl-3.col-lg-4.col-md-6
                    include partials/blog/_blog-item
                .col-xl-3.col-lg-4.col-md-6
                    include partials/blog/_blog-item
            .row
                .col-12.col-detail-mobile
                    a(href='' title='').link-detail
                        | Усі публікації
                        include svgs/angle-right.svg


    section.back-blue-light2
        .container
            .row
                .col-md-7
                    h2 Найближчі Події
                .col-5.col-detail-display
                    a(href='' title='').link-detail
                        | Усі події
                        include svgs/angle-right.svg
        .container.container-slider
            .row
                .col-12
                    .slider.slider-calendar.slider-with-line
                        div
                            include partials/calendar/_calendar-item-month
                        div
                            include partials/calendar/_calendar-item-event
                        div
                            include partials/calendar/_calendar-item
                        div
                            include partials/calendar/_calendar-item-event-month
                        div
                            include partials/calendar/_calendar-item
                        div
                            include partials/calendar/_calendar-item
                        div
                            include partials/calendar/_calendar-item-month
                        div
                            include partials/calendar/_calendar-item-event
                        div
                            include partials/calendar/_calendar-item
                        div
                            include partials/calendar/_calendar-item-event-month
                        div
                            include partials/calendar/_calendar-item
                        div
                            include partials/calendar/_calendar-item
                .col-12.col-detail-mobile
                    a(href='' title='').link-detail
                        | Перейти до всіх переваг
                        include svgs/angle-right.svg

    section
        .container
            .row
                .col-md-7
                    h2 Відгуки
                .col-5.col-detail-display
                    a(href='' title='').link-detail
                        | Усі відгуки
                        include svgs/angle-right.svg
                .col-sm-6
                    include partials/items/_comment-item
                .col-sm-6
                    include partials/items/_comment-item
                .col-12.col-detail-mobile
                    a(href='' title='').link-detail
                        | Перейти до всіх переваг
                        include svgs/angle-right.svg

    section
        .container
            .row
                .col-12
                    h2 Члени асоціації
        .container.container-slider
            .row
                .col-12
                    .slider.slider-member.slider-with-line.slider-with-line-sync
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item
                        include partials/member/_member-item

                    .slider.slider-member-sync.slider-sync
                    a(href='' title='').btn.btn-arrow.btn-arrow-slider
                        | Всі члени Асоціації
                        include svgs/arrow-right.svg

    section
        .container
            .row
                .col-12
                    h2 Партнери
        .container.container-slider
            .row
                .col-12
                    .slider.slider-partners.slider-with-line.slider-with-line-sync
                        include partials/member/_member-item-partner
                        include partials/member/_member-item-partner
                        include partials/member/_member-item-partner
                        include partials/member/_member-item-partner
                        include partials/member/_member-item-partner
                        include partials/member/_member-item-partner
                        include partials/member/_member-item-partner
                        include partials/member/_member-item-partner
                        include partials/member/_member-item-partner
                        include partials/member/_member-item-partner

                    .slider.slider-partners-sync.slider-sync
                    a(href='' title='').btn.btn-arrow.btn-arrow-slider
                        | Всі партенри
                        include svgs/arrow-right.svg


