//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    section
        .container
            .row
                .col-12
                    .slide
                        img(src='img/illus/illus1.png')
                    .slide
                        img(src='img/illus/illus2.png')
                    .slide
                        img(src='img/illus/illus3.png')
                .col-12
                    .box
