//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Інструменти для захисту інтересів індустрії


block content


    include sections/headers/_header-instruments

    section
        .container
            .row
                .col-md-5
                    h2 Колективні ініціативи та приватні кейси

                .col-md-7.col-lg-6
                    p Щодня наша команда кваліфікованих експертів старанно працює над створенням сприятливих умов для індустрії інформаційних технологій в Україні. У нашій спільноті ви можете як ініціювати роботу над проектами національного масштабу, так і знайти підтримку для вирішення бізнес-задач саме вашої компанії.

                    p Ми переконані, що саме колективна робота над спільними питаннями та відкрите партнерство учасників ринку є рушійною силою для якісних змін.


    section
        .container
            .row

                .col-sm-5.col-xl-4
                    h2.mb-43 Захист інтересів індустрії
                    p Вже протягом 14 років ми представляємо інтереси компаній-учасників та сприяємо ефективному діалогу індустрії з її ключовими стейкхолдерами.

                article.col-sm-7.offset-xl-1.col-xl-6
                    h2.mb-43 Головні інструменти Асоціації для захисту та адвокації індустрії
                    ul
                        li
                            b Офіційні листи та звернення до органів державної влади.
                            | Представляючи інтереси 59 провідних гравців ринку, Асоціація є голосом, до якого прислухаються

                        li
                            b Зустрічі профільних комітетів.
                            | Ми колективно формуємо вектори роботи Асоціації
                            | за всіма пріоритетними для галузі напрямками, враховуючи інтереси всіх учасників
                            | та поточні потреби індустрії

                        li
                            b Зустрічі з представниками органів влади.
                            |Ми створюємо сприятливі умови
                            | для розвитку діалогу між бізнесом та урядом

                        li
                            b Активна робота зі ЗМІ.
                            | Ми активно взаємодіємо з представниками медіа
                            | для формування коректного сприйняття галузі на національному рівні

                        li
                            b Зустрічі з міжнародними експертами та іноземним бізнесом.
                            | Ми активно проводимо
                            | зустрічі з представниками міжнародної спільноти задля формування позитивного
                            | іміджу України та вітчизняної індустрії інформаційних технологій на міжнародній арені


    include sections/_questions




