//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Партнери Асоціації

block content


    include sections/headers/_header-partners

    section.section-comments-big.section-comments
        .container
            .row.row-partners.no-gutters
                .col-sm-6.col-md-4.col-xl-3
                    include sections/sliders/slider-partners/_member-item-partner.pug
                .col-sm-6.col-md-4.col-xl-3
                    include sections/sliders/slider-partners/_member-item-partner.pug
                .col-sm-6.col-md-4.col-xl-3
                    include sections/sliders/slider-partners/_member-item-partner.pug
                .col-sm-6.col-md-4.col-xl-3
                    include sections/sliders/slider-partners/_member-item-partner.pug
                .col-sm-6.col-md-4.col-xl-3
                    include sections/sliders/slider-partners/_member-item-partner.pug
                .col-sm-6.col-md-4.col-xl-3
                    include sections/sliders/slider-partners/_member-item-partner.pug
                .col-sm-6.col-md-4.col-xl-3
                    include sections/sliders/slider-partners/_member-item-partner.pug
                .col-sm-6.col-md-4.col-xl-3
                    include sections/sliders/slider-partners/_member-item-partner.pug