//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Річні та квартальні звіти

block content


    +header-about-business('Річні та квартальні звіти', 'Ми впевнені, що найкраще про діяльність організації говорять не прес-релізи та гучні заяви, а її реальні досягнення. Познайомтесь з результатами нашої роботи у цифрах, фактах та реалізованих проектах.')

    section.section-top-zero
        .container
            .row.row-reports
                .col-md-4.col-lg-3
                    +calendar-item-report-quat('2018', '1-ий квартал', 'Квартальний звіт')
                .col-md-4.col-lg-3
                    +calendar-item-report-quat('2018', '2-ий квартал', 'Квартальний звіт')
                .col-md-4.col-lg-3
                    +calendar-item-report-quat('2018', '3-ий квартал', 'Квартальний звіт')
                .col-md-4.col-lg-3
                    +calendar-item-report-quat('2018', '4-ий квартал', 'Квартальний звіт')

            .row
                .col-12
                    hr.mb-mt-81-30

            .row.row-reports
                .col-md-4.col-lg-3
                    +calendar-item-report-year('2017', 'Річний звіт')
                .col-md-4.col-lg-3
                    +calendar-item-report-year('2016', 'Річний звіт')
                .col-md-4.col-lg-3
                    +calendar-item-report-year('2015', 'Річний звіт')
                .col-md-4.col-lg-3
                    +calendar-item-report-year('2014', 'Річний звіт')
                .col-md-4.col-lg-3
                    +calendar-item-report-year('2013', 'Річний звіт')
                .col-md-4.col-lg-3
                    +calendar-item-report-year('2012', 'Річний звіт')