.value
    img(src='img/illus/values/value3.svg' title='' alt='')
    h3 Прозорість та відкритість.
    p Ми культивуємо лише чесні, відкриті та партнерські відносини між учасниками спільноти, іншими суб’єктами індустрії.