.value
    img(src='img/illus/values/value5.svg' title='' alt='')
    h3 Націленість на результат.
    p Кожен проект, який ініціює спільнота, націлений на досягнення чіткого та вимірюваного результату.