.contribution
  table
    +xs()
      display none
  &-category
    display none

    border solid 1px #c8d1de
    mb(r(15))

    &--head
      bg(#e3e7ec)
      font-size: e(24)
      font-weight: 700
      line-height: 1.08;
      color: $blue;
      padding r(21) r(25) r(23)
    &--td
      padding r(15) r(25) r(17)
      fs(e(14))
      co(#768190)
      position relative
      &:after
        pba()
        bottom 0
        left 15px
        right 15px
        height 1px
        bg(#e3e7ec)
      &:last-child
        &:after
          display none
      b
        display block
        color $blue


    +xs()
      display block