@import "../../utilities/vars"
@import "../../utilities/mixins"

button
  border none
  cursor pointer
  trans()
  &:focus
    outline none

.btn
  display block
  max-width 320px
  width 100%
  text-align center
  background $blue
  color $white
  letter-spacing: 1px;
  font-family $a-font, sans-serif
  font-weight 700
  padding $r19 0 $r21
  position relative
  z-index 40
  &:after
    pseudo(block, absolute)
    bottom -17px
    left 6px
    right 6px
    height: 34px;
    opacity: 0.7;
    filter: blur(12px);
    background-color: $blue2
    z-index -1
    trans()
  &:hover
    color $blue-light8
    bg($blue3)
    &:after
      background-color: $blue

.btn-center
  mcen()

.btn-more
  display inline-block
  width 100%
  max-width 115px
  position relative
  align-items center
  letter-spacing: 0.5px;
  font-family $a-font, sans-serif
  color $blue
  font-size $e16
  font-weight 700
  padding: $r13 0 $r15
  trans()
  svg
    position absolute
    top 15px
    right 30px
    opacity 0
    height 12px
    width 20px
    trans()
  &:hover
    background $blue
    color $white
    max-width 100%
    pl($r30)
    svg
      opacity 1

.btn-arrow
  padding $r22 $r38 $r24
  text-align left
  position relative
  max-width 360px
  svg
    position absolute
    right 38px
    top 22px
    trans()
    g
      transition .1s all ease
  &:hover
    svg
      transform translate3d(10px,0,0)
      g
        fill $blue-light8

.btn-arrow.btn-arrow-slider
  position absolute
  bottom: 0px;
  left calc(1426px - 34.5%)