@import '../../utilities/utilities'

a
  text-decoration none
  font-family $m-font, sans-serif
  co(blue)
  trans()
  svg g
    trans()
  &:hover
    text-decoration none
  &:focus
    text-decoration none
    outline none


.link-logo
  display block
  max-width 136px
  svg
    width 100%
  &:hover
    opacity .6

.link-detail
  display inline-flex
  font-family $a-font,sans-serif
  align-items center
  letter-spacing: 0.5px;
  fs(e(16))
  co($blue)
  fw(700)
  float right
  padding: r(18) 0
  +tab()
    fs(e(14))
  +mob()
    line-height: 3.06;
    float: none
    pt(0)
    pb(0)

  svg
    ml(r(18))
    trans()
    g
      fill $blue
      trans()
  &:hover
    co($blue4)
    svg
      transform translate3d(20px,0,0)
      g
        fill $blue4


