@import "../../utilities/vars"
@import "../../utilities/mixins"

a
  text-decoration none
  font-family $m-font, sans-serif
  color blue
  trans()
  svg g
    trans()
  &:hover
    text-decoration none
    //color lightblue
  &:focus
    text-decoration none
    outline none


.link-logo
  display block
  max-width 136px
  svg
    width 100%
  &:hover
    opacity .6

.link-detail
  display inline-flex
  font-family $a-font,sans-serif
  align-items center
  letter-spacing: 0.5px;
  font-size $e16
  color $blue
  font-weight 700
  float right
  padding: $r15 0;
  +tab()
    fs($e14)
  svg
    margin-left 18px
    trans()
    g
      fill $blue
  &:hover
    color $blue
    svg
      transform translate3d(15px,0,0)


