@import "../../utilities/vars"
@import "../../utilities/mixins"

a
  text-decoration none
  font-family $m-font, sans-serif
  color blue
  trans()
  &:hover
    text-decoration none
    //color lightblue
  &:focus
    text-decoration none
    outline none

.link-logo
  display block
  max-width 50px
  img
    width 100%

.link-detail
  display inline-flex
  font-family $a-font,sans-serif
  align-items center
  letter-spacing: 0.5px;
  font-size $e16
  color $blue
  font-weight 700
  float right
  padding: $r19 0;
  svg
    margin-left 18px
    g
      fill $blue

