@import '../../utilities/vars'
@import '../../utilities/mixins'

ul
  li
    list-style none
    ul
      margin-top $r15
      margin-left $r20

ul, ol
  padding 0
  margin 0
  li
    font-family $m-font, sans-serif

ol
  margin-left $r20
  li
    ol
      margin-top $r15

.ul-regular
  mb($r25)
  li
    position relative
    padding-left $r33
    margin-bottom $r5
    line-height 1.25
    fs($e14)
    color $black-text
    &:before
      pseudo(block, absolute)
      width 14px
      height 3px
      background $blue
      top 7px
      left 0

.ul-lang
  display flex
  justify-content center
  +mob()
    order 2
  li
    margin 0 $r11
    a
      fs($e18)
      font-weight: bold;
      color: $blue-light-back4
      &:hover, &.active
        color $blue-dark

.ul-login
  display flex
  position relative
  padding $r1 0
  &:before
    pseudo(block, absolute)
    width 1px
    height 70px
    background rgba(95, 128, 165, .15)
    left -29px
    top -22px
    +mob()
      display none
  li
    a
      display flex
      align-items center
      color $blue-dark3
      fw(700)
      svg
        mr($r13)
        g
          fill $blue-dark3
      &:hover
        co($blue-light-back4)
        svg g
          fill $blue-light-back4

.ul-social
  display flex
  flex-wrap wrap
  pt($r3)
  mb($r40)
  +mob()
    mt($r43)
  li
    width 100%
    display flex
    align-items center
    mb($r10)

    a
      display flex
      align-items center
      color $white
      fs($e14)
      svg
        margin-right $r12
        g
          fill $white
      &:hover
        color $blue
        svg g
          fill $blue

.ul-values
  df(column)
  flex-wrap wrap
  margin 0 -15px
  li
    flex 1 1 calc(50% - 30px)
    max-width calc(50% - 30px)
    padding-right $r100
    margin 0 15px
    +tab()
      pr($r50)
    +port()
      pr(0)
    +mob()
      flex 1 1 100%
      max-width 100%
      pr(0)
    +land()
      flex 1 1 calc(50% - 30px)
      max-width calc(50% - 30px)

.ul-tablist
  display flex
  box-shadow: 0 10px 30px 0 rgba(94, 107, 126, 0.3);
  //mb($r80)
  +mob()
    flex-wrap wrap
  +land()
    flex-wrap nowrap
  li
    width 100%
    a
      display flex
      font-size: $e16
      font-weight: 700
      font-family $a-font, sans-serif
      line-height: 1.38;
      color: $blue
      background $white
      padding $r12 $r5 $r16
      justify-content center
      align-items center
      text-align center
      position relative
      height 100%

      &:after
        pseudo(block,absolute)
        top 4px
        bottom 4px
        width 1px
        background $blue
        left 0
        +mob()
          left calc(50% - 21px)
          width:42px
          bottom 4px
          top auto
          height 1px
        +land()
          top 4px
          bottom 4px
          height auto
          width 1px
          left 0
      &:hover
        background $blue
        color $white
        box-shadow: 0 10px 30px 0 rgba(24, 111, 240, 0.5);
        width: calc(100% + 1px);
        z-index: 20;
      &.active
        background $black-text4
        color $white
        box-shadow none
        width: calc(100% + 1px);
        z-index: 20;
    &:first-child
      a
        &:after
          display none


.ol-attention
  counter-reset: attention;
  list-style none
  pt($r28)
  ml(0)
  mb($r32)
  display flex
  +mob()
    flex-wrap wrap
  li
    position relative
    pt($r80)
    width 100%
    pr($r60)
    +tab()
      pr($r30)
    +port()
      pr($r20)
    +mob()
      pr($r20)
    +land()
      width 50%
    &:before
      pseudo(block,absolute)
      background $blue
      height 49px
      width 2px
      top 8px
    &:after
      counter-increment: attention;
      content: counters(attention,".") " ";
      left 34px
      top 0
      position absolute
      color $blue-light14
      font-family: $a-font, sans-serif
      font-size: $e70
      font-weight: 700
      letter-spacing: 3.5px;
