@import '../../utilities/vars'
@import '../../utilities/mixins'

//.tabs
//  df(row)
//  margin-bottom $r16
//
//.tabs li
//  a
//    cursor: pointer;
//    padding $r12 $r15 $r13
//    color $black
//    display block
//    trans()
//
//    &:hover
//      color $white
//      background lightblue
//  a.active
//    color $white
//    background blue
//
//
//.tabs-content
//  display: none;
//  padding: $r10 $r15
//  animation: fadeEffect 1s;
//
//.tabs-content.active
//  display block
//
//@keyframes fadeEffect
//  from
//    opacity: 0;
//  to
//    opacity: 1;


.tabs-publication
  position relative
  pb($r37)
  mb($r43)
  +tab()
    ml(-1.876rem)
    mr(-.938rem)
  +port()
    pb($r17)
  +mob()
    pb(0)
    ml(-15px)
    mr(-15px)
    mb($r34)
  &:after
    pseudo(block, absolute)
    width 1170px
    left -210px
    bottom 0
    height 1px
    background $blue-light3
    +mob()
      bottom 3px
  &--ul
    display flex
    padding-top $r19
    padding-bottom $r19
    +mob()
      pt(0)
      pb(0)
    li
      margin-right $r28
      +tab()
        mr($r15)
      +mob()
        mr($r59)
      a
        display block
        font-family $a-font, sans-serif
        font-size: $e16
        font-weight: 700
        letter-spacing: 0.5px
        color: $blue-light
        +tab()
          fs($e14)
        +mob()
          position relative
          pb($r30)
          pl($r16)
          &:after
            pseudo(none, absolute)
            bottom 0px
            width 80px
            height 7px
            bg($blue-light3)

        &.active
          color $blue
          +mob()
            &:after
              display block
          &:hover
            color $blue

        &:hover
          color $blue-dark3
  &--line
    width: 183px;
    height: 3px;
    background-color: $blue-light3
    position absolute
    bottom 42px
    left 22px
    trans()
    +tab()
      left -10px
    +mob()
      display none
  
