a(href='' title='').blog.blog-advantage
    .blog--image
        img(src='img/illus/advantage.png' title='' alt='')
    .blog--description
        h3 Розміщення інформації про компанію на сайті Асоціації
        p Цього року вітчизняна ІТ-галузь здобула численні перемоги на міжнародній арені, а її внесок в економічний розвиток України важко недооцінювати.