a(href='' title='').blog
    .blog--image
        img(src='img/illus/blog.png' title='' alt='')
    .blog--description
        h3 Розміщення інформації про компанію на сайті Асоціації
        p Цього року вітчизняна ІТ-галузь здобула численні перемоги на міжнародній арені, а її внесок в економічний розвиток України важко недооцінювати.

    .blog--date 21.02.18
    .btn-more Читати більше
            include ../../svgs/arrow-right.svg
