a(href='' title='').blog.blog-chief.blog-chief-small
    .blog--image
        img(src='img/illus/chiefs/chief1.png' title='' alt='')
    .blog--description
        h3 Ігор Бєда
        p Виконавчий директор
