.value
    +img('img/illus/values/value3.svg')
    h3 Прозорість та відкритість.
    p Ми культивуємо лише чесні, відкриті та партнерські відносини між учасниками спільноти, іншими суб’єктами індустрії.