.value
    +img('img/illus/values/value14.svg')
    h3 Командна робота.
    p Ми впевнені, що досягти значних результатів значно простіше разом, аніж поодинці. Тому ми створюємо можливості для кооперації та об’єднання зусиль для спільної роботи над ключовими викликами для ІТ-індустрії в країні.