.value
    +img('img/illus/values/value1.svg')
    h3 Розвиток та інноваційність.
    p Ми – проактивна спільнота інноваторів та ентузіастів, які прагнуть сталого розвитку як для своєї справи, так і для всієї країни.