.value
    +img('img/illus/values/value2.svg')
    h3 Взаємоповага та рівність.
    p Ми поважаємо та надаємо однакові умови для всіх учасників, незалежно від обсягів їх бізнесу, внеску в діяльність Асоціації та будь-яких інших показників.