

.comment
  display flex
  box-shadow: 0 10px 30px 0 rgba(94, 107, 126, 0.3);
  min-height 285px
  position relative
  z-index 50
  bg($wt)
  +port()
    flex-wrap wrap
    mb(r(100))
  +mob()
    mb(r(100))
    flex-wrap wrap
  +land()
    mb(r(40))
  &--left
    max-width 150px
    flex 1 1 150px
    position relative
    +port()
      width 100%
      max-width 100%
    +mob()
      width 100%
      max-width 100%
    &-date
      position absolute
      font-size: e(14)
      font-weight: bold;
      color: $blue-light;
      right 0
      bottom 15px
      font-family $a-font, sans-serif
      +port()
        right 25px
      +mob()
        right 25px
        bottom 0
    &-image
      width 150px
      height 150px
      display flex
      align-items center
      justify-content center
      overflow hidden
      trans()
      +mob()
        width 80px
        height 80px
      img
        height 100%
        flex 0 0 auto
  &--right
    padding r(42) r(15) r(44) 0
    ml(r(44))
    position relative
    +tab()
      ml(r(34))
    +port()
      width 100%
      padding-left r(25)
      padding-right r(25)
      ml(0)
    +mob()
      width 100%
      padding-left r(25)
      padding-right r(25)
      ml(0)
      pt(r(25))
    h3
      fs(e(28))
      mb(0)
      +mob()
        fs(e(22))
    h6
      +tab()
        mb(r(16))
    p
      max-height 86px
      overflow hidden
      mb(0)
      +mob()
        max-height 100%
        overflow visible
        mb(r(43))
    &-done
      position absolute
      right 0
      top 36px
      display none
    .btn-more
      position absolute
      bottom 0
      max-width 50%
      &:after
        pseudo(block, absolute)
        bottom -6px
        left 6px
        right 6px
        height: 34px;
        opacity: 0
        filter: blur(12px);
        background-color: $blue2
        z-index -1
        trans()

        visibility hidden


        +mob()
          left 25px
          right 25px
      +port()
        left 0
        pl(r(25))
        min-width 50%
      +mob()
        left 0
        pl(r(25))
        min-width 100%
        bg($blue)
        co($wt)
        svg
          opacity 1
          g
            fill $wt

  &.comment-initiative
    min-height 300px
    .comment--left
      +port()
        max-width 150px
      +mob()
        height 191px
      +land()
        max-width 150px
        height auto
    .comment--left-image
      height 100%
      +mob()
        width auto
      img
        min-height 100%
        flex 0 0 auto
        +mob()
          min-width 100%
          height auto
      &:before
        pseudo(block, absolute)
        opacity 0
        bg($blue-light16)
        top 0
        bottom 0
        left 0
        right 0
        trans()
        z-index 30

    .comment--right
      pt(r(40))
      pr(r(50))
      ml(r(45))
      +tab()
        pr(0)
        mr(r(30))
      +port()
        width calc(100% - 150px - 45px)
      +mob()
        ml(0)
      +land()
        width calc(100% - 150px - 45px)
        ml(r(45))
      h3
        mb(r(3))
        line-height: 1.15;
        fs(e(26))
      h6
        mb(r(28))
      p
        +port()
          max-height 160px
      .btn-more
        pb(r(20))
        pt(r(19))
        +tab()
          max-width 60%
        svg
          top 21px
          right 34px
    &:hover
      .comment--left-image
        img
          filter grayscale(100%)
        &:before
          opacity .6
    &.done
      .comment--right-done
        display block
        +tab()
          right -30px


  &:hover
    box-shadow 0 4px 10px 0 rgba(94, 107, 126, 0.3)
    .btn-more
      background $blue
      co($wt)
      max-width 100%
      pl(r(30))
      svg
        opacity 1
      &:after
        visibility visible
        opacity .7