.comment
  display flex
  box-shadow: 0 10px 30px 0 rgba(94, 107, 126, 0.3);
  min-height 285px
  position relative
  z-index 50
  bg($wt)
  +port()
    flex-wrap wrap
    mb(r(100))
  +mob()
    mb(r(100))
    flex-wrap wrap
  +land()
    mb(r(40))
  &--left
    max-width 150px
    flex 1 1 150px
    position relative
    +mmax(991px)
      width 100%
      max-width 100%
      display flex
    &-date
      position absolute
      font-size: e(14)
      font-weight: bold;
      color: $blue-light;
      right 0
      bottom 15px
      font-family $a-font, sans-serif
      +port()
        right 25px
      +mob()
        right 25px
        bottom 0
    &-image
      width 150px
      height 150px
      display flex
      align-items center
      justify-content center
      overflow hidden
      trans()
      +mob()
        width 80px
        height 80px
      img
        height 100%
        flex 0 0 auto
    &-social
      justify-content center
      display flex
      align-items center
      margin r(2) 0
      fs(e(14))
      fw(400)
      padding r(14) 0 r(16)
      color $blue
      svg
        mr(r(13))
        g
          fill $blue
      &:hover
        bg($blue)
        co($wt)
        svg g
          fill $wt
      +mmax(991px)
        padding-left r(25)
        padding-right r(25)
        &:hover
          color $blue
          bg($wt)
          svg g
            fill $blue

  &--right
    padding r(42) r(15) r(44) 0
    ml(r(44))
    position relative
    +tab()
      ml(r(34))
    +port()
      width 100%
      padding-left r(25)
      padding-right r(25)
      ml(0)
      pb(r(66))
    +mob()
      width 100%
      padding-left r(24)
      padding-right r(24)
      ml(0)
      pt(r(25))
    h3
      fs(e(28))
      mb(0)
      +mob()
        fs(e(22))
    h6
      +tab()
        mb(r(16))
    p
      max-height 86px
      overflow hidden
      mb(0)
      +mob()
        max-height 100%
        overflow visible
        mb(r(43))
    &-done
      position absolute
      right 0
      top 36px
      display none
    .btn-more
      position absolute
      bottom 0
      max-width 50%
      &:after
        pseudo(block, absolute)
        bottom -6px
        left 6px
        right 6px
        height: 34px;
        opacity: 0
        filter: blur(12px);
        background-color: $blue2
        z-index -1
        trans()

        visibility hidden

        +mob()
          display none
      +port()
        left 0
        pl(r(25))
        min-width 50%
      +mob()
        left 0
        pl(r(25))
        min-width 100%
        bg($wt)
        co($blue)
        svg
          opacity 1
          g
            fill $blue

  &:hover
    box-shadow 0 4px 10px 0 rgba(94, 107, 126, 0.3)
    .btn-more
      background $blue
      co($wt)
      max-width 100%
      pl(r(30))
      svg
        opacity 1
      &:after
        visibility visible
        opacity .7
      +mob()
        pl(r(25))
        bg($wt)
        co($blue)
        &:after
          display none
