section.section-comments
    .container
        .row
            .col-sm-8.col-md-9
                    h2.mb-71 Відгуки

            .col-sm-4.col-md-3.col-detail-display
                +link-detail('Усі відгуки')

        .row
            .col-sm-6
                +comment-item-regular('img/illus/comments/comments-regular/comment-regular1.png', '21.02.18', 'Мирон Назаров', 'PR менеджер', 'Insart', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя …')
            .col-sm-6
                +comment-item-regular('img/illus/comments/comments-regular/comment-regular2.png', '21.02.18', 'Іван Микитюк', 'Керівний директор', 'Ciklum', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя …')

        .row
            .col-12.col-detail-mobile
                +link-detail('Усі відгуки')