a(href='' title='').member.member-partner
    .member--image
        +img('img/illus/partners/partner1.png')

    p
        | УкрСиббанк BNP Paribas Group – це банк, що є активним членом IT-асоціації України. Банк пропонує ІТ-фахівцям найкращі продукти та послуги, а також професійну фінансову експертизу. УкрСиббанк також відкриває спеціалізовані відділи поруч із офісами ІТ-компаній.
        | Разом з Startup.Network в 2017 році УкрСибБанк організували «Битву стартапів» для представників FinTech та IT-компаній з 10 українських міст.

    +btn-more('Детальніше')
