a(href='' title='').member.member-partner
    .member--image
        +img('img/illus/partners/partner5.png')

    p
        | PwC надає широкий спектр професіональних послуг, пропонуючи своїм клієнтам страхові, консультативні та податкові рішення. Компанія допомагає клієнтам у різних галузях промисловості по всьому світу збільшити цінність свого бізнесу, зменшити та скерувати ризики, а також поліпшити їхню продуктивність. PwC має більш ніж 236 тисяч співробітників у 157 країнах світу і є найбільшою в світі мережею з надання професійних послуг.

    +btn-more('Детальніше')
