a(href='' title='').member.member-partner
    .member--image
        +img('img/illus/partners/partner2.svg')

    p
        | Компанія Alcor надає своїм клієнтам альтернативні послуги з ВРО порівняно з традиційними аутсорсинговими моделями. Alcor має більш ніж десятирічний досвід на ринку та пропонує своїм клієнтам послуги майже 100 тисяч талановитих українських IT-спеціалістів. Компанія також надає послуги з відкриття R&D-центрів та підтримку проекту замовника у майбутньому – від рекомендацій з розташування офісу до рекрутингу, брендингу, юридичних та фінансових послуг.

    +btn-more('Детальніше')
