a(href='' title='').member.member-partner
    .member--image
        img(src='img/illus/partner.svg' title='' alt='')
    p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI стор […]
    span.btn-more
        | Детальніше
        include ../../../svgs/arrow-right.svg