a(href='' title='').member.member-partner
    .member--image
        +img('img/illus/partner.svg')

    p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI стор […]

    +btn-more('Детальніше')
