section.section-question
    .container
        .row.justify-content-center

            .col-sm-10.col-lg-8.col-xl-6


                form.form-questions
                    h2.text-center Залишились запитання ?
                    .input-group
                        input(type='' placeholder='Ваше ім’я').error
                        .input-error Неправильно введені дані
                    .input-group
                        input(type='' placeholder='E-mail').error
                        .input-error  Введено неіснуючий e-mail
                    .input-group.textarea-group
                        textarea(placeholder='Введіть повідомлення').error
                        .input-error  Заповніть це поле

                    +btn-submit('Відправити')

                .form-questions-success.hidden
                    +img('img/illus/mail-success.svg')
                    h2.text-center Ваш лист успішно відправлено
                    p.text-center Дякуємо, що звернулись до нас. Наш менеджер відповість на ваше запитання в найкоротший термін

                    a(href='' title='').btn.btn-center#btn-question-ok
                        .btn--text Добре
                        .btn--shadow