section.section-question
    .container
        .row.justify-content-center

            .col-sm-10.col-lg-8.col-xl-6
                h2 Залишились запитання ?

                form.form-questions
                    .input-group
                        input(type='' placeholder='Ваше ім’я').error
                        .input-error Неправильно введені дані
                    .input-group
                        input(type='' placeholder='E-mail').error
                        .input-error  Введено неіснуючий e-mail
                    .input-group.textarea-group
                        textarea(placeholder='Введіть повідомлення').error
                        .input-error  Заповніть це поле

                    button(type='submit').btn.btn-plane.btn-center
                        | Відправити
                        include ../../_svgs/arrow-plane.svg