a(href='' title='').comment
    .comment--left
        .comment--left-image
            img(src='img/illus/comment.png' title='' alt='')
        .comment--left-date 21.02.18
    .comment--right
        h3 Мирон Назаров
        h6 PR менеджер
            span.company Insart
        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя …
        .btn-more Читати більше
            include ../svgs/arrow-right.svg