.join
    .join--block
        +img('img/illus/join.png', 'join--block-image')

        p Асоціація проводить роботу для найкращої реалізації інтересів її членів, з організації інформаційної, консультативної та методичної допомоги членам Асоціації.

        +btn('Приєднатись')