.join
    .join--block
        img(src='img/illus/join.png' title='' alt='').join--block-image
        p Асоціація проводить роботу для найкращої реалізації інтересів її членів, з організації інформаційної, консультативної та методичної допомоги членам Асоціації.
    a(href='' title='').btn Приєднатись