.header-article--author
  bg($wt)
  padding r(25) r(34) r(21)
  box-shadow: 0 10px 30px 0 rgba(94, 107, 126, 0.14);
  width 360px
  display flex
  +mob()
    width calc(100% - 30px)
  +xs()
    top: 15px;
  &-year
    co($blue)
    font-family 'Apercu Pro', sans-serif
    fw(700)
    line-height: 1
    fs(e(50))
  &-quart
    co($blue)
    font-family 'Apercu Pro', sans-serif
    fw(700)
    line-height: 1.78;
    fs(e(18))
  &-date
    mr(r(48))
    +xs()
      mr(0)
      mb(r(24))
  &-small
    font-size: e(24)
    font-family $a-font, sans-serif
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 1px;
    color: $blue
    mb(r(9))
  &-button
    .btn
      width: 229px
      fs(e(14))
      padding r(12) 0 r(14)
      letter-spacing: normal


  &.header-article--author-report
    width auto
    pl(r(38))
    +xs()
      flex-wrap wrap
      padding r(24)

  &.header-article--author-event
    pl(r(63))
    pb(r(38))
    width: calc(100% - 19px);
    .header-article--author-date
      margin-right: r(65)
    .ul-status
      padding-top: r(12)
    +xs()
      flex-wrap wrap
      pl(r(24))
      pr(r(24))



.header-article--container
  position absolute
  top calc(100% - 33px)
  left calc(50% - (1170px / 2))
  +tab()
    left calc(50% - (960px / 2))
  +port()
    left calc(50% - (720px / 2))
  +land()
    left calc(50% - (540px / 2))
  +mob()
    left 0




.ul-status
  li
    co(#a0b3c9)
    fs(e(13))
    mb(r(11))
    &:last-child
      mb(r(4))
    b
      mr(r(9))
      co(#053a78)

    .ul-project--done
      co(#176cea)
      fs(16px)
      img
        mr(r(12))
        width 25px
        height 25px
  &-author
    display inline-flex
    &-image
      width: 62px;
      height: 62px;
      border-radius 50%
      overflow hidden
      mr(r(20))
      ml(r(8))
      +mob()
        width 40px
        height 40px
      img
        width 100%
    &-name
      padding-top: r(4)
      h3
        mb(0)
        fs(18px)
        +mob()
          fs(16px)
      h6
        mb(0)

.header-article--image
  position absolute
  left 0
  right 0
  top 121px
  bottom 0
  display flex
  justify-content flex-end
  +mob()
    top 59px
  img
    height 100%
  &:after
    pba()
    right 0
    left 0
    top 0
    bottom 0
    background: linear-gradient(to right, rgba(247,248,249,1) 0%, rgba(247,248,249,1) 50%, rgba(247,248,249,0) 100%);
    +mob()
      opacity .6

.ul-article-eye
  display flex
  max-width 135px
  justify-content space-between
  height 50px
  mb(r(8))
  +xs()
    margin 0 auto r(20)
  li
    display flex
    align-items center
    line-height normal
    co(#a0b3c9)
    fs(e(14))
    svg
      mr(r(11))


.ul-article-share
  display flex
  mb(r(8))
  +xs()
    mb(r(45))
  li
    width 100%
    a
      background $blue
      height 50px
      display flex
      align-items center
      justify-content center

    &:nth-child(1)
      a
        bg($fb)
        &:hover
          box-shadow: 0 4px 18px 0 $fb;

    &:nth-child(2)
      a
        bg($tw)
        &:hover
          box-shadow: 0 4px 18px 0 $tw

    &:nth-child(3)
      a
        bg($li)
        &:hover
          box-shadow: 0 4px 18px 0 $li

    &:nth-child(4)
      a
        bg($go)
        &:hover
          box-shadow: 0 4px 18px 0 $go


.article-news
  h2
     fs(e(28))
     mb(r(47))
  h3
    font-size: e(20)
    line-height: 1.4;
    mt(r(77))
    mb(r(33))
  p
    b
      co(#153b74)
    a
      co($blue)
      text-decoration underline
  img
    mt(r(91))
    mb(r(120))
    +xs()
      mb(r(60))
      mt(r(45))

  .slider-middle
    mt(r(96))
    +xs()
      ml(-15px)
      mr(-15px)
    +land()
      margin-left: 12.3%;
