.row.row-events-year-slide
    .offset-xl-1.col-xl-5.col-sm-6
        .row-events-year-slide--image
            +img('img/illus/slider-events1.png')
    .offset-lg-1.col-xl-4.col-lg-5.col-sm-6
        ul.ul-slider-events-date
            li 23.02
            li Початок о 16:00
        h2 Назва бізнес події №1
        p Щодня наша команда кваліфікованих експертів старанно працює над створенням сприятливих умов для індустрії інформаційних технологій в Україні. У нашій спільноті ви можете як ініціювати роботу над проектами національного масштабу, так і знайти підтримку […]
        +btn-arrow('Перейти до події')