

//video
//  width 100%
//  height 320px
//  margin-bottom r(15)

//.video-youtube
//  width 100%
//  height 320px
//  margin-bottom r(15)

.video-block
  display flex
  justify-content center
  align-items center
  position relative
  mt(r(10))
  mb(r(23))
  +xs()
    margin-right -15px
    margin-left -15px
    width calc(100% + 30px)
  &--play
    position absolute
    width: 90px;
    height: 90px;
    bg($blue)
    border-radius 50%
    display flex
    justify-content center
    align-items center
    pl(r(10))
    pb(r(2))
    z-index 30
    box-shadow: 0px 0px 34px 5px rgba(20, 114, 255, 0.7)
    trans()
    +mob()
      width 55px
      height 55px
      pl(r(5))
      pb(r(1))
    svg
      +mob()
        width 15px
  img
    trans()

  &:hover
    .video-block--play
      box-shadow: 0px 0px 34px 1px rgba(24, 110, 240, .7)
      transform rotate(360deg)
    img
      opacity .6