section
    .container
        .row
            .col-12
                h2 Члени асоціації
    .container.container-slider
        .row
            .col-12
                .slider-block
                    .slider.slider-member.slider-with-line.slider-with-line-sync
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item
                        include slider-member-slides/_member-item

                    //.slider.slider-member-sync.slider-sync

                    .slider-progressbar.slider-progressbar-member
                        .slider-progressbar--track

                a(href='' title='').btn.btn-arrow.btn-arrow-slider
                    | Всі члени Асоціації
                    include ../../svgs/arrow-right.svg