.slider.slider-events-year-header
        div
            include slider-events-year-header/_slider-events-year-header-item
        div
            include slider-events-year-header/_slider-events-year-header-item