section
    .container
        .row
            .col-12
                h2 Партнери
    .container.container-slider
        .row
            .col-12
                .slider-block
                    .slider.slider-partners.slider-with-line.slider-with-line-sync
                        include slider-partners/_member-item-partner1
                        include slider-partners/_member-item-partner2
                        include slider-partners/_member-item-partner3
                        include slider-partners/_member-item-partner4
                        include slider-partners/_member-item-partner5

                    .slider-progressbar.slider-progressbar-partners
                        .slider-progressbar--track

                +btn-slider('Всі партнери')