section
    .container
        .row
            .col-12
                h2.mb-66 Значущі події
    .container.container-slider
        .row
            .col-12
                .slider.slider-about.slider-with-line.slider-with-line-sync
                    include ../../blocks/blog/_blog-item-about
                    include ../../blocks/blog/_blog-item-about
                    include ../../blocks/blog/_blog-item-about
                    include ../../blocks/blog/_blog-item-about
                    include ../../blocks/blog/_blog-item-about
                    include ../../blocks/blog/_blog-item-about
                    include ../../blocks/blog/_blog-item-about
                    include ../../blocks/blog/_blog-item-about
                    include ../../blocks/blog/_blog-item-about

                .slider-progressbar.slider-progressbar-about
                    .slider-progressbar--track