.container.container-big
    .slider.slider-color
        div
            +slider-item-index('NIX Solutions займеться будівництвом студ. кампуса', 'img/illus/slider-color/slide-color1.jpg', 'У Харкові розпочинається будівництво Інноваційного кампуса — спільного проекту НТУ «Харківський політехнічний інститут», проекту Фонду Василя Хмельницького K. Fund UNIT.Factory і найбільшої харківської IT-компанії NIX Solutions.', '21.02.18')
        div
            +slider-item-index('Компанії сформували перелік вимог молодим спеціалістам', 'img/illus/slider-color/slide-color2.jpg', 'ВНЗ зможуть використовувати їх для оновлення навчальних програм, а студенти — для визначення “дорожньої карти” свого кар’єрного розвитку.', '21.02.18')