.slider.slider-events-year-header
        div
            +slider-events-year-header-item('img/illus/slider-events1.png', '23.02', 'Початок о 16:00', 'Назва бізнес події №1', 'Щодня наша команда кваліфікованих експертів старанно працює над створенням сприятливих умов для індустрії інформаційних технологій в Україні. У нашій спільноті ви можете як ініціювати роботу над проектами національного масштабу, так і знайти підтримку […]')
        div
            +slider-events-year-header-item('img/illus/slider-events1.png', '23.02', 'Початок о 16:00', 'Назва бізнес події №1', 'Щодня наша команда кваліфікованих експертів старанно працює над створенням сприятливих умов для індустрії інформаційних технологій в Україні. У нашій спільноті ви можете як ініціювати роботу над проектами національного масштабу, так і знайти підтримку […]')
