section.back-blue-light2
    .container
        .row
            .col-sm-8.col-md-7
                h2 Найближчі Події
            .col-sm-4.col-md-5.col-detail-display
                +link-detail('Усі події')

    .container.container-slider
        .row
            .col-12
                .slider.slider-calendar.slider-with-line
                    div
                        include slider-calendar-slides/_calendar-item-month1
                    div
                        include slider-calendar-slides/_calendar-item1
                    div
                        include slider-calendar-slides/_calendar-item-month2
                    div
                        include slider-calendar-slides/_calendar-item-event1
                    div
                        include slider-calendar-slides/_calendar-item-event-month1

            .col-12.col-detail-mobile
                +link-detail('Усі події')