section
    .container
        .row
            .col-sm-8.col-md-7
                h2 Усі головні події року

    .container.container-slider
        .row
            .col-12
                .slider.slider-calendar.slider-with-line.slider-calendar-year
                    div
                        include slider-calendar-slides/_calendar-item-month
                    div
                        include slider-calendar-slides/_calendar-item-event
                    div
                        include slider-calendar-slides/_calendar-item
                    div
                        include slider-calendar-slides/_calendar-item-event-month
                    div
                        include slider-calendar-slides/_calendar-item
                    div
                        include slider-calendar-slides/_calendar-item
                    div
                        include slider-calendar-slides/_calendar-item-month
                    div
                        include slider-calendar-slides/_calendar-item-event
                    div
                        include slider-calendar-slides/_calendar-item
                    div
                        include slider-calendar-slides/_calendar-item-event-month
                    div
                        include slider-calendar-slides/_calendar-item
                    div
                        include slider-calendar-slides/_calendar-item

            .col-12.col-detail-mobile
                +link-detail('Усі події')