.slider.slider-header.slider-middle
    div
        .slide
            img(src='img/illus/slider-about/slide2.png' title='' alt='')
    div
        .slide
            img(src='img/illus/slider-about/slide1.png' title='' alt='')