section
    .container
        .row
            .col-12
                h2 Партнери
    .container.container-slider
        .row
            .col-12
                .slider-block
                    .slider.slider-partners.slider-with-line.slider-with-line-sync
                        include slider-partners/_member-item-partner.pug
                        include slider-partners/_member-item-partner.pug
                        include slider-partners/_member-item-partner.pug
                        include slider-partners/_member-item-partner.pug
                        include slider-partners/_member-item-partner.pug
                        include slider-partners/_member-item-partner.pug
                        include slider-partners/_member-item-partner.pug
                        include slider-partners/_member-item-partner.pug
                        include slider-partners/_member-item-partner.pug
                        include slider-partners/_member-item-partner.pug

                    .slider-progressbar.slider-progressbar-partners
                        .slider-progressbar--track

                a(href='' title='').btn.btn-arrow.btn-arrow-slider
                    | Всі партенри
                    include ../../svgs/arrow-right.svg