.slider.slider-color
        div
            include slider-color-slides/_slider-item-index1
        div
            include slider-color-slides/_slider-item-index2
        div
            include slider-color-slides/_slider-item-index1
        div
            include slider-color-slides/_slider-item-index2