section
    .container
        .row
            .col-12
                h2 Члени асоціації
    .container.container-slider
        .row
            .col-12
                .slider-block
                    .slider.slider-member.slider-with-line.slider-with-line-sync
                        include slider-member-slides/_member-item1
                        include slider-member-slides/_member-item2
                        include slider-member-slides/_member-item3
                        include slider-member-slides/_member-item4
                        include slider-member-slides/_member-item5
                        include slider-member-slides/_member-item6
                        include slider-member-slides/_member-item7
                        include slider-member-slides/_member-item8
                        include slider-member-slides/_member-item9
                        include slider-member-slides/_member-item10
                        include slider-member-slides/_member-item11
                        include slider-member-slides/_member-item12
                        include slider-member-slides/_member-item13


                    .slider-progressbar.slider-progressbar-member
                        .slider-progressbar--track


                +btn-slider('Всі члени Асоціації')