.blog

  &.blog-chief
    mb(r(41))
    +mob()
      mb(r(64))
    .blog--image
      height 181px
      mb(r(40))
      +mob()
        mb(r(33))
      +xs()
        img
          min-height 100%
          width 100%
          height auto
    h3
      fs(e(20))
      mb(r(32))
      +mob()
        mb(r(13))

    &.blog-chief-small
      mb(r(83))
      +mob()
        mb(r(61))
      h3
        mb(r(12))
    &:hover
      .blog--image
        img
          opacity 1





