::selection
  bg($blue-light4)
  co($wt)

h5, h6, p, ul li, ol li, blockquote, cite
  font-family $m-font, sans-serif

h1, h2, h3, h4
  font-family $a-font, sans-serif

h1
  font(e(44), 700, 1.11)
  mb(r(43))
  letter-spacing: 1px;
  co($wt)
  +mob()
    font-size: 2.5em
    mb(r(24))


h2
  font(e(32), 700, 1.19)
  mb(r(36))
  letter-spacing: 1px;
  color: $blue-dark
  +mob()
    fs(e(24))
    mb(r(24))

  &.h2-public
    +mob()
      mb(r(5))

  &.h2-project
    position absolute
    top 0
    left 15px
    +xs()
      position static



h3
  font(e(18), 700, 1.45)
  mb(r(15))
  co($blue-dark3)

h4
  font(e(24), 700, 1.75)
  mb(r(17))
  letter-spacing: 0.8px;
  co($blue)

h5
  font(e(26), 400, 1.88)
  mt(r(51))
  mb(r(21))
  co($wt)
  +mob()
    mt(0)
    fs(e(24))
    line-height 1.17
    mb(r(33))
  +land()
    mt(r(51))

h6
  font(e(16), 400, 1.25)
  mb(r(40))
  co($blue-light4)
  .company
    text-decoration underline
  +mob()
    mb(r(24))

p
  font(e(14), 400, 1.58)
  co($black-text)
  mb(r(22))

hr
  border: 0;
  height: 1px;
  bg($blue-light3)
  margin r(42) 0
  width calc(100% + 30px)
  position relative
  left -15px

.heading-h1-h2
  display flex
  flex-wrap wrap
  mb(r(36))
  +mob()
    mb(r(24))
  h2
    mr(r(13))
    mb(0)
    +mmax(991px)
      line-height 1.3
  h1
    fs(e(32))
    line-height 1.19
    color: $blue-dark
    mb(0)
    +mob()
      fs(e(24))
    +mmax(991px)
      line-height 1.3

.tablist-choose
  fs(e(16))
  fw(700)
  line-height: 1.38;
  co($blue-light13)
  mb(r(14))
  &.big
    mt(r(14))
    line-height: 1.22;
    fs(e(18))


//  MARGINS
.mb-51
  mb(r(51))

.mb-66
  mb(r(66))

.mb-43
  mb(r(43))

.mb-37
  mb(r(37))

.mb-mt-43-38
  mt(r(38))
  mb(r(43))

.mb-mt-81-30
  mt(r(30))
  mb(r(81))

.mb-mt-82-90
  mt(r(90))
  mb(r(82))