.slider-with-line
  position relative

  pb(r(57))
  pt(0)
  mb(0)

  +mob()
    margin: 0 -15px
    pb(r(44))
  &:after
    pseudo(block, absolute)
    width 200vw
    background $blue
    height 1px
    bottom 61px
    left -50vw
    +mob()
      bottom 47px

  .slick-track
    left 113px
    +tab()
      left: 31px;
    +port()
      left: 31px;
    +mob()
      left 0

  .slick-list
    &:after, &:before
      pseudo(block, absolute)
      top 0
      bottom 20px
      width 9.3vw
      z-index 300
      +tab()
        width 5.25vw
      +port()
        display none
      +mob()
        display none
    &:before
      left 0
      +tab()
        left -5vw

    &:after
      right 0
      +tab()
        right -15px
  .arrow.left
    left calc(1410px - 50%)
    +tab()
      left calc(946px - 50%)
    +port()
      left auto
      right calc(300px + 30px + 82px)
    +mob()
      right calc(15px + 64px)
      left auto
    +land()
      right: calc(300px + 15px + 15px + 64px);
  .arrow.right
    left calc(1410px - 50% + 82px)
    +tab()
      left calc(946px - 50% + 82px)
    +port()
      left auto
      right calc(300px + 30px)
    +mob()
      right 15px
      left auto
    +land()
      right: calc(300px + 15px + 15px);

.slider-with-line.slider-with-line-sync
  padding-bottom r(97)
  +tab()
    ml(-15px)
    mr(-15px)
  +port()
    ml(-15px)
    mr(-15px)
  +mob()
    pb(r(50))
  .slick-list
    &:after, &:before
      background: rgba(255, 255, 255, 1);
    &:before
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    &:after
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  .slick-track
    padding-top r(25)
    padding-bottom: r(30)
    +mob()
      pt(0)
      left: 15px;

.slider-progressbar
  position absolute
  left 128px
  right calc(150px + (1170px / 2) + 180px)
  width auto
  bottom 65px
  +tab()
    left 50px
    right calc(150px + (960px / 2) + 180px)
  +port()
    left 50px
    right calc(150px + (720px / 2) + 80px)
  +mob()
    bottom 51px
    left 0
    right calc(65px + 65px + 30px + 80px)
  +land()
    right calc(65px + 65px + 30px + 300px + 80px + 15px)
  &--track
    width 0
    position relative
    right -180px
    trans()
    +port()
      right -80px
    +mob()
      right -80px
    &:after
      pseudo(block, absolute)
      right 0
      top 0
      bottom 0
      height 7px
      width 180px
      background $blue
      +port()
        width: 80px;
      +mob()
        width 50px
