//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | IT Ukraine Association - Бізнес про нас


block content

    include partials/sections/headers/_header-advantages

    section.back-blue-light
        .container
            .row
                .col-12
                    h2 Наші цінності
                    hr
                    ul.ul-values
                        li
                            include partials/blocks/value/_value-item1
                        li
                            include partials/blocks/value/_value-item4
                        li
                            include partials/blocks/value/_value-item2
                        li
                            include partials/blocks/value/_value-item5
                        li
                            include partials/blocks/value/_value-item3

    include partials/sections/_comments

    include partials/sections/_members

