.comment
  &.comment-initiative

    height 295px
    +xs()
      height auto

    .comment--left
      +port()
        max-width 150px
      +mob()
        height 191px
      +land()
        max-width 150px
        height auto
      +xs()
        height 156px
        max-width 80px
    .comment--left-image
      height 100%
      +mob()
        width auto
      img
        min-height 100%
        flex 0 0 auto
        +mob()
          min-width 100%
          height auto
      &:before
        pseudo(block, absolute)
        opacity 0
        bg($blue-light16)
        top 0
        bottom 0
        left 0
        right 0
        trans()
        z-index 30

    .comment--right
      pt(r(40))
      pr(r(50))
      ml(r(45))
      +tab()
        pr(0)
        mr(r(30))
      +port()
        width calc(100% - 150px - 45px)
      +mob()
        ml(0)
      +land()
        width calc(100% - 150px - 45px)
        ml(r(45))
      +xs()
        max-width calc(100% - 80px)
        pt(0)
        pr(r(24))
        pb(0)
      h3
        mb(r(3))
        line-height: 1.15;
        fs(e(26))
        +xs()
          height 156px
          display flex
          align-items center
          mb(0)
      h6
        mb(r(28))
      p
        +port()
          max-height 160px
      &-description
        +xs()
          width: calc(100vw - 45px);
          position: relative;
          left: -104px;
          padding r(17) r(24) r(44)
    &:hover
      .comment--left-image
        img
          filter grayscale(100%)
        &:before
          opacity .6
    &.done
      .comment--right-done
        display block
        +tab()
          right -30px