//  PRELOADER
//@import 'partials/preloader'

//  FONTS
@import 'partials/fonts'

//  BODY
@import 'partials/body'

//  TYPOGRAPHY
@import 'partials/typography'

//  QUOTES
//@import 'partials/quotes'

//  TEXT-ALIGNS
//@import 'partials/text-align'