

.director
  &--position
    color $blue-dark
    line-height 1
    fs(e(16))
    mb(r(43))
    +mob()
      mb(r(30))
  &--profession
    co($blue-light4)
    mb(r(34))
  h3
    font-size: e(24)
    line-height: 1.17;
    mb(r(2))
