

.director
  &--position
    color $blue-dark
    line-height 1
    fs(e(16))
    mb(r(43))
    +mob()
      mb(r(24))
  &--profession
    co($blue-light4)
    mb(r(34))
  p
    &:last-child
      +mob()
        mb(0)
  h3
    font-size: e(24)
    line-height: 1.17;
    mb(r(2))
    +mob()
      fs(e(20))
      mb(r(10))

  &.director-small
    h3
      mt(r(24))
      fs(e(36))
      mb(0)
    .director--profession
      fs(e(16))
