//img {}

.img-responsive
  width 100%

.img-director
  width 100%
  //mb(r(50))
  +mob()
    mb(r(35))

.img-gallery--item
  mb(r(87))
  display block
  +tab()
    mb(r(67))
  +port()
    mb(r(47))
  +mob()
    mb(r(37))