section.section-share
    .container
        .row
            .col-sm-3.col-lg-2
                ul.ul-article-eye
                    li
                        include ../../_svgs/eye.svg
                        | 101
                    li
                        include ../../_svgs/share.svg
                        | 53
            .col-sm-7.col-md-5.col-lg-4
                ul.ul-article-share
                    li
                        a(href='' title='')
                            include ../../_svgs/facebook2.svg
                    li
                        a(href='' title='')
                            include ../../_svgs/twitter.svg
                    li
                        a(href='' title='')
                            include ../../_svgs/linkedin.svg
                    li
                        a(href='' title='')
                            include ../../_svgs/google.svg

            .col-12
                hr