.section-share
  pb(r(9))
  +mob()
    pt(0)





.ul-article-share
  display flex
  mb(r(8))
  &.hide
    display none
  +xs()
    mb(r(45))
  li
    width 100%
    a
      background $blue
      height 50px
      display flex
      align-items center
      justify-content center

      &.share-fb
        bg($fb)
        &:hover
          box-shadow: 0 4px 24px 0 $fb;

      &.share-tw
        bg($tw)
        &:hover
          box-shadow: 0 4px 24px 0 $tw

      &.share-li
        bg($li)
        &:hover
          box-shadow: 0 4px 24px 0 $li

      &.share-go
        bg($go)
        &:hover
          box-shadow: 0 4px 24px 0 $go