.slider-project
  &.slider-with-line.slider-with-line-sync
    .slick-track
      left 0
      pt(r(3))
      pb(r(22))
  &--slide
    h2
      mb(r(32))
  &--image
    position absolute
    left 0
    bottom 0
    width: 100%
    height: 300px;
    display flex
    align-items center
    justify-content center
    overflow hidden
    +xs()
      position static
      height 210px
      mb(r(25))
    img
      height 100%
      +xs()
        height auto
        width 100%
  p
    height 177px
  .btn-more
    position absolute
    left 15px
    bottom 0
    max-width 263px
    .btn--text
      bg($blue)
      co($wt)
      pl(r(30))
      +land()
        pb(r(16))
      +xs()
        pt(r(22))
        pb(r(23))
      svg
        opacity 1
        g
          fill $wt
    .btn--shadow
      opacity 1
      bottom 3px
    +mob()
      position relative
      left auto
    +xs()
      max-width 100%
      mb(r(9))
      fs(e(18))



    //+mob()
    //  bg($blue)
    //  co($wt)
    //  pl(r(30))
    //  max-width 263px
    //  position relative
    //  left auto
    //  svg
    //    opacity 1
    //    g
    //      fill $wt
    //+xs()
    //  max-width 100%
    //  fs(e(18))
    //  pl(r(38))
    //  pt(r(21))
    //  pb(r(23))
    //  &:hover
    //    max-width 100%
    //  svg
    //    right 38px
    //    width 25px
    //    top 25px

.slider-project--slide
  .ul-project--done
    display none

  &.done
    .ul-project--done
      display flex
