section.section-project
    .container
        .row
            .col-12
                h2.h2-project Ключові ініціативи

    .container.container-slider
        .row

            .col-12
                .slider.slider-project.slider-with-line.slider-with-line-sync
                    +slider-project-item('img/illus/projects/project1.png', 'Проект', 'PR комітету', 'Імпорт прототипів \n' +
                    'для R&D цілей', 'Join IT – це група освітніх проектів з популяризації IT-галузі серед дітей та підлітків, що прагнуть відкрити в собі хист до творчості та пов’язати своє майбутнє з новітніми технологіями, які вже сьогодні змінюють наш світ. Ми хочемо, щоб наступне покоління українців не сприймало …')
                    +slider-project-item-done('img/illus/projects/project1.png', 'Проект', 'PR комітету', 'Імпорт прототипів \n' +
                    'для R&D цілей', 'Join IT – це група освітніх проектів з популяризації IT-галузі серед дітей та підлітків, що прагнуть відкрити в собі хист до творчості та пов’язати своє майбутнє з новітніми технологіями, які вже сьогодні змінюють наш світ. Ми хочемо, щоб наступне покоління українців не сприймало …')

                .slider-progressbar.slider-progressbar-project
                    .slider-progressbar--track
