.slider-about
  &.slider-with-line.slider-with-line-sync
    .blog.blog-about
      margin 0 r(15)
    .slick-track
      pt(0)
      pb(0)
      +port()
        left: 23px;
      +mob()
        left 0