section
    .container
        .row
            .col-12
                h2.mb-66 Значущі події
    .container.container-slider
        .row
            .col-12
                .slider.slider-about.slider-with-line.slider-with-line-sync
                    +blog-item-about('img/illus/about/about1.jpg', 'Зустріч членів асоціації з приводу розвитку культури праці на Європейський ринок')
                    +blog-item-about('img/illus/about/about2.jpg', 'Зустріч членів асоціації з приводу розвитку культури праці на Європейський ринок')
                    +blog-item-about('img/illus/about/about3.jpg', 'Зустріч членів асоціації з приводу розвитку культури праці на Європейський ринок')
                    +blog-item-about('img/illus/about/about4.jpg', 'Зустріч членів асоціації з приводу розвитку культури праці на Європейський ринок')


                .slider-progressbar.slider-progressbar-about
                    .slider-progressbar--track