a(href='' title='').comment

    .comment--left
        .comment--left-image
            +img('img/illus/comments/comments-regular/comment-regular3.jpg')
        .comment--left-date 21.02.18

    .comment--right
        h3 Дмитро Овчаренко
        h6 СЕО
            | &nbsp;
            span.company ALCOR
        p Не дивлячись на конкуренцію між представниками ІТ-ринку, існують певні стратегічні питання, які не можуть бути вирішені самотужки, але від результату яких залежить успішність всієї галузі. Зокрема, це законодавче врегулювання роботи ІТ-сфери, освіта, промоція індустрії в Україні та за її межами.

        +btn-more('Читати більше')