a(href='' title='').comment

    .comment--left
        .comment--left-image
            +img('img/illus/comments/comments-regular/comment-regular1.png')
        .comment--left-date 21.02.18

    .comment--right
        h3 Мирон Назаров
        h6 PR менеджер
            | &nbsp;
            span.company Insart
        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя …

        +btn-more('Читати більше')