a(href='' title='').comment

    .comment--left
        .comment--left-image
            +img('img/illus/comments/comments-regular/comment-regular6.jpg')
        .comment--left-date 21.02.18

    .comment--right
        h3 Юрій Антонюк
        h6 Голова
            | &nbsp;
            span.company EPAM Ukraine
        p Компанія EPAM Ukraine є учасником Асоціації «ІТ Україна» з 2007 року. Зусиллями однієї компанії не досягти змін умов на ринку, тому ми прийняли рішення приєднатися до організації. За цей час Асоціація показала себе як незалежний майданчик, що забезпечував ефективний діалог як всередині ІТ-спільноти, так і з урядом та суспільством.

        +btn-more('Читати більше')