a(href='' title='').comment

    .comment--left
        .comment--left-image
            +img('img/illus/comments/comments-regular/comment-regular4.jpg')
        .comment--left-date 21.02.18

    .comment--right
        h3 Микола Роєнко
        h6 засновник і президент
            | &nbsp;
            span.company Miratech
        p Потреба підприємств (або співробітників) спілкуватися з колегами, обмінюватися думками, ділитися досвідом, спільно вирішувати загальні проблеми і т.д. є об'єктивною основою того, що в світі існує безліч різних асоціацій - галузевих, професійних, територіальних, наукових, спортивних та ін. Багато з них об'єднують в своїх рядах величезну кількість членів.

        +btn-more('Читати більше')