

.attention
  box-shadow: 0 10px 30px 0 rgba(94, 107, 126, 0.3);
  border 8px solid $blue
  border-bottom 0
  position relative
  padding r(62) r(87) r(41)
  mb(r(11))
  +port(991px)
    padding r(31) r(43) r(21)
  +mob()
    padding r(82) r(17)
  &--mark
    color: $blue-light
    text-align center
  .btn
    position absolute
    bottom -30px
    left calc(50% - (292px / 2))
    max-width 292px
    font-size: e(20)
    padding-top: r(19)
    padding-bottom: r(23)
    letter-spacing: 1px;
    +xs()
      left 15px
      right 15px
      max-width 100%
      width calc(100% - 30px)
      text-align center
      svg
        display none
  h2
    +mob()
      fs(e(28))