

body.brow-firefox
  .member
    &:hover
      box-shadow: 0 10px 15px 0 rgba(94, 107, 126, 0.3);

body.brow-safari
  .member
    &:hover
      box-shadow: 0 10px 15px 0 rgba(94, 107, 126, 0.3);


  .btn:after, .comment--right .btn-more:after
    bottom 12px
    background $tr
    filter none
    height 0
    left 26px
    right 26px
    box-shadow: 0px 0px 20px 12px rgba(20,114,255,1);


