a(href='' title='').calendar
    .calendar--block
        .calendar--block-date
            .calendar--block-date--date 15.02
            .calendar--block-date--text
                | Початок о 16:00
        h3 Програма розвитку з ділової англійської
        .calendar--block-button
            | Перейти до події
            include ../../svgs/arrow-right.svg
