section
    .container
        .row
            .col-sm-8.col-md-7
                h2 Усі головні події року

    .container.container-slider
        .row
            .col-12
                .slider.slider-calendar.slider-with-line.slider-calendar-year.slider-calendar-year-bottom
                    div
                        +calendar-item('21.04', 'Початок о 9:00', 'AI&BigData Conference 2018')
                    div
                        +calendar-item('25.04', 'Початок о 16:00', 'Конференція «Забезпечення безпеки кіберпростору в системі національної безпеки України»')
                    div
                        +calendar-item-month('18.05', 'Початок о 18:30', 'Хакатон Синхро-Простір', 'Травень')
                    div
                        +calendar-item-event('21.05', 'Початок о 9:30', 'INTAX FORUM UKRAINE - ІНВЕСТИЦІЇ. ФІНАНСИ. ПОДАТКИ. ПРАВО', 'Подія Асоціації')
                    div
                        +calendar-item-event-month('21.06', 'Початок о 10:00', 'M-FORCE18 від Miratech', 'Червень', 'Подія Асоціації')

