.calendar
  display block
  position relative
  margin r(15) r(15) 0
  max-width 263px
  +mob()
    mt(0)
  &--mark
    display flex
    &-text
      position relative
      font-family $a-font, sans-serif
      font-weight: 700;
      padding-bottom r(28)
      color $blue-light4
      &:after
        pseudo(block, absolute)
        width: 50px;
        height: 7px;
        background $blue
        bottom 0px
        left 0
    &-event
      line-height: 1.86;
      fs(e(14))
      &:after
        width: 15px;
        height: 7px;
        bottom 1px
    &-month
      fs(e(22))
      line-height: 1.18;
      margin-right r(30)
      max-height: 53px;

  &--block
    box-shadow: 0 10px 23px 0 rgba(94, 107, 126, 0.3);
    border 6px solid $wt
    padding: r(32) r(21) r(32) r(23)
    height 230px
    position relative
    z-index 40
    mb(r(26))
    bg($wt)
    trans()
    &:after
      pseudo(block, absolute)
      top 9px
      bottom 9px
      left 9px
      right 9px
      background $blue
      opacity 0
      trans()
      z-index -1
    h3
      trans()
      max-height 80px
      overflow hidden
    &-date
      display flex
      align-items center
      justify-content space-between
      margin-bottom r(31)
      +mob()
        mb(r(21))
      &--date
        font-size: e(34)
        font-weight: bold;
        co($blue)
        font-family $a-font, sans-serif
        trans()
      &--text
        font-size: 14px;
        line-height: 1.43;
        co($blue-light4)
        trans()

    &-button
      position absolute
      left 24px
      bottom 35px
      font-family: $a-font, sans-serif
      font-size: e(16)
      fw(700)
      letter-spacing: 0.5px;
      display block
      right 20%
      opacity 0
      co($wt)
      trans()
      svg
        position absolute
        right 0
        top 1px
        height: 12px;
        width: 20px
        g
          fill $wt
    +mmin(768px)
      &:hover
        box-shadow: 0 3px 8px 0 rgba(94, 107, 126, 0.3);
        &:after
          opacity 1
        .calendar--block-button
          opacity 1
        .calendar--block-date--date
          co($wt)
        .calendar--block-date--text
          opacity 0
        .calendar--block-button
          right 23px
        h3
          opacity 0


  &.calendar-event
    .calendar--block
      border-color $blue

  &.calendar-report
    width: 100%
    margin 0
    max-width 100%
    +mob()
      width: 263px;
    .calendar--block
      height: 200px;
      border none
      padding: r(39) r(31) r(39) r(29)
      box-shadow: 0 10px 30px 0 rgba(94, 107, 126, 0.3);
      margin-bottom r(50)
      &:after
        display none
      .btn-more
        opacity 0
        .btn--text
          pt(r(17))
          pb(r(19))

      &:hover
        +mmin(768px)
          .calendar--block-date--date
            color $blue
          h3
            opacity 1
          .btn-more
            opacity 1
            max-width 100%
            .btn--text
              pl(r(32))
              co($wt)
              bg($blue)
              svg
                opacity 1
                g
                  fill $wt

    .calendar--block-date
      mb(0)
      line-height: .8;
    .calendar--block-date--date
      fs(e(50))
      mb(0)
    h3
      co($blue)
    .calendar--block-date--text
      position absolute

      bottom: 16px;
      left: 31px;

      fs(e(16))
      line-height: 1.25
    &.calendar-report-year
      .calendar--block
        box-shadow: 0 10px 28px 0 rgba(94, 107, 126, 0.3);
        border 6px solid $blue
        border-top 0
        padding: r(34) r(27) r(39) r(26)
        &:after
          display block
          top 0
          left 0
          right 0
          bottom 0
        +mmin(768px)
          &:hover
            .calendar--block-date--date
              co($wt)
            .btn-more
              .btn--text
                bg($tr)
      .calendar--block-date--text
        left 27px


