mixin member-item(img)
    a(href='' title='').member.member-regular
        .member--image
            +img(img)
        ul.member--tags
            li Дизайн
            li Програмування
            li Програмування
            li SMM

        +btn-more('Детальніше')