a(href='' title='').member.member-regular
    .member--image
        img(src='img/illus/member.png' title='' alt='')
    ul.member--tags
        li Дизайн
        li Програмування
        li Програмування
        li SMM
    span.btn-more
        | Детальніше
        include ../../../svgs/arrow-right.svg