a(href='' title='').member.member-regular
    .member--image
        +img('img/illus/members/member3.png')
    ul.member--tags
        li Дизайн
        li Програмування
        li Програмування
        li SMM

    +btn-more('Детальніше')
