@import "slider/slider.styl"
@import "slider/slider-with-line.styl"
@import "slider-color/slider-color.styl"
@import "slider-calendar/slider-calendar.styl"
@import "slider-events/slider-events-header.styl"


@import "slider-middle/slider-middle.styl"
@import "slider-header/slider-header.styl"

@import "slider-about/slider-about.styl"


