.form-filter
  display flex
  justify-content space-between
  mb(r(59))
  +xs()
    flex-wrap wrap
    pt(r(5))
  .select-group
    flex 1 1 calc(50% - 15px)
    max-width calc(50% - 15px)
    mb(0)
    +xs()
      flex 1 1 100%
      max-width 100%
      mb(r(26))
  .input-group
    flex 1 1 calc(50% - 15px)
    max-width calc(50% - 15px)
    +xs()
      flex 1 1 100%
      max-width 100%

  .input-group-blue
    .input-group--button
      top -1px

