.form-filter
  display flex
  justify-content space-between
  mb(r(60))
  +xs()
    flex-wrap wrap
  .select-group
    flex 1 1 calc(50% - 15px)
    max-width calc(50% - 15px)
    mb(0)
    +xs()
      flex 1 1 100%
      max-width 100%
  .input-group
    flex 1 1 calc(50% - 15px)
    max-width calc(50% - 15px)
    +xs()
      flex 1 1 100%
      max-width 100%

