$bk = #000
$wt = #fff
$gr = #a9a9a9
$gr2 = #ccc
$tr = transparent

$wt15 = rgba(255,255,255,.15)
$wt20 = rgba(255,255,255,.2)
$wt30 = rgba(255,255,255,.3)
$wt60 = rgba(255,255,255,.6)

$black-text = #768190
$black-text2 = #52555a
$black-text3 = #677b90
$black-text4 = #94a4ba

$black-back = #303339
$black-back2 = #484a4e


$gray-text = #777a81

$blue-light = #c7d3df
$blue-light2 = #d2d9e2
$blue-light3 = #e3e7ec
$blue-light4 = #a0b3c9
$blue-light5 = #e2e8ee
$blue-light6 = #8297af
$blue-light7 = #aebfd2
$blue-light8 = #ABCDFF
$blue-light9 = #d6dce4
$blue-light10 = #aab2bb
$blue-light11 = #e0e6ef
$blue-light12 = #c6cfda
$blue-light13 = #b7c4d3
$blue-light14 = #e5e8eb
$blue-light15 = #c8d1de
$blue-light16 = #c8d9ef


$blue-light-back = #f7f8f9
$blue-light-back2 = #e6ebef
$blue-light-back3 = #f3f5f8
$blue-light-back4 = #bec9d6
$blue-light-back5 = #f5f5f5

$blue = #186ff0
$blue2 = #1472ff
$blue3 = #0057DB
$blue4 = #1159c5

$blue-dark = #053a78
$blue-dark2 = #144682
$blue-dark3 = #264a75
$blue-dark4 = #617790
$blue-dark5 = #5f80a5