co($txtcolor)
  color $txtcolor

bg($bgcolor)
  background-color $bgcolor

$black = #000
$white = #fff
$gray = #a9a9a9
$trans = transparent

$white15 = rgba(255,255,255,.15)
$white20 = rgba(255,255,255,.2)
$white30 = rgba(255,255,255,.3)
$white60 = rgba(255,255,255,.6)

$black-text = #768190
$black-text2 = #52555a

$black-back = #303339
$black-back2 = #484a4e

$gray-text = #777a81

$blue-light = #c7d3df
$blue-light2 = #d2d9e2
$blue-light3 = #e3e7ec
$blue-light4 = #a0b3c9
$blue-light5 = #e2e8ee
$blue-light6 = #8297af
$blue-light7 = #aebfd2
$blue-light8 = #ABCDFF


$blue-light-back = #f7f8f9
$blue-light-back2 = #e6ebef
$blue-light-back3 = #f3f5f8
$blue-light-back4 = #bec9d6

$blue = #186ff0
$blue2 = #1472ff
$blue3 = #0057DB

$blue-dark = #053a78
$blue-dark2 = #144682
$blue-dark3 = #264a75
$blue-dark4 = #617790
$blue-dark5 = #5f80a5



