//.tabs
//  df(row)
//  margin-bottom r(15)
//
//.tabs li
//  a
//    cursor: pointer;
//    padding r(15) r(15) $r13
//    color $black
//    display block
//    trans()
//
//    &:hover
//      color $wt
//      background lightblue
//  a.active
//    color $wt
//    background blue
//
//
//.tabs-content
//  display: none;
//  padding: $r10 r(15)
//  animation: fadeEffect 1s;
//
//.tabs-content.active
//  display block
//
//@keyframes fadeEffect
//  from
//    opacity: 0;
//  to
//    opacity: 1;


.tabs-publication
  position relative
  pb(r(37))
  mb(r(43))
  +tab()
    ml(-1.876rem)
    mr(-.938rem)
  +port()
    pb(r(17))
  +mob()
    pb(0)
    ml(-15px)
    mr(-15px)
    mb(r(26))
  &:after
    pseudo(block, absolute)
    width 1170px
    left -210px
    bottom 0
    height 1px
    bg($blue-light3)
    +mob()
      bottom 3px
  &--ul
    display flex
    pt(r(14))
    pb(r(19))
    +mob()
      pt(0)
      pb(0)
    li
      mr(r(28))
      +tab()
        mr(r(15))
      +mob()
        mr(r(15))
      a
        display block
        font-family $a-font, sans-serif
        fs(e(16))
        fw(700)
        letter-spacing: 0.5px
        co($blue-light)
        +tab()
          fs(e(14))
        +mob()
          position relative
          pb(r(36))
          pl(r(16))
          fs(e(14))
          &:after
            pseudo(none, absolute)
            bottom 0px
            width 80px
            height 7px
            bg($blue-light3)

        &.active
          co($blue)
          +mob()
            &:after
              display block
          +mmin(768px)
            &:hover
              co($blue)
        +mmin(768px)
          &:hover
            co($blue-dark3)
  &--line
    width: 183px;
    height: 3px;
    bg($blue-light3)
    position absolute
    bottom 42px
    left 22px
    trans()
    +tab()
      left -10px
    +mob()
      display none
  
